<div class="col-md-12 scroltable">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <h3>Log de Tentativas de Vendas com Erro - Todas as Operadoras</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Usuário</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Título</label>
            <div>
              <input type="text" name="titulo" value="<%= params[:titulo] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Log</label>
            <div>
              <input type="text" name="log" value="<%= params[:log] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>         
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-12 scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 25%">Dados</th>
          <th scope="col">Log Completo</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @log_vendas.each do |log_venda| %>
        <tr>
        <td>
          <b>Usuário:</b> <%= log_venda.usuario.nome rescue "" %><br>
          <b>Descricão:</b> <%= log_venda.titulo %>
        </td>
          <td><%= log_venda.log %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @log_vendas, :container => false %>
    </div> 

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>

  </div>
</div>