<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Mostrar Relatório de Conciliação ZAPTV</h3>
  </div>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Parceiro:</dt>
      <dd><%= @relatorio_conciliacao_zaptv.partner.name %></dd>
      <dt>URL de Integração:</dt>
      <dd><%= @relatorio_conciliacao_zaptv.url %></dd>
      <dt>Operation Code (ID ZAP):</dt>
      <dd><%= @relatorio_conciliacao_zaptv.operation_code %></dd>
      <dt>Source Reference (ID Interno Pagasó):</dt>
      <dd><%= @relatorio_conciliacao_zaptv.source_reference %></dd>
      <dt>Código do Produto:</dt>
      <dd><%= @relatorio_conciliacao_zaptv.product_code %></dd>
      <dt>Quantidade:</dt>
      <dd><%= @relatorio_conciliacao_zaptv.quantity %></dd>
      <dt>Data e Hora:</dt>
      <dd><%= @relatorio_conciliacao_zaptv.date_time %></dd>
      <dt>Tipo Transação:</dt>
      <dd><%= @relatorio_conciliacao_zaptv.type_data %></dd>
      <dt>Valor Total:</dt>
      <dd><%= number_to_currency(@relatorio_conciliacao_zaptv.total_price) %></dd>
      <dt>Status:</dt>
      <dd><%= @relatorio_conciliacao_zaptv.status %></dd>
      <dt>Valor Unitário:</dt>
      <dd><%= number_to_currency(@relatorio_conciliacao_zaptv.unit_price) %></dd>
      <dt>Número do Cartão ZAPPI:</dt>
      <dd>
          <% @relatorio_conciliacao_zaptv.vendas.each do |venda| %>
              <a href="/vendas/<%= venda.id %>">
                <%= venda.zappi %>
              </a>
          <% end %>
      </dd>
    </dl>

    <div class="page-header">
      <%= link_to "javascript:history.go(-1)", class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
    </div>
  </div>
</div>