<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Status de Produtos</h3>
  </div>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12" style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Descrição</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" class="btn btn-info" value="Buscar">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
        </div>
      </div>
    </form>

    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-center">ID do Registo</th>
            <th scope="col">Descrição do Status</th>
            <th colspan="3">Ações para o Registo</th>
          </tr>
        </thead>

        <tbody>
          <% @status_produtos.each do |status_produto| %>
          <tr>
            <td class="text-center"><%= status_produto.id %></td>
            <td><%= status_produto.nome %></td>
            <td><%= link_to 'Editar', edit_status_produto_path(status_produto) %></td>
            <td><%= link_to 'Apagar', status_produto, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="apple_pagination">
        <%= will_paginate @status_parceiros, :container => false %>
      </div>

      <%= link_to new_status_produto_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-plus"></span>
        Novo Registo
      <% end %>    

      <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>    
    </div>
</div>
