<div class="container">
  
  <h4>Tipos de Lançamentos</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @lancamentos.each do |lancamento| %>
        <tr>
            <td><%= lancamento.id %></td>  
            <td><%= lancamento.nome %></td>
            <td><%= link_to 'Mostrar', lancamento %></td>
          <td><%= link_to 'Editar', edit_lancamento_path(lancamento) %></td>
          <td><%= link_to 'Apagar', lancamento, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to new_lancamento_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %> 

    <%= link_to root_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
    <% end %>
  </div>
</div>