<div class="container">
  <h4>Lancamentos</h4>

  <table class="table table-hover">
    <thead>
      <tr>
                <th scope="col">Nome</th>
                <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @lancamentos.each do |lancamento| %>
      <tr>
                <td><%= lancamento.nome %></td>
                <td><%= link_to 'Mostrar', lancamento %></td>
        <td><%= link_to 'Editar', edit_lancamento_path(lancamento) %></td>
        <td><%= link_to 'Apagar', lancamento, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "Novo Registo", new_lancamento_path, class: 'btn btn-danger' %>
  <%= link_to 'Voltar', root_path, class: 'btn btn-danger' %>
</div>