<div class="container">
  <h4>MovimentacaoConta</h4>

  <table class="table table-hover">
    <thead>
      <tr>
                <th scope="col">Nome</th>
                <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @movimentacao_conta.each do |movimentacao_contum| %>
      <tr>
                <td><%= movimentacao_contum.nome %></td>
                <td><%= link_to 'Mostrar', movimentacao_contum %></td>
        <td><%= link_to 'Editar', edit_movimentacao_contum_path(movimentacao_contum) %></td>
        <td><%= link_to 'Apagar', movimentacao_contum, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "Novo Registo", new_movimentacao_contum_path, class: 'btn btn-danger' %>
  <%= link_to 'Voltar', root_path, class: 'btn btn-danger' %>
</div>