<div class="container">

  <h3>Municípios</h3>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="containe scroltabler" style="margin-top: 10px">
    <form action="" method="get" id="formMunicipio">
      <div class="row" style="padding: 10px">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Pesquisar por nome de município</label>
            <input type="text" name="municipio_nome" value="<%= params[:nome] %>" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
              <input type="submit" value="Buscar" class="btn btn-success">
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @municipios.each do |municipio| %>
          <tr>
            <td class="text-right"><%= municipio.id %></td>
            <td><%= municipio.nome %></td>
            <td><%= link_to 'Mostrar', municipio %></td>
            <td><%= link_to 'Editar', edit_municipio_path(municipio) %></td>
            <td><%= link_to 'Apagar', municipio, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @municipios, :container => false %>
    </div>    

    <%= link_to new_municipio_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    

    <%= link_to root_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>

  </div>
</div>