<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h4>Lista de Municípios</h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-sm-12">
    <form action="" method="get" id="formApuracao">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label>Nome do Município</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Província</label>
            <div>
              <select name="provincia_id" class="form-control">
                <option value="" selected="'selected'">Selecione</option>
                <% Provincium.all.each do |provincia| %>
                  <option value="<%= provincia.id %>" <% if provincia.id.to_s == params[:provincia_id] %> selected="selected" <% end %> ><%= provincia.nome %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div style="float: right;margin-right:10px">
            <%= button_tag(type: 'submit', class: "btn btn-info", value: "Buscar", style: "width: 150px;text-align: center;margin-right: 0px;") do %>
                <span class="glyphicon glyphicon-search"></span> Buscar
            <% end %>

            <%= link_to backoffice_index_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
              <span class="glyphicon glyphicon-arrow-left"></span>
              Voltar
            <% end %>

          </div>
        </div>
      </div>
    </form>
  </div>
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-center">ID do Registo</th>
            <th scope="col">Nome do Município</th>
            <th scope="col">Província</th>
            <th colspan="3">Ações para o Registo</th>
          </tr>
        </thead>
        <tbody>
          <% @municipios.each do |municipio| %>
            <tr>
              <td class="text-center"><%= municipio.id %></td>
              <td style="width: 450px;"><%= municipio.nome %></td>
              <td style="width: 450px;"><%= municipio.provincia.nome rescue "Não informado" %></td>
              <td><%= link_to 'Editar', edit_municipio_path(municipio) %></td>
              <td><%= link_to 'Apagar', municipio, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="apple_pagination">
        <%= will_paginate @municipios, :container => false %>
      </div>    

      <%= link_to new_municipio_path, class: 'btn btn-success', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-plus"></span>
        Novo Registo
      <% end %>    

      <%= link_to backoffice_index_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Voltar
      <% end %>
    </div>
  </div>
</div>

<script>
var selecionaMunicipios = function(elen){
   $.ajax({
    type: "GET",
    url: "/municipios.json?provincia_id="+ $(elen).val(),
    success: function(data){
      $("#usuario_municipio_id").html("<option value=\"\" selected=\"selected\">[Selecione]</option>");
      $(data).each(function(){
        $("#usuario_municipio_id").append("<option value=\"" + this.id + "\">" + this.nome + "</option>")
      });
    }
  });
}
</script>