<div class="col-md-12 scroltable">
	<div class="col-md-12">
	  <h4>Detalhe de Município</h4>
	</div>
	<!-- Page Heading/Breadcrumbs -->
	<%= render :partial => 'shared/header_backoffice' %>
	<!-- /.row -->
	<div class="col-md-12">
		<p>
		<strong>ID:</strong>
		<%= @municipio.id %>
		</p>    
		<p>
		<strong>Nome:</strong>
		<%= @municipio.nome %>
		</p>  
		  
		<p>
		<strong>Provincia:</strong>
		<%= @municipio.provincia.nome rescue "Não informado" %>
		</p>      

		<%= link_to edit_municipio_path(@municipio), class: 'btn btn-warning', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
			<span class="glyphicon glyphicon-edit"></span>
			Editar
		<% end %>
		<%= link_to municipios_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
			<span class="glyphicon glyphicon-arrow-left"></span>
			Voltar
		<% end %>
	</div>
</div>