<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@menu, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <% if @menu.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@menu.errors.count, "erros") %> no cadastro, confira abaixo:</h4>

            <ul>
            <% @menu.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-12">
          <%= f.label :secao, label: "Nome da Seção" %>
          <%= f.select :secao, [
            ["Usuários","Usuários"],
            ["Parceiros e Produtos","Parceiros e Produtos"],
            ["Desconto / Remuneração / Margem","Desconto / Remuneração / Margem"],
            ["Vendas e Pagamentos","Vendas e Pagamentos"],
            ["Conta Corrente","Conta Corrente"],
            ["Tabelas Auxiliares","Tabelas Auxiliares"],
            ["Pagasó API","Pagasó API"],
            ["Modal Informativo","Modal Informativo"],
          ], {}, required:true, class: "form-control" %>   
        </div>
        
        <div class="form-input col-sm-4">
          <%= f.label :nome, label: "Nome do Item na Seção" %>
          <%= f.text_field :nome, class: "form-control" %>
        </div>

        <div class="form-input col-sm-4">
          <%= f.label :controller, label: "Controller" %>
          <%= f.text_field :controller, class: "form-control" %>
        </div>

        <div class="form-input col-sm-4">
          <%= f.label :action, label: "Ação" %>
          <%= f.text_field :action, class: "form-control" %>
        </div>

        <div class="form-input col-sm-8">
          <%= f.label :link, label: "Link Externo" %>
          <%= f.text_field :link, class: "form-control" %>
        </div>
        
        <div class="form-input col-sm-2">
          <%= f.label :ordem_secao, label: "Ordem da Seção" %>
          <%= f.text_field :ordem_secao, class: "form-control" %>
        </div>

        <div class="form-input col-sm-2">
          <%= f.label :ordem_item, label: "Ordem do Item na Seção" %>
          <%= f.text_field :ordem_item, class: "form-control" %>
        </div>
 
        <div class="form-actions col-sm-12">
          <%= f.button :button, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-ok"></span>
            Confirmar
          <% end %>
        </div>
      </div>
  <% end %>
</div>
