<div class="col-md-12">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <h3>Itens de Composição do Menu Backoffice</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12 scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nome da Seção</th>
          <th scope="col">Nome do Item</th>
          <th scope="col">Controller</th>
          <th scope="col">Ação</th>
          <th scope="col">Ordem da Seção</th>
          <th scope="col">Ordem do Item na Seção</th>
          <th scope="col">Link Externo</th>
          <th colspan="3">Ações para o Registo</th>
        </tr>
      </thead>

      <tbody>
        <% @menus.each do |menu| %>
        <tr>
          <td><%= menu.secao %></td>
          <td><%= menu.nome %></td>
          <td><%= menu.controller %></td>
          <td><%= menu.action %></td>
          <td><%= menu.ordem_secao %></td>
          <td><%= menu.ordem_item %></td>
          <td><%= menu.link %></td>
          <td><%= link_to 'Mostrar', menu %></td>
          <td><%= link_to 'Editar', edit_menu_path(menu) %></td>
          <td><%= link_to 'Apagar', menu, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="form-group">
      <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to new_menu_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-plus"></span>
        Novo Registo
      <% end %>    
    </div>
</div>