<div class="col-md-12">
  <div class="col-md-12">
    <h3>Detalhe de Item do Menu Backoffice</h3>
  </div>
  <br><br>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Nome da Secão:</dt>
      <dd><%= @menu.secao %></dd>
      <dt>Nome do Item:</dt>
      <dd><%= @menu.nome %></dd>
      <dt>Controller:</dt>
      <dd><%= @menu.controller %></dd>
      <dt>Ação:</dt>
      <dd><%= @menu.action %></dd>
      <dt>Ordem da Seção:</dt>
      <dd><%= @menu.ordem_secao%></dd>
      <dt>Ordem do Item na Seção:</dt>
      <dd><%= @menu.ordem_item %></dd>
      <dt>Link Externo:</dt>
      <dd><%= @menu.link %></dd>
      </dl>

    <div class="page-header">
      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_menu_path(@menu), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>