<div class="container">

  <h4>Mostrar Menu</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>Sessao:</dt>
      <dd><%= @menu.sessao %></dd>
      <dt>Nome:</dt>
      <dd><%= @menu.nome %></dd>
      <dt>Link:</dt>
      <dd><%= @menu.link %></dd>
      <dt>Controller:</dt>
      <dd><%= @menu.controller %></dd>
      <dt>Action:</dt>
      <dd><%= @menu.action %></dd>
    </dl>

    <div class="page-header">
      <%= link_to menus_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_menu_path(@menu), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>