<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@ip_api_autorizado, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <% if @ip_api_autorizado.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@ip_api_autorizado.errors.count, "erros") %> no ip_api_autorizado, confira abaixo:</h4>

            <ul>
            <% @ip_api_autorizado.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

          <div class="form-input col-sm-12">
            <%= f.label :ip, :label => "IP Autorizado" %>
            <%= f.text_field :ip, class: "form-control" %>
            <h4>Se houver mais de um IP por Distribuidor, insira um novo registo</h4>
            <br>
          </div>
          <div class="form-input col-sm-6">
            <%= f.label :sub_distribuidor_id, :label => "Distribuidor" %>
            <% if @adm.admin? || @adm.operador? %>
                <%= f.select :sub_distribuidor_id, SubDistribuidor.all.reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
            <% else %>
                <%= f.select :sub_distribuidor_id, SubDistribuidor.where("id = '#{usuario_logado.sub_distribuidor_id}").reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
            <% end %>
          </div>
           <div class="form-input col-sm-6">
            <%= f.label :descricao, :label => "Descrição" %>
            <%= f.text_field :descricao, class: "form-control" %>
            <h4>Utilize uma descrição para facilite a identificação de quem está asssociado ao IP</h4>
            <br>
          </div>
         
          <div class="form-actions col-sm-12">
          <br>
          <%= f.button :button, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-ok"></span>
            Confirmar
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
