<div class="col-md-12 scroltable">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <h4>Lista de IPs Autorizados a acessar a Documentação da Pagasó API</h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">IP Autorizado</th>
          <th scope="col">Distribuidor</th>
          <th colspan="3">Ações para o Registo</th>
        </tr>
      </thead>

      <tbody>
        <% @ip_api_autorizados.each do |ip_api_autorizado| %>
        <tr>
          <td><%= ip_api_autorizado.ip %></td>
          <td><%= ip_api_autorizado.sub_distribuidor.nome %></td>
          <td><%= link_to 'Mostrar', ip_api_autorizado %></td>
          <td><%= link_to 'Editar', edit_ip_api_autorizado_path(ip_api_autorizado) %></td>
          <td><%= link_to 'Apagar', ip_api_autorizado, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @ip_api_autorizados, :container => false %>
    </div> 

    <%= link_to new_ip_api_autorizado_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registo
    <% end %>    

    <%= link_to root_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>

  </div>
</div>