
<div class="col-md-6" data-target="toggle.grid">
<div class="card border-simpleform box-shadow mb-4">
<div class="card-header text-simpleform d-flex align-items-center justify-content-between">
  <div>
    <strong>Query Balance</strong>: Consulta de Saldo<br />
  </div>
</div>

<div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap d-flex align-items-center justify-content-between">

        <%= simple_form_for(@query_balance) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-input">
            <%= f.input :header_element %>
            <%= f.input :query_balance_req_header %>
            <%= f.input :header_request_id %>
            <%= f.input :header_timestamp %>
            <%= f.input :header_source_system %>
            <%= f.input :credentials_element %>
            <%= f.input :credentials_user %>
            <%= f.input :credentials_password %>
            <%= f.input :attributes_list %>
            <%= f.input :attribute_element %>
            <%= f.input :attribute_name %>
            <%= f.input :attribute_value %>
            <%= f.input :body_element %>
            <%= f.input :body_query_balance_req_element %>
            <%= f.input :body_query_balance_input_message %>
            <%= f.input :od_header_element %>
            <%= f.input :od_query_balance_input_message %>
            <%= f.input :od_query_balance_request_id %>
            <%= f.input :od_query_balance_return_code %>
            <%= f.input :od_query_balance_return_message %>
            <%= f.input :od_query_balance_timestamp %>
            <%= f.input :od_query_balance_body_element %>
            <%= f.input :od_query_balance_resp %>
            <%= f.input :od_query_balance_output_message %>
            <%= f.input :od_query_balance_request_id %>
            <%= f.input :od_query_balance_balance %>
        </div>
    </div>
    <div class="form-group row mb-0">
        <div class="col-sm-9 offset-sm-3">
            <%= f.button :submit, class: "btn-primary" %>
            <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
        </div>
    </div>
<% end %>
