<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Query Balances</h1>

  <table>
    <thead>
      <tr>
        <th>Header element</th>
        <th>Query balance req header</th>
        <th>Header request</th>
        <th>Header timestamp</th>
        <th>Header source system</th>
        <th>Credentials element</th>
        <th>Credentials user</th>
        <th>Credentials password</th>
        <th>Attributes list</th>
        <th>Attribute element</th>
        <th>Attribute name</th>
        <th>Attribute value</th>
        <th>Body element</th>
        <th>Body query balance req element</th>
        <th>Body query balance input message</th>
        <th>Od header element</th>
        <th>Od query balance input message</th>
        <th>Od query balance request</th>
        <th>Od query balance return code</th>
        <th>Od query balance return message</th>
        <th>Od query balance timestamp</th>
        <th>Od query balance body element</th>
        <th>Od query balance resp</th>
        <th>Od query balance output message</th>
        <th>Od query balance request</th>
        <th>Od query balance balance</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @query_balances.each do |query_balance| %>
        <tr>
          <td><%= query_balance.header_element %></td>
          <td><%= query_balance.query_balance_req_header %></td>
          <td><%= query_balance.header_request_id %></td>
          <td><%= query_balance.header_timestamp %></td>
          <td><%= query_balance.header_source_system %></td>
          <td><%= query_balance.credentials_element %></td>
          <td><%= query_balance.credentials_user %></td>
          <td><%= query_balance.credentials_password %></td>
          <td><%= query_balance.attributes_list %></td>
          <td><%= query_balance.attribute_element %></td>
          <td><%= query_balance.attribute_name %></td>
          <td><%= query_balance.attribute_value %></td>
          <td><%= query_balance.body_element %></td>
          <td><%= query_balance.body_query_balance_req_element %></td>
          <td><%= query_balance.body_query_balance_input_message %></td>
          <td><%= query_balance.od_header_element %></td>
          <td><%= query_balance.od_query_balance_input_message %></td>
          <td><%= query_balance.od_query_balance_request_id %></td>
          <td><%= query_balance.od_query_balance_return_code %></td>
          <td><%= query_balance.od_query_balance_return_message %></td>
          <td><%= query_balance.od_query_balance_timestamp %></td>
          <td><%= query_balance.od_query_balance_body_element %></td>
          <td><%= query_balance.od_query_balance_resp %></td>
          <td><%= query_balance.od_query_balance_output_message %></td>
          <td><%= query_balance.od_query_balance_request_id %></td>
          <td><%= query_balance.od_query_balance_balance %></td>
          <td><%= link_to 'Show', query_balance %></td>
          <td><%= link_to 'Edit', edit_query_balance_path(query_balance) %></td>
          <td><%= link_to 'Destroy', query_balance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Query Balance', new_query_balance_path %>
</div>