<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Header element:</strong>
    <%= @query_balance.header_element %>
  </p>

  <p>
    <strong>Query balance req header:</strong>
    <%= @query_balance.query_balance_req_header %>
  </p>

  <p>
    <strong>Header request:</strong>
    <%= @query_balance.header_request_id %>
  </p>

  <p>
    <strong>Header timestamp:</strong>
    <%= @query_balance.header_timestamp %>
  </p>

  <p>
    <strong>Header source system:</strong>
    <%= @query_balance.header_source_system %>
  </p>

  <p>
    <strong>Credentials element:</strong>
    <%= @query_balance.credentials_element %>
  </p>

  <p>
    <strong>Credentials user:</strong>
    <%= @query_balance.credentials_user %>
  </p>

  <p>
    <strong>Credentials password:</strong>
    <%= @query_balance.credentials_password %>
  </p>

  <p>
    <strong>Attributes list:</strong>
    <%= @query_balance.attributes_list %>
  </p>

  <p>
    <strong>Attribute element:</strong>
    <%= @query_balance.attribute_element %>
  </p>

  <p>
    <strong>Attribute name:</strong>
    <%= @query_balance.attribute_name %>
  </p>

  <p>
    <strong>Attribute value:</strong>
    <%= @query_balance.attribute_value %>
  </p>

  <p>
    <strong>Body element:</strong>
    <%= @query_balance.body_element %>
  </p>

  <p>
    <strong>Body query balance req element:</strong>
    <%= @query_balance.body_query_balance_req_element %>
  </p>

  <p>
    <strong>Body query balance input message:</strong>
    <%= @query_balance.body_query_balance_input_message %>
  </p>

  <p>
    <strong>Od header element:</strong>
    <%= @query_balance.od_header_element %>
  </p>

  <p>
    <strong>Od query balance input message:</strong>
    <%= @query_balance.od_query_balance_input_message %>
  </p>

  <p>
    <strong>Od query balance request:</strong>
    <%= @query_balance.od_query_balance_request_id %>
  </p>

  <p>
    <strong>Od query balance return code:</strong>
    <%= @query_balance.od_query_balance_return_code %>
  </p>

  <p>
    <strong>Od query balance return message:</strong>
    <%= @query_balance.od_query_balance_return_message %>
  </p>

  <p>
    <strong>Od query balance timestamp:</strong>
    <%= @query_balance.od_query_balance_timestamp %>
  </p>

  <p>
    <strong>Od query balance body element:</strong>
    <%= @query_balance.od_query_balance_body_element %>
  </p>

  <p>
    <strong>Od query balance resp:</strong>
    <%= @query_balance.od_query_balance_resp %>
  </p>

  <p>
    <strong>Od query balance output message:</strong>
    <%= @query_balance.od_query_balance_output_message %>
  </p>

  <p>
    <strong>Od query balance request:</strong>
    <%= @query_balance.od_query_balance_request_id %>
  </p>

  <p>
    <strong>Od query balance balance:</strong>
    <%= @query_balance.od_query_balance_balance %>
  </p>

  <%= link_to 'Edit', edit_query_balance_path(@query_balance) %> |
  <%= link_to 'Back', query_balances_path %>
</div>
