<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Permissões do Perfil</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@perfil_usuario, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <% if @perfil_usuario.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@perfil_usuario.errors.count, "erros") %> no perfil do usuário, confira abaixo:</h4>

            <ul>
            <% @perfil_usuario.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-8">
          <%= f.input :nome, placeholder: "Perfil" %>
        </div>

        <div class="form-input col-sm-2">
          <div>
            <%= f.label :admin, :label => "Administrador?" %>
          </div>
          <div class="text-center">
            <%= f.check_box :admin %>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :acessos, "Permissões deste perfil de usuário", class: "col-sm-2 control-label" %>
        <br><hr>
        <input type="button" value="SELECIONAR TODOS" onclick="checkAcessos()" class="btn btn-success">
        <input type="button" value="DESMARCAR TODOS" onclick="uncheckAcessos()" class="btn btn-danger">
        <label>Ou selecionar os itens individualmente para definir as permissões do perfil</label>        
        <br><hr>
        <div class="col-sm-10">
          <ul>
            <% @controllers.each do |controller| %>
              <li>
                <label><%= controller[:nome_amigavel] %></label>
                <ul>
                  <% controller[:actions].each do |action| %>
                    <li>
                      <label><%= action[:nome_amigavel] %></label>
                      <% 
                      name = "#{controller[:nome]}::#{action[:nome]}"
                      checked = @perfil_usuario.acessos_actions.include?(name) ? "checked='checked'" : "" 
                      %>
                      <input type="checkbox" name="grupo_acesso[actions][]" <%= checked %> class="check-acessos" value="<%= name %>">
                      <ul>
                        <% action[:views].each do |view| %>
                          <li>
                            <label><%= view %></label>
                            <% 
                            checked = @perfil_usuario.acessos_views.include?(view) ? "checked='checked'" : "" 
                            %>
                            <input type="checkbox" name="grupo_acesso[<%= "#{controller[:nome]}_#{action[:nome]}" %>][]" <%= checked %> class="check-acessos" value="<%= view %>">
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li>
              <!--label>Construção do clube</label-->
              <label>Reserva</label>
              <ul>
                <li>
                  <!--label>Mostrar cor Análise de desenvolvimeto</label-->
                  <label>Opção 1</label>
                  <% 
                  checked = @perfil_usuario.acessos_actions.include?("Cor Análise de desenvolvimeto") ? "checked='checked'" : "" 
                  %>
                  <input type="checkbox" name="grupo_acesso[actions][]" <%= checked %> class="check-acessos" value="Cor Análise de desenvolvimeto">
                </li>
                <li>
                  <!--label>Mostrar cor Scouting</label-->
                  <label>Opção 2</label>
                  <% 
                  checked = @perfil_usuario.acessos_actions.include?("Cor Scouting") ? "checked='checked'" : "" 
                  %>
                  <input type="checkbox" name="grupo_acesso[actions][]" <%= checked %> class="check-acessos" value="Cor Scouting">
                </li>
              </ul>
            </li>
            <li>
              <!--label>Home</label-->
              <label>Reserva</label>
              <ul>
                <li>
                  <!--label>Ver lista dos últimos jogadores na home</label-->
                  <label>Opção 1</label>
                  <% 
                  checked = @perfil_usuario.acessos_actions.include?("Ver lista dos últimos jogadores na home") ? "checked='checked'" : "" 
                  %>
                  <input type="checkbox" name="grupo_acesso[actions][]" <%= checked %> class="check-acessos" value="Ver lista dos últimos jogadores na home">
                </li>
                <li>
                  <!--label>Alterar recomendação do jogadores na home</label-->
                  <label>Opção 2</label>
                  <% 
                  checked = @perfil_usuario.acessos_actions.include?("Alterar recomendação do jogadores na home") ? "checked='checked'" : "" 
                  %>
                  <input type="checkbox" name="grupo_acesso[actions][]" <%= checked %> class="check-acessos" value="Alterar recomendação do jogadores na home">
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>


      <div class="form-actions col-sm-12">
        <%= f.button :button, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-ok"></span>
          Confirmar
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>
