<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Permissões do Perfil</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@perfil_usuario, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <% if @perfil_usuario.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@perfil_usuario.errors.count, "erros") %> no perfil do usuário, confira abaixo:</h4>

            <ul>
            <% @perfil_usuario.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-6">
          <%= f.input :nome, placeholder: "Perfil" %>
        </div>

        <div class="form-input col-sm-2">
          <div>
            <%= f.label :operador, :label => "Operador?" %>
          </div>
          <div class="text-center">
            <%= f.check_box :operador %>
          </div>
        </div>
        <div class="form-input col-sm-2">
          <div>
            <%= f.label :agente, :label => "Agente?" %>
          </div>
          <div class="text-center">
            <%= f.check_box :agente %>
          </div>
        </div>
        <div class="form-input col-sm-2">
          <div>
            <%= f.label :admin, :label => "Administrador?" %>
          </div>
          <div class="text-center">
            <%= f.check_box :admin %>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :acessos, "Permissões", class: "col-sm-5 control-label" %>
        <br><hr>
        <%= link_to perfil_usuarios_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
        <% end %>        
        <input type="button" value="SELECIONAR TODOS" onclick="checkAcessos()" class="btn btn-success">
        <input type="button" value="DESMARCAR TODOS" onclick="uncheckAcessos()" class="btn btn-warning">
        <label>Ou selecionar os itens individualmente para definir as permissões do perfil</label> 
        
        <div style="float: right;">
          <%= f.button :button, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-ok"></span>
            Confirmar
          <% end %>
        </div>

        <br><hr>
        <div class="col-sm-10" style="height: 514px;overflow:scroll;">
          <ul>
            <% @controllers.each do |controller| %>
              <li>
                <label><%= controller[:nome_amigavel] %></label>
                <ul>
                  <% controller[:actions].each do |action| %>
                    <li>
                      <label><%= action[:nome_amigavel] %></label>
                      <% 
                      name = "#{controller[:nome]}::#{action[:nome]}"
                      checked = @perfil_usuario.acessos_actions.include?(name) ? "checked='checked'" : "" 
                      %>
                      <input type="checkbox" name="grupo_acesso[actions][]" <%= checked %> class="check-acessos" value="<%= name %>">
                      <ul>
                        <% action[:views].each do |view| %>
                          <li>
                            <label><%= view %></label>
                            <% 
                            checked = @perfil_usuario.acessos_views.include?(view) ? "checked='checked'" : "" 
                            %>
                            <input type="checkbox" name="grupo_acesso[<%= "#{controller[:nome]}_#{action[:nome]}" %>][]" <%= checked %> class="check-acessos" value="<%= view %>">
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="col-sm-10" style="height: 514px;overflow:scroll;">
          <ul>
            <li>
              <label>Links externos para acesso ao menu</label>
              <ul>
                <% Menu.where("controller is null or controller = ''").each do |menu| %>
                  <li>
                    <label><a href="<%= menu.link %>" target="_blank"><%= menu.nome %></a></label>
                    <% 
                    checked = @perfil_usuario.acessos_links.include?(menu.nome) ? "checked='checked'" : "" 
                    %>
                    <input type="checkbox" name="links_externos[]" <%= checked %> class="check-acessos" value="<%= menu.nome %>">
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-actions col-sm-12">
        <%= f.button :button, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-ok"></span>
          Confirmar
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>
