<div class="container scroltable">

  <h4>Perfis de Usuários</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Admin</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @perfil_usuarios.each do |perfil_usuario| %>
        <tr>
          <td><%= perfil_usuario.id %></td>
          <td><%= perfil_usuario.nome %></td>
          <td><%= perfil_usuario.admin %></td>
          <td><%= link_to 'Mostrar', perfil_usuario %></td>
          <td><%= link_to 'Editar', edit_perfil_usuario_path(perfil_usuario) %></td>
          <td><%= link_to 'Apagar', perfil_usuario, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <hr>
    <label><strong>Selecione EDITAR para configurar as permissões do perfil</strong></label>
    <br><hr>

    <%= link_to new_perfil_usuario_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    

    <%= link_to root_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>