<div class="container">

  <h4>Perfil de Usuário</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>Nome:</dt>
      <dd><%= @perfil_usuario.nome %></dd>
      <dt>Admin?</dt>
      <dd><%= @perfil_usuario.admin %></dd>
      <dt>Operador?</dt>
      <dd><%= @perfil_usuario.operador %></dd>
      <dt>Agente?</dt>
      <dd><%= @perfil_usuario.agente %></dd>
    </dl>

    <br><hr>
    <label>Clique em Editar para acessar as permissões deste perfil</label>
    <br><hr>

    <div class="page-header">
      <%= link_to perfil_usuarios_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_perfil_usuario_path(@perfil_usuario), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>