<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12">
          Selecione o produto
        </div>
        <div class="container scroltable">
          <form action="/dstv/alteracao-cliente-produtos/upgrade-downgrade" onsubmit="return validaInformacoesConsulta(this)" method="get">

            <div>
              <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                <table class="table">
                  <tr>
                    <th>#</th>
                    <th>
                      Codigo
                    </th>
                    <th>
                      Descrição
                    </th>
                    <th>
                      Valor
                    </th>
                  </tr>
                  <% @produtos.each do |produto| %>
                    <tr>
                      <td>
                        <input type="checkbox" name="produtos[]" value="<%= produto.id %>">
                      </td>
                      <td>
                        <%= produto.produto_id_parceiro %>
                      </td>
                      <td>
                        <%= produto.description %>
                      </td>
                      <td>
                        <%= number_to_currency(produto.valor_compra_telemovel, :unit => "KZ") %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
              <div>
                <div style="float: right;">
                  <input type="hidden" value="<%= params[:smartcard] %>" name="smartcard">
                  <input type="hidden" value="<%= params[:customer_number] %>" name="customer_number">
                  <input type="submit" class="btn btn-success" style="width: 210px; text-align: center;" value="PRÓXIMO">
                  <a href="/" class="btn btn-danger" style="width: 100px; text-align: center;">VOLTAR</a>
                </div>
              </div>
            </div>
            
          </form>

        </div>
      </div>
    </div>

  </div>
</div>