<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    <h1>Alteração de plano de cobrança alternando entre mensal e anual</h1>
    <br>
    <% if @info.present? %>
      <div class="col-md-12">
        <div style="font-weight: bold;font-size: 18px;">Alteração efetuada com sucesso! </div>
        <div>
          <hr>
          <ul>
            <li style="margin-bottom: 10px">
              <b>Número do Cliente/Customer Number</b>: <%= params["customer_number"] %>
            </li>
            <li style="margin-bottom: 10px">
              <b>Produto</b>: <%= @info["produto"] %>
            </li>
            <li style="margin-bottom: 10px">
              <b>Código</b>: <%= @info["codigo"] %>
            </li>
            <li style="margin-bottom: 10px">
              <b>Valor</b>: <%= number_to_currency(@info["valor"], :unit => "KZ") %>
            </li>
            <li style="margin-bottom: 10px">
              <b>Tipo plano</b>: <%= @info["tipo_plano"] %>
            </li>
            <li style="margin-bottom: 10px">
              <b>Número do recibo</b>: <%= @info["receiptNumber"] %>
            </li>
            <li style="margin-bottom: 10px">
              <b>Número da transação</b>: <%= @info["transactionNumber"] %>
            </li>
            <li style="margin-bottom: 10px">
              <b>Data e hora da transação</b>: <%= @info["transactionDateTime"].to_datetime.strftime("%d/%m/%Y %H:%M") rescue @info["transactionDateTime"] %>
            </li>
            <li style="margin-bottom: 10px">
              <b>Audit Reference Number da DSTV</b>: <%= @info["AuditReferenceNumber"] %>
            </li>
          </ul>
          <hr>
        </div>
      </div>
      <br>
      <br>
      <br>
      <a href="/" class="btn btn-danger">Voltar</a>
      <% elsif flash[:mensagem_erro_fatura].present? %>
        <div class="erro_pagamento">
          <%= flash[:mensagem_erro_fatura] %>
        </div>

      <%= link_to "/dstv/consulta-fatura", class: 'btn btn-success' do %>
        <span class="glyphicon glyphicon-repeat"></span>
          Fazer nova consulta
      <% end %>
      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
    <% end %>
  </div>
</div>