<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold">
          Alteração de plano entre mensal e anual
        </div>
        <% if @info.blank? %>
          <div class="card-body">
            <style type="text/css">
              .obrigatorio{
                border: 1px red solid
              }
            </style>
            <script>
              var validaInformacoesConsulta = function(form) {
                var validado = true
                $(form).find("input").each(function() {
                  $(this).val($(this).val().trim())
                  $(this).removeClass("obrigatorio")
                  $(this).attr("placeholder", "")

                  if($(this).val() == ""){
                    $(this).addClass("obrigatorio")
                    $(this).attr("placeholder", "Campo obrigatório")
                    validado = false
                  }
                })

                if (!validado) return false
                return confirm('Confirma operação ?')
              }
            </script>
            <form action="/dstv/alteracao-plano-mensal-anual/alterar" onsubmit="return validaInformacoesConsulta(this)" method="get">

              <div class="col-md-12">
                <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                  <h3>Informe </h3>
                  <div style="margin-left: 4%;">Número do cliente/Customer Number</div>
                  <input type="text" class="form-control" value="" name="customer_number" placeholder="Número do cliente/Customer Number" style="margin-left: 4%;max-width: 300px;">
                </div>
                <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                  <div style="margin-left: 4%;">Produtos</div>
                  <select name="produto_id_parceiro" id="produto_id_parceiro" class="form-control" style="margin-left: 4%;width100%;max-width: 500px;">
                    <% Dstv.produtos_ativos.each do |produto| %>
                      <option value="<%= produto.produto_id_parceiro %>">
                        <%= produto.produto_id_parceiro %> - <%= produto.description %> - <%= number_to_currency(produto.valor_compra_telemovel, :unit => "KZ") %>
                      </option>
                    <% end %>
                  </select>
                </div>
                <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                  <div style="margin-left: 4%;">
                    <div style="display:inline-block;margin-right: 20px">
                      <input type="radio" name="tipo_plano" id="tipo_plano_mensal" checked="checked" value="mensal">
                      <label for="tipo_plano_mensal">
                        Plano Mensal
                      </label>
                    </div>
                    <div style="display:inline-block;">
                      <input type="radio" id="tipo_plano_anual" name="tipo_plano" value="anual">
                      <label for="tipo_plano_anual">
                        Plano Anual
                      </label>
                    </div>
                  </div>
                </div>
                <div class="saveCancelbts" style="padding-top: 25px;padding-bottom: 25px;text-align: right;">
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <input type="submit" class="btn btn-success" style="width: 150px; text-align: center;" value="CONFIRMAR">
                  </div>
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <%= link_to 'javascript:history.go(-1)', class: 'btn btn-space btn-danger', style: "width: 150px; text-align: center;margin-right:0px" do %>
                      <span class="glyphicon glyphicon-list-alt"></span>
                      VOLTAR
                    <% end %>
                  </div>                  
                </div>
              </div>
            </form>
          </div>
        <% elsif @info["dueAmount"].present? %>
          <div class="col-md-12">
            <div style="font-weight: bold;font-size: 18px;"> Dados da fatura </div>
            <div>
              <ul>
                <li style="margin-bottom: 10px">
                  <b>Moeda</b>: <%= @info["currency"] %>
                </li>
                <li style="margin-bottom: 10px">
                  <b>Valor</b>: <%= number_to_currency(@info["dueAmount"], :unit => "KZ") %>
                </li>
                <li style="margin-bottom: 10px">
                  <b>Data de vencimento</b>: <%= @info["dueDate"].to_date.strftime("%d/%m/%Y") rescue @info["dueDate"] %>
                </li>
              </ul>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="card-body">
            <form action="/dstv/pagar-fatura" >
              <input type="hidden" name="valor" value="<%= @info["dueAmount"] %>">
              <input type="hidden" name="customer_number" value="<%= params["customer_number"] %>">
              <input type="hidden" name="dueDate" value="<%= @info["dueDate"].to_date.strftime("%d/%m/%Y") %>">

              <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger', style: "width: 150px; text-align: center;" do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                Voltar
              <% end %>
              
              <button type="submit" class="btn btn-success" style="width: 150px; text-align: center;" >
                <span class="glyphicon glyphicon-ok"></span>
                Pagar
              </button>

            </form>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
