<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold;font-size: 20px;">
          Consulta valor e data do vencimento da fatura e efetua o pagamento
        </div>
        <br>

        <% if flash[:mensagem_erro_fatura].present? %>
          <div style="color:red;margin-left: 17px;margin-bottom: 20px;font-size: 16px;">
            <%= flash[:mensagem_erro_fatura] %>
          </div>
        <% end %>

        <% if @info.blank? %>
          <div class="card-body">
            <style type="text/css">
              .obrigatorio{
                border: 1px red solid
              }
            </style>
            <script>
              var validaInformacoesConsulta = function(form) {
                var validado = true
                $(form).find("input").each(function() {
                  $(this).val($(this).val().trim())
                  $(this).removeClass("obrigatorio")
                  $(this).attr("placeholder", "")

                  if($(this).val() == ""){
                    $(this).addClass("obrigatorio")
                    $(this).attr("placeholder", "Campo obrigatório")
                    validado = false
                  }
                })

                return validado
              }
            </script>
            <form action="/dstv/consulta-fatura" onsubmit="return validaInformacoesConsulta(this)" method="get">

              <div class="col-md-12">
                <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                  <h3>Informe </h3>
                  <div style="margin-left: 30px;">Smartcard/Device Number</div>
                  <input type="text" class="form-control" value="" name="smartcard" placeholder="Smartcard/Device Number" style="margin-left: 30px;width: 300px;">
                  <br>
                  <div style="margin-left: 30px;">Número do cliente/Customer Number</div>
                  <input type="text" class="form-control" value="" name="customer_number" placeholder="Número do cliente/Customer Number" style="margin-left: 30px;width: 300px;">
                </div>
                <div class="saveCancelbts" style="padding-top: 25px;padding-bottom: 25px;">
                  <div style="float: right;">
                    <input type="submit" class="btn btn-success" style="width: 150px; text-align: center;" value="PRÓXIMO">
                  </div>
                  <div style="float: right;">
                    <%= link_to root_path, class: 'btn btn-space btn-danger', style: "width: 150px; text-align: center;" do %>
                      <span class="glyphicon glyphicon-list-alt"></span>
                      VOLTAR
                    <% end %>
                  </div>                  
                </div>
              </div>
            </form>
          </div>
        <% elsif @info["dueAmount"].present? %>
          <div class="col-md-12">
            <div style="font-weight: bold;font-size: 18px;"> Dados da fatura </div>
            <div>
              <ul>
                <li style="margin-bottom: 10px">
                  <b>Moeda</b>: <%= @info["currency"] %>
                </li>
                <li style="margin-bottom: 10px">
                  <b>Valor</b>: <%= number_to_currency(@info["dueAmount"], :unit => "KZ") %>
                </li>
                <li style="margin-bottom: 10px">
                  <b>Data de vencimento</b>: <%= @info["dueDate"].to_date.strftime("%d/%m/%Y") rescue @info["dueDate"] %>
                </li>
              </ul>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="card-body">
            <form action="/dstv/pagar-fatura">
              <input type="hidden" name="valor" value="<%= @info["dueAmount"] %>">
              <input type="hidden" name="customer_number" value="<%= params["customer_number"] %>">
              <input type="hidden" name="smartcard" value="<%= params["smartcard"] %>">
              <input type="hidden" name="dueDate" value="<%= @info["dueDate"].to_date.strftime("%d/%m/%Y") %>">
              <br>
              <%= link_to root_path, class: "btn btn-danger", style: "width: 150px; text-align: center;" do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                Voltar
              <% end %>
              
              <% if @info["dueAmount"].to_f > 0 %>
                <button type="submit" class="btn btn-success" style="width: 150px; text-align: center;">
                  <span class="glyphicon glyphicon-ok"></span>
                  Pagar
                </button>
              <% end %>
            </form>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>


