<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold;font-size: 20px;">
          Validação e consulta da situação do cliente
        </div>
        <% if @info.blank? %>
          <div class="card-body">
            <form action="/dstv/validacao-cliente" method="get">

              <div class="col-md-12">
                <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                  <h3>Informe o</h3>
                  <div style="margin-left: 30px;">Smartcard/Device Number</div>
                  <input type="text" class="form-control" value="<%= params[:smartcard] %>" name="smartcard" placeholder="Smartcard/Device Number" style="margin-left: 30px;width: 300px;">
                  <h3>ou</h3>
                  <div style="margin-left: 30px;">Número do cliente/Custumer Number</div>
                  <input type="text" class="form-control" value="<%= params[:customer_number] %>" name="customer_number" placeholder="Número do cliente/Custumer Number" style="margin-left: 30px;width: 300px;">
                </div>
                <div class="saveCancelbts" style="padding-top: 25px;padding-bottom: 25px;">
                  <div style="float: right;">
                    <input type="submit" class="btn btn-success" style="width: 150px; text-align: center;" value="PRÓXIMO">
                  </div>
                  <div style="float: right;">
                    <%= link_to root_path, class: 'btn btn-space btn-danger', style: "width: 150px; text-align: center;" do %>
                      <span class="glyphicon glyphicon-list-alt"></span>
                      VOLTAR
                    <% end %>
                  </div>
                </div>
              </div>
            </form>
          </div>
        <% else %>
          <div class="col-md-12">
            <div style="margin-bottom:20px;border-bottom: 1px solid #ccc;">
              <% if params[:smartcard].present? %>
                <div style="font-weight: bold;font-size: 18px;"> Device Number: <%= params[:smartcard] %> </div>
              <% else %>
                <div style="font-weight: bold;font-size: 18px;"> Custumer Number: <%= params[:customer_number] %> </div>
              <% end %>
              <% traduz = {"number" => "Customer Number"} %>
            </div>
            <div style="font-weight: bold;font-size: 18px;"> Customer Detail </div>
            <div>
              <ul>
                <% @info[:customer_detail].each do |key, val| %>
                  <% if val.present? %>
                    <li style="margin-bottom: 10px">
                      <b><%= traduz[key] || key %></b>: <%= val %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="col-md-12">
            <div style="font-weight: bold;font-size: 18px;">Accounts</div>
            <% @info[:accounts].each do |account| %>
              <div>
                <ul>
                  <% account.each do |key, val| %>
                    <% if val.present? %>
                      <li style="margin-bottom: 10px">
                        <b><%= key %></b>: <%= val %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
              <hr>
            <% end %>
          </div>

          <br>
          <br>
          <br>

          <div style="float: right;">
            <%= link_to root_path, class: 'btn btn-danger', style: "width: 150px; text-align: center;" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Voltar
            <% end %>
          </div>

        <% end %>
      </div>
    </div>

  </div>
</div>
