<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Lista de Bancos</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <div>
    <form action="" method="get" id="formApuracao">
      <div class="col-sm-3">
        <div class="form-group">
          <label>Sigla</label>
          <div>
            <input type="text" name="sigla" value="<%= params[:sigla] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>Nome do Banco</label>
          <div>
            <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>IBAN</label>
          <div>
            <input type="text" name="iban" value="<%= params[:iban] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>Conta Bancária</label>
          <div>
            <input type="text" name="conta_bancaria" value="<%= params[:conta_bancaria] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
          <%= link_to new_banco_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Novo Registo
          <% end %>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Dados do Banco</th>
          <th scope="col">Contactos</th>           
          <th scope="col">Logomarca</th>
          <th colspan="3">Ações para o Registo</th>
        </tr>
      </thead>

      <tbody>
        <% @bancos.each do |banco| %>
        <tr>
          <td style="width: 350px">
            <b>Sigla:</b> <%= banco.sigla %><br>
            <b>Nome do Banco:</b> <%= banco.nome %><br>
            <b>Morada Sede:</b> <%= banco.morada_sede %><br>
            <b>Morada Escritório:</b> <%= banco.morada_escritorio %><br>
            <b>IBAN:</b> <%= banco.iban %><br>
            <b>Conta Bancária:</b> <%= banco.conta_bancaria %><br>
          </td>
          <td style="width: 300px">
            <b>Telefone Sede:</b> <%= banco.telefone_sede %><br>
            <b>Fax Sede:</b> <%= banco.fax_sede %><br>
            <b>Telefone Escritório:</b> <%= banco.telefone_escritorio %><br>
            <b>FAX Escritório:</b> <%= banco.fax_escritorio %><br>
            <b>Website:</b> <%= banco.website %><br>
            <b>E-Mail:</b> <%= banco.email %><br>
          </td>
          <td>
            <img src="<%= banco.logomarca %>" style="width: 200px">
          </td>
          <td><%= link_to 'Mostrar', banco %></td>
          <td><%= link_to 'Editar', edit_banco_path(banco) %></td>
          <td><%= link_to 'Apagar', banco, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  
    <div class="apple_pagination">
      <%= will_paginate @bancos, :container => false %>
    </div>

    <%= link_to new_banco_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registo
    <% end %> 

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>