<div class="container">
<h4>Dados do Banco</h4>

<!-- Page Heading/Breadcrumbs -->
<%= render :partial => 'shared/header_backoffice' %>
<!-- /.row -->

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @banco.nome %></dd>
  <dt>Sigla:</dt>
  <dd><%= @banco.sigla %></dd>
  <dt>Morada sede:</dt>
  <dd><%= @banco.morada_sede %></dd>
  <dt>Telefone sede:</dt>
  <dd><%= @banco.telefone_sede %></dd>
  <dt>Fax sede:</dt>
  <dd><%= @banco.fax_sede %></dd>
  <dt>Morada escrit칩rio:</dt>
  <dd><%= @banco.morada_escritorio %></dd>
  <dt>Telefone escrit칩rio:</dt>
  <dd><%= @banco.telefone_escritorio %></dd>
  <dt>Fax escrit칩rio:</dt>
  <dd><%= @banco.fax_escritorio %></dd>
  <dt>Website:</dt>
  <dd><%= @banco.website %></dd>
  <dt>E-Mail:</dt>
  <dd><%= @banco.email %></dd>
  <dt>IBAN:</dt>
  <dd><%= @banco.iban %></dd>
  <dt>Conta Banc치ria:</dt>
  <dd><%= @banco.conta_bancaria %></dd>
  <dt>Logomarca:</dt>
  <dd>
    <img src="<%= @banco.logomarca %>" style="width: 100px;">
  </dd>
</dl>

<div class="page-header">
  <%= link_to bancos_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_banco_path(@banco), class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</div>