<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h4>Dados do Banco</h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <dl class="dl-horizontal">
    <dt>Sigla:</dt>
    <dd><%= @banco.sigla %></dd>
    <dt>Nome:</dt>
    <dd><%= @banco.nome %></dd>
    <dt>Ordem de Prioridade:</dt>
    <dd><%= @banco.ordem_prioridade %></dd>
    <dt>Morada sede do Banco:</dt>
    <dd><%= @banco.morada_sede %></dd>
    <dt>Telefone sede do Banco:</dt>
    <dd><%= @banco.telefone_sede %></dd>
    <dt>WhatsApp do Banco:</dt>
    <dd><%= @banco.whatsapp %></dd>
    <dt>Website do Banco:</dt>
    <dd><%= @banco.website %></dd>
    <dt>E-Mail do Banco:</dt>
    <dd><%= @banco.email %></dd>
    <dt>IBAN Pagasó:</dt>
    <dd><%= @banco.iban %></dd>
    <dt>Conta Bancária Pagasó:</dt>
    <dd><%= @banco.conta_bancaria %></dd>
    <dt>Situação do Banco:</dt>
    <dd><%= @banco.status_banco.nome %></dd>
    <dt>Logomarca do Banco:</dt>
    <dd>
      <img src="<%= @banco.logomarca %>" style="width: 100px;">
    </dd>
  </dl>
  <div class="col-md-12">
    <%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Voltar
    <% end %>
    <%= link_to edit_banco_path(@banco), class: 'btn btn-warning', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Editar
    <% end %>
  </div>
</div>