
<%= simple_form_for(@query_request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :header_element %>
    <%= f.input :query_request_req_header %>
    <%= f.input :header_request_id %>
    <%= f.input :header_timestamp %>
    <%= f.input :header_source_system %>
    <%= f.input :credentials_element %>
    <%= f.input :credentials_user %>
    <%= f.input :credentials_password %>
    <%= f.input :attributes_list %>
    <%= f.input :attribute_element %>
    <%= f.input :attribute_name %>
    <%= f.input :attribute_value %>
    <%= f.input :body_element %>
    <%= f.input :body_query_request_req_element %>
    <%= f.input :body_query_request_input_message %>
    <%= f.input :body_query_request_id %>
    <%= f.input :od_header_element %>
    <%= f.input :od_query_request_input_message %>
    <%= f.input :od_query_request_request_id %>
    <%= f.input :od_query_request_return_code %>
    <%= f.input :od_query_request_return_message %>
    <%= f.input :od_query_request_timestamp %>
    <%= f.input :od_query_request_body_element %>
    <%= f.input :od_query_request_output_message %>
    <%= f.input :od_query_request_request_id %>
    <%= f.input :od_query_request_status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
