<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Query Requests</h1>

  <table>
    <thead>
      <tr>
        <th>Header element</th>
        <th>Query request req header</th>
        <th>Header request</th>
        <th>Header timestamp</th>
        <th>Header source system</th>
        <th>Credentials element</th>
        <th>Credentials user</th>
        <th>Credentials password</th>
        <th>Attributes list</th>
        <th>Attribute element</th>
        <th>Attribute name</th>
        <th>Attribute value</th>
        <th>Body element</th>
        <th>Body query request req element</th>
        <th>Body query request input message</th>
        <th>Body query request</th>
        <th>Od header element</th>
        <th>Od query request input message</th>
        <th>Od query request request</th>
        <th>Od query request return code</th>
        <th>Od query request return message</th>
        <th>Od query request timestamp</th>
        <th>Od query request body element</th>
        <th>Od query request output message</th>
        <th>Od query request request</th>
        <th>Od query request status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @query_requests.each do |query_request| %>
        <tr>
          <td><%= query_request.header_element %></td>
          <td><%= query_request.query_request_req_header %></td>
          <td><%= query_request.header_request_id %></td>
          <td><%= query_request.header_timestamp %></td>
          <td><%= query_request.header_source_system %></td>
          <td><%= query_request.credentials_element %></td>
          <td><%= query_request.credentials_user %></td>
          <td><%= query_request.credentials_password %></td>
          <td><%= query_request.attributes_list %></td>
          <td><%= query_request.attribute_element %></td>
          <td><%= query_request.attribute_name %></td>
          <td><%= query_request.attribute_value %></td>
          <td><%= query_request.body_element %></td>
          <td><%= query_request.body_query_request_req_element %></td>
          <td><%= query_request.body_query_request_input_message %></td>
          <td><%= query_request.body_query_request_id %></td>
          <td><%= query_request.od_header_element %></td>
          <td><%= query_request.od_query_request_input_message %></td>
          <td><%= query_request.od_query_request_request_id %></td>
          <td><%= query_request.od_query_request_return_code %></td>
          <td><%= query_request.od_query_request_return_message %></td>
          <td><%= query_request.od_query_request_timestamp %></td>
          <td><%= query_request.od_query_request_body_element %></td>
          <td><%= query_request.od_query_request_output_message %></td>
          <td><%= query_request.od_query_request_request_id %></td>
          <td><%= query_request.od_query_request_status %></td>
          <td><%= link_to 'Mostrar', query_request %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%#= link_to 'Novo Registro', new_query_request_path %>
  <%= link_to 'Voltar', root_path %>
</div>