<div class="container">

  <p>
    <strong>Header element:</strong>
    <%= @query_request.header_element %>
  </p>

  <p>
    <strong>Query request req header:</strong>
    <%= @query_request.query_request_req_header %>
  </p>

  <p>
    <strong>Header request:</strong>
    <%= @query_request.header_request_id %>
  </p>

  <p>
    <strong>Header timestamp:</strong>
    <%= @query_request.header_timestamp %>
  </p>

  <p>
    <strong>Header source system:</strong>
    <%= @query_request.header_source_system %>
  </p>

  <p>
    <strong>Credentials element:</strong>
    <%= @query_request.credentials_element %>
  </p>

  <p>
    <strong>Credentials user:</strong>
    <%= @query_request.credentials_user %>
  </p>

  <p>
    <strong>Credentials password:</strong>
    <%= @query_request.credentials_password %>
  </p>

  <p>
    <strong>Attributes list:</strong>
    <%= @query_request.attributes_list %>
  </p>

  <p>
    <strong>Attribute element:</strong>
    <%= @query_request.attribute_element %>
  </p>

  <p>
    <strong>Attribute name:</strong>
    <%= @query_request.attribute_name %>
  </p>

  <p>
    <strong>Attribute value:</strong>
    <%= @query_request.attribute_value %>
  </p>

  <p>
    <strong>Body element:</strong>
    <%= @query_request.body_element %>
  </p>

  <p>
    <strong>Body query request req element:</strong>
    <%= @query_request.body_query_request_req_element %>
  </p>

  <p>
    <strong>Body query request input message:</strong>
    <%= @query_request.body_query_request_input_message %>
  </p>

  <p>
    <strong>Body query request:</strong>
    <%= @query_request.body_query_request_id %>
  </p>

  <p>
    <strong>Od header element:</strong>
    <%= @query_request.od_header_element %>
  </p>

  <p>
    <strong>Od query request input message:</strong>
    <%= @query_request.od_query_request_input_message %>
  </p>

  <p>
    <strong>Od query request request:</strong>
    <%= @query_request.od_query_request_request_id %>
  </p>

  <p>
    <strong>Od query request return code:</strong>
    <%= @query_request.od_query_request_return_code %>
  </p>

  <p>
    <strong>Od query request return message:</strong>
    <%= @query_request.od_query_request_return_message %>
  </p>

  <p>
    <strong>Od query request timestamp:</strong>
    <%= @query_request.od_query_request_timestamp %>
  </p>

  <p>
    <strong>Od query request body element:</strong>
    <%= @query_request.od_query_request_body_element %>
  </p>

  <p>
    <strong>Od query request output message:</strong>
    <%= @query_request.od_query_request_output_message %>
  </p>

  <p>
    <strong>Od query request request:</strong>
    <%= @query_request.od_query_request_request_id %>
  </p>

  <p>
    <strong>Od query request status:</strong>
    <%= @query_request.od_query_request_status %>
  </p>

  <%= link_to 'Edit', edit_query_request_path(@query_request) %> |
  <%= link_to 'Back', query_requests_path %>
</div>