<div class="col-md-12" data-target="toggle.grid">
	<div class="card border-simpleform box-shadow mb-4">
		<div class="card-header text-simpleform d-flex align-items-center justify-content-between">
		  <div>
		    <strong>Parceiros</strong><br/>
		  </div>
		</div>
	</div>

	<div class="card border-bootstrap box-shadow mb-4">
	    <div class="card-header text-bootstrap align-items-center justify-content-between">
			<%= simple_form_for(@partner, html: { class: "form-vertical", role: "form" }) do |f| %>
				<% if @partner.errors.any? %>
					<div class="alert alert-danger alert-dismissable" role="alert">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4><%= pluralize(@partner.errors.count, "erros") %> no parceiro, confira abaixo:</h4>
						<ul>
						<% @partner.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
						</ul>
					</div>
				<% end %>

				<div class="form-input col-sm-6">
					<%= f.input :name, placeholder: "Nome do parceiro" %>
				</div>

				<div class="form-input col-sm-6">
					<%= f.input :slug, placeholder: "Slug (código para busca)" %>
				</div>

				<div class="form-input col-sm-6">
					<%= f.label :order, "Ordem" %>
					<%= f.select :order, (1..(Partner.count + 1)).map{|i| [i, i]}, {}, required:true, class: "form-control" %>
				</div>
	
				<div class="form-input col-sm-6">
					<%= f.label :status_parceiro_id, "Status do Parceiro" %>
					<%= f.select :status_parceiro_id, StatusParceiro.all.collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
				</div>

				<div class="form-input col-sm-6">
					<%= f.input :margem_operadora, label: "Margem da Operadora", placeholder: "Margem da Operadora" %>
				</div>

				<div class="form-input col-sm-6">
					<%= f.input :desconto, label: "Desconto padrão do parceiro", placeholder: "Porcentagem de desconto" %>
				</div>

				<div class="form-input col-sm-12">
					<label class="float optional" for="partner_usuarios">Usuários que podem ver o logo da operadora antes da entrada em producação. Digite o LOGIN dos usuários separado por vírgula, caso seja mais de um</label>
           		 	<%= f.text_area :usuarios, placeholder: "Digite o login dos usuários", style:"height: 70px!important", class: "form-control" %>
				</div>

				<div class="form-input col-sm-6">
					<%= f.label :imagem, "Imagem", class: "col-sm-8" %>
					<%= f.file_field :imagem, placeholder: "Imagem", class: "form-control", accept:"image/jpeg, image/jpg, image/gif, image/bmp, image/png, application/pdf" %>
				</div>

				<div class="form-input col-sm-6">
					<br><br>
					<%= f.label :portfolio_venda, :label => "Este parceiro compõe o portfólio de produtos da Pagasó" %>
					<%= f.check_box :portfolio_venda %>
					<br>
				</div>	

				<div class="form-actions col-sm-12" style="margin-top: 20px;">
					<%= f.button :button, class: 'btn btn-success' do %>
						<span class="glyphicon glyphicon-ok"></span>
						Confirmar
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
