
<div class="col-md-6" data-target="toggle.grid">
<div class="card border-simpleform box-shadow mb-4">
	<div class="card-header text-simpleform d-flex align-items-center justify-content-between">
	  <div>
	    <strong>Parceiros</strong><br />
	  </div>
	</div>

	<div class="card border-bootstrap box-shadow mb-4">
	    <div class="card-header text-bootstrap d-flex align-items-center justify-content-between">
			<%= simple_form_for(@partner) do |f| %>
			  <%= f.error_notification %>
			  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

			  <div class="form-inputs">
			    <%= f.input :name %>
			  </div>

			  <div class="form-actions">
			    <%= f.button :submit %>
			  </div>
			<% end %>
		</div>
	</div>
	</div>
</div>
