
<% if @partner.slug.downcase.scan(/zap/) %>

  <% Parametro.where(partner_id: @partner).each do |param| %>

    <%= link_to "#{partner_importa_produtos_path(@partner)}?categoria=#{param.categoria}", class: 'btn btn-danger', style:"margin-left: 15px;",  data: { confirm: 'Tem Certeza?' } do %>
      Atualizar portfólio de produtos - <%= param.categoria %>
      <% 
      ultimaAtualizacaoProduto = UltimaAtualizacaoProduto.where(partner: @partner.id) 
      ultimaAtualizacaoProduto = ultimaAtualizacaoProduto.where("upper(categoria) = ?", param.categoria)  if param.categoria.present?
      %>
    <% end %> <%= " - Última atualização em: #{ultimaAtualizacaoProduto.first.updated_at.strftime("%d/%m/%Y %H:%M:%S")}" rescue "" %>
    
    <br>
    <br>
  <% end %>
  <br><br>

  <%= link_to partner_importa_dados_path(@partner), class: 'btn btn-danger', style:"margin-left: 15px;" do %>
    Importar dados para relatório de reconciliação
  <% end %> <%= " - Última atualização em: #{UltimaAtualizacaoReconciliacao.where(partner: @partner.id).first.updated_at.strftime("%d/%m/%Y %H:%M:%S")}" rescue "" %>
  <br><br>

  <a href="/partners/<%= @partner.id %>/zap-conciliacao" class='btn btn-danger'>Relatório de conciliação</a>

<% end %>