<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Parceiros</h3>
  </div>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div>
    <form action="" method="get" id="formApuracao">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Parceiro</label>
          <div>
            <select name="parceiro_id" class="form-control">
              <option value="" selected="'selected'">Todos</option>
              <% Partner.all.each do |partner| %>
              <option value="<%= partner.id %>" <% if partner.id.to_s == params[:parceiro_id] %> selected="selected" <% end %>><%= partner.name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Status</label>
          <div>
            <select name="status_parceiro_id" onchange="pgstrans.carregaStatusParceiro(this)" class="form-control">
              <option value="" selected="'selected'">Todos</option>
              <% StatusParceiro.all.each do |status_parceiro| %>
              <option value="<%= status_parceiro.id %>" <% if status_parceiro.id.to_s == params[:status_parceiro_id] %> selected="selected" <% end %>><%= status_parceiro.nome %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-success">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Voltar
          <% end %>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-12 scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome do Parceiro</th>
          <th scope="col">Ordem Apresentação</th>
          <th scope="col">Desconto Padrão</th>
          <th scope="col">Status do Parceiro</th>
          <th scope="col"></th>
          <th scope="col" colspan="3">Ações para o Registo</th>
        </tr>
      </thead>

      <tbody>
        <% @partners.each do |partner| %>
        <tr>
          <td><%= partner.id %></td>
          <td><%= partner.name %></td>
          <td align="center"><%= partner.order %></td>
          <td align="center"><%= partner.desconto %></td>
          <td><%= partner.status_parceiro.nome rescue "" %></td>
          <td><%= link_to 'Descontos', partner_desconto_parceiros_path(partner) %></td>
          <td><%= link_to 'Mostrar', partner %></td>
          <td><%= link_to 'Editar', edit_partner_path(partner) %></td>
          <td><%= link_to 'Apagar', partner, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @partners, :container => false %>
    </div>

    <%= link_to new_partner_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Registo
    <% end %>

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
    <% end %>
  </div>
</div>