<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>ID:</strong>
	  <%= @partner.id %>
	</p>

	<p>
	  <strong>Name:</strong>
	  <%= @partner.name %>
	</p>

	<p>
	  <strong>Alteração:</strong>
	  <%= @partner.updated_at %>
	</p>


	<%= link_to 'Editar', edit_partner_path(@partner) %> |
	<%= link_to 'Voltar', partners_path %>
</div>