<div class="container">

  <h4>Detalhe de Parceiro</h4>

    <!-- Page Heading/Breadcrumbs -->
    <%= render :partial => 'shared/header_backoffice' %>
    <!-- /.row -->  

  <div class="container">

    <p>
      <strong>ID:</strong>
      <%= @partner.id %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @partner.name %>
    </p>

    <p>
      <strong>Ordem de Apresentação:</strong>
      <%= @partner.order %>
    </p>

    <p>
      <strong>Data da última alteração:</strong>
      <%= @partner.updated_at %>
    </p>

    <p>
      <strong>Desconto padrão do parceiro:</strong>
      <%= @partner.desconto %>
    </p>

    <p>
      <strong>Status do parceiro:</strong>
      <%= @partner.status_parceiro.nome rescue "" %>
    </p>

    <% if !["unitel", "dstv"].include?(@partner.slug.downcase)  %>
      <p>
        <strong>Saldo atual:</strong><br>
        <%= number_to_currency(@partner.ultimo_saldo.saldo, :unit => "PTS") %><br>
        <%= number_to_currency((@partner.ultimo_saldo.saldo.to_f * 25.66), :unit => "KZ") %><br>
        <%= "Última atualização em: #{@partner.ultimo_saldo.updated_at.strftime("%d/%m/%Y %H:%M")}" rescue "" %>
        <hr>
        <% if usuario_logado.admin? || usuario_logado.operador? %>
          <%= @partner.ultimo_saldo.log %>
        <% end %>
      </p>
      
      <%= link_to partner_atualiza_saldo_path(@partner), class: 'btn btn-danger' do %>
        Consultar saldo
      <% end %>
    <% end %>

    <hr>

    <%= link_to edit_partner_path(@partner), class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-edit"></span>
      Editar
    <% end %>

    <%= link_to partners_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>

	<%= render 'zaptv' %>
	<%= render 'dstv' %>
	<%= render 'unitel' %>
</div>
