<div class="col-md-12">
  <div class="col-md-12">
    <h4>Detalhe do Parceiro</h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <div class="col-md-12">
    <%= link_to edit_partner_path(@partner), class: 'btn btn-warning', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-edit"></span>
      Editar
    <% end %>
    <%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Voltar
    <% end %>
  </div>
  <div class="col-md-12">
    <p>
      <strong>ID:</strong>
      <%= @partner.id %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @partner.name %>
    </p>
    <p>
      <strong>Slug:</strong>
      <%= @partner.slug %>
    </p>
    <p>
      <strong>Ordem de Apresentação:</strong>
      <%= @partner.order %>
    </p>
    <p>
      <strong>Data da última alteração:</strong>
      <%= @partner.updated_at %>
    </p>
    <p>
      <strong>Margem da Operadora:</strong>
      <%= @partner.margem_operadora %>
    </p>
    <p>
      <strong>Desconto padrão do parceiro:</strong>
      <%= @partner.desconto %>
    </p>
    <p>
      <strong>Status do parceiro:</strong>
      <%= @partner.status_parceiro.nome rescue "" %>
    </p>
    <p>
      <strong>Este parceiro compõe o portfólio de produtos da Pagasó?</strong>
      <%= @partner.portfolio_venda? ? "Sim": "Não" %>
    </p>
    <% if @partner.portfolio_venda? %>
      <p>
        <strong>Imagem:</strong>
        <img src="<%= @partner.imagem %>" style="width:100px">
      </p>
    <% end %>
    <% if @partner.slug.downcase.scan(/zap/).present?  %>
      <p>
        <strong>Saldo atual:</strong><br>
        <%= number_to_currency(@partner.ultimo_saldo.saldo, :unit => "PTS") %><br>
        <%= number_to_currency((@partner.ultimo_saldo.saldo.to_f * 27), :unit => "KZ") %><br>
        <%= "Última atualização em: #{@partner.ultimo_saldo.updated_at.strftime("%d/%m/%Y %H:%M:%S")}" rescue "" %>
        <% if usuario_logado.admin? || usuario_logado.operador? %>
          <% begin 
            saldo = @partner.ultimo_saldo.log 
            dado = JSON.parse(saldo.gsub("\n", "").scan(/{.*?}/).first)
            %>
            <br>
            <strong>Saldo Global: </strong> <%= number_to_currency(dado["saldo"], :unit => "KZ", :precision => 2) %><br>
            <strong>Zap TV: </strong> <%= number_to_currency(dado["dth"], :unit => "KZ", :precision => 2) %><br>
            <strong>Zap Fibra: </strong> <%= number_to_currency(dado["ftth"], :unit => "KZ", :precision => 2) %><br>
         <% rescue Exception => e %>
            <%= e.message %>
            <%= e.backtrace %>
            <%= @partner.ultimo_saldo.log %>
          <% end %>
        <% end %>
      </p>
      <%= link_to partner_atualiza_saldo_path(@partner), class: 'btn btn-danger' do %>
        Consultar Saldo
      <% end %>
    <% end %>
  </div>
  
  <div class="container-fluid">
    
    <% if @partner.slug.downcase == "zaptv" %> 
      <div class="card">
        <div class="card-bord">
          <p><strong>Outras Operações</strong></p>
          <%= render 'zaptv' %>
        </div>
      </div>
    <% end %>

    <% if @partner.slug.downcase == "zapfibra" %> 
      <div class="card">
        <div class="card-bord">
          <p><strong>Outras Operações</strong></p>
          <%= render 'zaptv' %>
        </div>
      </div>
    <% end %>

    <% if @partner.slug.downcase == "dstv" %>
      <p><strong>Outras Operações</strong></p>
      <%= render 'dstv' %>
    <% end %>

    <% if @partner.slug.downcase == "africell" %>
      <p><strong>Outras Operações</strong></p>
      <%= render 'africell' %>
    <% end %>

    <% if @partner.slug.downcase == "unitel" %>
      <div class="card">
        <div class="card-bord">
          <p><strong>Outras Operações</strong></p>
          <%= render 'unitel' %>
        </div>
      </div>
    <% end %>
  </div>
</div>