<div class="col-md-12">
	<div class="col-md-12">
    <h4>Agentes</h4>
  </div>
  <br><br>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <br><br>
  <div class="col-md-12">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Nome Social</label>
            <div>
              <input type="text" name="razao_social" value="<%= params[:razao_social] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Nome Fantasia</label>
            <div>
              <input type="text" name="nome_fantasia" value="<%= params[:nome_fantasia] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Morada</label>
            <div>
              <input type="text" name="morada" value="<%= params[:morada] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Bairro</label>
            <div>
              <input type="text" name="bairro" value="<%= params[:bairro] %>" class="form-control">
            </div>
          </div>
        </div>     
        <div class="col-sm-3">
          <div class="form-group">
            <label>Pessoa de Contacto</label>
            <div>
              <input type="text" name="contato" value="<%= params[:contato] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Actividade Económica</label>
            <div>
              <select name="industry_id" onchange="pgstrans.carregaIndustry(this)" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% Industry.all.each do |industry| %>
                  <option value="<%= industry.id %>" <% if industry.id.to_s == params[:industry_id] %> selected="selected" <% end %> ><%= industry.descricao_grupo %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Tipo</label>
              <div>
                <select name="uni_pessoal_empresa_id" onchange="pgstrans.carregaUniPessoalEmpresa(this)" class="form-control">
                  <option value="" selected="'selected'">Todos</option>
                  <% UniPessoalEmpresa.all.each do |uni_pessoal_empresa| %>
                    <option value="<%= uni_pessoal_empresa.id %>" <% if uni_pessoal_empresa.id.to_s == params[:uni_pessoal_empresa_id] %> selected="selected" <% end %> ><%= uni_pessoal_empresa.nome %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>        

          <%= link_to new_sub_agente_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Novo Registo
          <% end %>    

        </div>
    </form>
  </div>

  <div class="col-md-12">
    <h4>
    Total de Suagentes: <strong><%= number_to_currency(@sub_agentes_total, :precision => 0, :unit => "") %></strong>
    <hr>
    </h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descrição</th>
          <th scope="col">Morada e Dados de Contacto</th>
          <th colspan="3">Ações para o Registo</th>
        </tr>
      </thead>

      <tbody>
        <% @sub_agentes.each do |sub_agente| %>
          <tr>
            <td><%= sub_agente.id %></td>
            <td>
              <b>Nome Social</b>: <%= sub_agente.razao_social %><br>
              <b>Nome Fantasia</b>: <%= sub_agente.nome_fantasia %><br>
              <b>BI</b>: <%= sub_agente.bi %><br>
              <b>Tipo</b>: <%= sub_agente.uni_pessoal_empresa.nome rescue ""%><br>
              <b>Actividade Económica (grupo)</b>: <%= sub_agente.industry.descricao_grupo %>
            </td>
            <td>
              <b>Morada</b>: <%= sub_agente.morada %><br>
              <b>Bairro</b>: <%= sub_agente.bairro %><br>
              <b>Província</b>: <%= sub_agente.provincia.nome %><br>
              <b>Email</b>: <%= sub_agente.email %><br>
              <b>Telefone</b>: <%= sub_agente.telefone %><br>
              <b>Pessoa de Contacto</b>: <%= sub_agente.contato %>
            </td>
            <td><%= link_to 'Mostrar', sub_agente %></td>
            <td><%= link_to 'Editar', edit_sub_agente_path(sub_agente) %></td>
            <td><%= link_to 'Apagar', sub_agente, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @sub_agentes, :container => false %>
    </div> 

    <%= link_to new_sub_agente_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registo
    <% end %>    

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>