<div class="container">

  <h4>Sub-Agentes</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Razao Social</th>
          <th scope="col">Nome Fantasia</th>
          <th scope="col">BI</th>
<!--          <th scope="col">Ramo de Atividade</th>
          <th scope="col">Morada</th>
          <th scope="col">Bairro</th>
          <th scope="col">Provincia</th>
          <th scope="col">Email</th-->
          <th scope="col">Telefone</th>
          <th scope="col">Contato</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @sub_agentes.each do |sub_agente| %>
          <tr>
            <td><%= sub_agente.id %></td>
            <td><%= sub_agente.razao_social %></td>
            <td><%= sub_agente.nome_fantasia %></td>
            <td><%= sub_agente.bi %></td>
<!--           <td><%= sub_agente.industry.descricao_seccao %></td>
            <td><%= sub_agente.morada %></td>
            <td><%= sub_agente.bairro %></td>
            <td><%= sub_agente.provincia.nome %></td>
            <td><%= sub_agente.email %></td-->
            <td><%= sub_agente.telefone %></td>
            <td><%= sub_agente.contato %></td>
            <td><%= link_to 'Mostrar', sub_agente %></td>
            <td><%= link_to 'Editar', edit_sub_agente_path(sub_agente) %></td>
            <td><%= link_to 'Apagar', sub_agente, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to new_sub_agente_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    

    <%= link_to root_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>