<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <br>
    <h3>Log de Pagamentos de Faturas DSTV</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12" style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-2">
          <div class="form-group">
            <label>Login do Usuário</label>
            <div>
              <input type="text" name="login" value="<%= params[:login] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Nome do Usuário</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Número do Cliente</label>
            <div>
              <input type="text" name="customer_number" value="<%= params[:customer_number] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Smartcard</label>
            <div>
              <input type="text" name="smartcard" value="<%= params[:smartcard] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Recibo de Confirmação DSTV</label>
            <div>
              <input type="text" name="receipt_number" value="<%= params[:receipt_number] %>" class="form-control">
            </div>
          </div>
        </div> 
        <div class="col-sm-2">
          <div class="form-group">
            <label>Data da Transação</label>
            <div>
              <input type="date" name="transaction_date_time" value="<%= params[:transaction_date_time] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <div style="float: right;margin-right:10px">
              <input type="submit" value="Buscar" class="btn btn-info">
              <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                Voltar
              <% end %>        
            </div>
      </div>
    </form>
  </div>

  <div class="col-md-12 scroltable">
    <h4>
      Total de Transações: <strong><%= number_to_currency(@pagamentos_faturas_dstvs_total, :precision => 0, :unit => "") %></strong>
    </h4>
    <hr>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 40%">Dados</th>
          <% if @adm.id == Usuario::ROOT %>
            <th scope="col">Envio e Resposta</th>
            <th colspan="3"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @pagamentos_faturas_dstvs.each do |pagamentos_faturas_dstv| %>
        <tr>
          <td>
            <b>Customer number DSTV</b>: <%= pagamentos_faturas_dstv.customer_number %><br>
            <b>Login/Nome do Usuário</b>: <%= pagamentos_faturas_dstv.usuario.login rescue "" %>/<%= pagamentos_faturas_dstv.usuario.nome rescue "" %><br>
            <b>Valor KZ</b>: <%= number_to_currency(pagamentos_faturas_dstv.value, :precision => 2, :unit => "") %><br>
            <b>Smartcard DSTV</b>: <%= pagamentos_faturas_dstv.smartcard %><br>
            <b>Recibo de Confirmação DSTV</b>: <%= pagamentos_faturas_dstv.receipt_number %><br>
            <b>Nro. Transação</b>: <%= pagamentos_faturas_dstv.transaction_number %><br>
            <b>Confirmado?</b>: <%= pagamentos_faturas_dstv.status ? "Sim" : "Não" %><br>

            <b>Data e Hora da Transação</b>: <%= pagamentos_faturas_dstv.transaction_date_time %><br>
            <% if usuario_logado.admin? || usuario_logado.operador? %>
              <b>Audit reference number</b>: <%= pagamentos_faturas_dstv.audit_reference_number %><br>
            <% end %>
          </td>
          <% if usuario_logado.admin? || usuario_logado.operador? %>
            <td>
              <b>Envio: </b> <%= pagamentos_faturas_dstv.response_get %><br>
              <hr>
              <b>Resposta: </b> <%= pagamentos_faturas_dstv.request_send %></td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-12 apple_pagination">
    <%= will_paginate @pagamentos_faturas_dstvs, :container => false %>
  </div> 

  <%= link_to 'Voltar', "/backoffice/index", class: 'btn btn-danger' %>
</div>