<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>Pagamentos de fatura DSTV</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width:300px">Dados</th>
          <th scope="col">Response body</th>
          <th scope="col">Request body</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @pagamentos_faturas_dstvs.each do |pagamentos_faturas_dstv| %>
        <tr>
          <td>
            <b>Customer number</b>: <%= pagamentos_faturas_dstv.customer_number %><br>
            <b>Usuário</b>: <%= pagamentos_faturas_dstv.usuario.nome rescue "" %><br>
            <b>Valor</b>: <%= pagamentos_faturas_dstv.valor %><br>
            <b>Receipt number</b>: <%= pagamentos_faturas_dstv.receipt_number %><br>
            <b>Transaction number</b>: <%= pagamentos_faturas_dstv.transaction_number %><br>
            <b>Status</b>: <%= pagamentos_faturas_dstv.status %><br>
            <b>Transaction date time</b>: <%= pagamentos_faturas_dstv.transaction_date_time %><br>
            <b>Audit reference number</b>: <%= pagamentos_faturas_dstv.audit_reference_number %><br>
          </td>
          <td><%= pagamentos_faturas_dstv.response_body %></td>
          <td><%= pagamentos_faturas_dstv.request_body %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @pagamentos_faturas_dstvs, :container => false %>
    </div> 

    <%= link_to 'Voltar', "/backoffice/index", class: 'btn btn-danger' %>
  </div>
</div>