  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <br>
    <h3>Pagamentos de Faturas DSTV</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12" style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
       <div class="col-sm-2">
          <div class="form-group">
            <label>Login do Usuário</label>
            <div>
              <input type="text" name="login" value="<%= params[:login] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Nome do Usuário</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div> 
        <div class="col-sm-2">
          <div class="form-group">
            <label>Número do Cliente DSTV</label>
            <div>
              <input type="text" name="customer_number" value="<%= params[:customer_number] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Smartcard</label>
            <div>
              <input type="text" name="smartcard" value="<%= params[:smartcard] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Recibo de Confirmação DSTV</label>
            <div>
              <input type="text" name="receipt_number" value="<%= params[:receipt_number] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Data da Transação</label>
            <div>
              <input type="date" name="transaction_date_time" value="<%= params[:transaction_date_time] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">

          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Voltar
          <% end %>

        </div>
      </div>
    </form>
  </div>

  <h4 style="margin-left: 20px">Total de Transações: <strong><%= @pagamentos_faturas_dstvs.count %></h4></strong>

  <div class="col-md-12 scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Login / Nome do Usuário</th>
          <th scope="col">Número do Cliente DSTV</th>
          <th scope="col">Smartcard DSTV</th>
          <th scope="col">Valor KZ</th>
          <th scope="col">Recibo DSTV</th>
          <th scope="col">Nro. Transação</th>
          <th scope="col">Confirmado?</th>
          <th scope="col" class="text-center">Data/Hora</th>
        </tr>
      </thead>

      <tbody>
        <% valor_total = 0 
          @pagamentos_faturas_dstvs.each do |pagamentos_faturas_dstv|
            valor_total += pagamentos_faturas_dstv.value
        %>
        <tr>
          <td>
            <%= pagamentos_faturas_dstv.usuario.login rescue "" %> /
            <%= pagamentos_faturas_dstv.usuario.nome rescue "" %>
          </td>
          <td class="text-center"><%= pagamentos_faturas_dstv.customer_number %></td>
          <td class="text-center"><%= pagamentos_faturas_dstv.smartcard %></td>
          <td class="text-right"><%= number_to_currency(pagamentos_faturas_dstv.valor_original, :unit => "KZ") %></td>
          <td class="text-center"><%= pagamentos_faturas_dstv.receipt_number %></td>
          <td class="text-center"><%= pagamentos_faturas_dstv.transaction_number %></td>
          <td class="text-center"><%= pagamentos_faturas_dstv.status ? "Sim" : "Não" %></td>
          <td><%= pagamentos_faturas_dstv.transaction_date_time.to_datetime.strftime("%d/%m/%Y %H:%M:%S") rescue pagamentos_faturas_dstv.transaction_date_time.to_datetime %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td>
          </td>
          <td class="text-center"></td>
          <td class="text-right"><b>Total:</b></td>
          <td class="text-center"><b><%= number_to_currency(valor_total, :unit => "KZ") %></b></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td></td>
        </tr>
      </tfoot>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @pagamentos_faturas_dstvs, :container => false %>
    </div>

    <h4>Total de Geral: <strong><%= number_to_currency(@pagamentos_faturas_dstvs_valor, :unit => "KZ") %></h4></strong>

    <hr>

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
      <% end %>
  </div>