  
  <div class="col-md-12 scroltable">
    <p id="notice"><%= notice %></p>
    <br>
    <h3>Pagamentos de Faturas DSTV</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12" style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Customer Number/Número do Cliente</label>
            <div>
              <input type="text" name="customer_number" value="<%= params[:customer_number] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Smartcard/Device Number</label>
            <div>
              <input type="text" name="smartcard" value="<%= params[:smartcard] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Recibo Confirmação DSTV</label>
            <div>
              <input type="text" name="receipt_number" value="<%= params[:receipt_number] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data da Transação</label>
            <div>
              <input type="date" name="transaction_date_time" value="<%= params[:transaction_date_time] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">

          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
          
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-12 scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Número do Cliente</th>
          <th scope="col">Usuário</th>
          <th scope="col">Valor KZ</th>
          <th scope="col">Smartcard/Device number</th>
          <th scope="col">Recibo Confirmação</th>
          <th scope="col">Nro. Transação</th>
          <th scope="col">Confirmado?</th>
          <th scope="col">Data/Hora</th>
        </tr>
      </thead>

      <tbody>
          <% @pagamentos_faturas_dstvs.each do |pagamentos_faturas_dstv| %>
            <tr>
              <td><%= pagamentos_faturas_dstv.customer_number %></td>
              <td><%= pagamentos_faturas_dstv.usuario.nome rescue "" %></td>
              <td><%= number_to_currency(pagamentos_faturas_dstv.valor, :unit => "KZ") %></td>
              <td><%= pagamentos_faturas_dstv.smartcard %></td>
              <td class="text-center"><%= pagamentos_faturas_dstv.receipt_number %></td>
              <td class="text-center"><%= pagamentos_faturas_dstv.transaction_number %></td>
              <td class="text-center"><%= pagamentos_faturas_dstv.status ? "Sim" : "Não" %></td>
              <td><%= pagamentos_faturas_dstv.transaction_date_time.to_datetime.strftime("%d/%m/%Y %H:%M") rescue pagamentos_faturas_dstv.transaction_date_time.to_datetime %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>

  <div class="apple_pagination">
    <%= will_paginate @pagamentos_faturas_dstvs, :container => false %>
  </div> 

  <%= link_to 'Voltar', "/backoffice/index", class: 'btn btn-danger' %>
</div>