<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Mostrar Pagamentos Faturas DSTV</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12 scroltable">
    <dl class="dl-horizontal">
      <% if @adm.id == Usuario::ROOT %>
        <dt>Envio:</dt>
        <dd><%= @pagamentos_faturas_dstv.request_send %></dd>
        <dt>Resposta:</dt>
        <dd><%= @pagamentos_faturas_dstv.response_get %></dd>
      <% end %>
      <dt>Customer number:</dt>
      <dd><%= @pagamentos_faturas_dstv.customer_number %></dd>
      <dt>Valor:</dt>
      <dd><%= @pagamentos_faturas_dstv.value %></dd>
      <dt>Smartcard:</dt>
      <dd><%= @pagamentos_faturas_dstv.smartcard %></dd>
      <dt>Administrador:</dt>
      <dd><%= @pagamentos_faturas_dstv.usuario.nome rescue "" %></dd>
      <dt>Receipt number:</dt>
      <dd><%= @pagamentos_faturas_dstv.receipt_number %></dd>
      <dt>Transaction number:</dt>
      <dd><%= @pagamentos_faturas_dstv.transaction_number %></dd>
      <dt>Status:</dt>
      <dd><%= @pagamentos_faturas_dstv.status %></dd>
      <dt>Transaction date time:</dt>
      <dd><%= @pagamentos_faturas_dstv.transaction_date_time %></dd>
      <dt>Audit reference number:</dt>
      <dd><%= @pagamentos_faturas_dstv.audit_reference_number %></dd>
    </dl>

    <div class="page-header">
      <%= link_to pagamentos_faturas_dstvs_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_pagamentos_faturas_dstv_path(@pagamentos_faturas_dstv), class: 'btn btn-warning' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>