<div class="container">

  <h4>Status de Alegação Pagamentos</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th colspan="3">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @status_alegacao_pagamentos.each do |status_alegacao_pagamento| %>
        <tr>
          <td><%= status_alegacao_pagamento.id %></td>
          <td><%= status_alegacao_pagamento.nome %></td>
          <td><%= link_to 'Mostrar', status_alegacao_pagamento %></td>
          <td><%= link_to 'Editar', edit_status_alegacao_pagamento_path(status_alegacao_pagamento) %></td>
          <td><%= link_to 'Apagar', status_alegacao_pagamento, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @status_alegacao_pagamentos, :container => false %>
    </div> 

    <%= link_to new_status_alegacao_pagamento_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>