
<style>
  @media print {
    .break-page {page-break-after: always;}
  }
</style>
<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold">
          Consultar Voucher Elephant Bet 
          <hr>
        </div>
        <ul>
          <li>Opções de Busca</li>
          <li>Código de Referência</li>
          <li>Código de Pagamento</li>
        </ul>

        <% if @retorno_confirmacao.blank? %>
          <div class="card-body">
            <form action="/africell/confirmacao_transacao" method="get">

              <div class="col-md-12">
                <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                  <h3>Informe</h3>
                  <div style="margin-left: 4%;">Código de Referência</div>
                  <input type="text" class="form-control" value="<%= params[:target_msisdn] %>" name="target_msisdn" placeholder="Código de referência do voucher" style="margin-left: 4%;max-width: 300px;">
                </div>
                <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                  <div style="margin-left: 4%;">Código de Pagamento</div>
                  <input type="text" class="form-control" value="<%= params[:request_id] %>" name="request_id" placeholder="Código de pagamento do voucher" style="margin-left: 4%;max-width: 300px;">
                </div>
                <div class="saveCancelbts" style="padding-top: 25px;padding-bottom: 25px;text-align: right;">
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <input type="submit" class="btn btn-success" style="width: 150px; text-align: center;" value="VALIDAR">
                  </div>
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <%= link_to root_path, class: 'btn btn-space btn-danger', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
                      <span class="glyphicon glyphicon-list-alt"></span>
                      VOLTAR
                    <% end %>
                  </div>
                </div>
              </div>
            </form>
          </div>
        <% else %>
          <%= render "recibo_confirmacao_transacao" %>
          <hr class="break-page">
          <br>
          <br>
          <div style="display: inline-block;margin-bottom: 10px;width: 100%;margin-bottom: 5px;">
            <%= link_to africell_confirmacao_transacao_path, class: 'btn btn-danger', style: "width: 100%;text-align: center;" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Voltar
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
