
<%= simple_form_for(@topup_validation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :spree_order_id %>
    <%= f.input :spree_products_id %>
    <%= f.input :header_element %>
    <%= f.input :validate_topup_req_header_element %>
    <%= f.input :request_id %>
    <%= f.input :header_timestamp %>
    <%= f.input :header_source_system %>
    <%= f.input :credentials_element %>
    <%= f.input :credentials_user %>
    <%= f.input :credentials_password %>
    <%= f.input :attributes_list %>
    <%= f.input :attributes_element %>
    <%= f.input :attribute_name %>
    <%= f.input :attribute_value %>
    <%= f.input :body_element %>
    <%= f.input :validation_topup_req %>
    <%= f.input :validate_topup_input_message %>
    <%= f.input :validate_topup_req_body_type %>
    <%= f.input :validate_topup_req_body_amount %>
    <%= f.input :validate_topup_req_body_msisdn %>
    <%= f.input :op_header %>
    <%= f.input :op_validate_topup_input_message %>
    <%= f.input :op_request_id %>
    <%= f.input :op_return_code %>
    <%= f.input :op_return_message %>
    <%= f.input :op_timestamp %>
    <%= f.input :op_body_element %>
    <%= f.input :op_body_validate_topup_resp %>
    <%= f.input :op_body_validate_topup_output_message %>
    <%= f.input :qtde_retry %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
