<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Topup Validations</h1>

  <table>
    <thead>
      <tr>
        <th>Spree order</th>
        <th>Spree products</th>
        <th>Header element</th>
        <th>Validate topup req header element</th>
        <th>Request</th>
        <th>Header timestamp</th>
        <th>Header source system</th>
        <th>Credentials element</th>
        <th>Credentials user</th>
        <th>Credentials password</th>
        <th>Attributes list</th>
        <th>Attributes element</th>
        <th>Attribute name</th>
        <th>Attribute value</th>
        <th>Body element</th>
        <th>Validation topup req</th>
        <th>Validate topup input message</th>
        <th>Validate topup req body type</th>
        <th>Validate topup req body amount</th>
        <th>Validate topup req body msisdn</th>
        <th>Op header</th>
        <th>Op validate topup input message</th>
        <th>Op request</th>
        <th>Op return code</th>
        <th>Op return message</th>
        <th>Op timestamp</th>
        <th>Op body element</th>
        <th>Op body validate topup resp</th>
        <th>Op body validate topup output message</th>
        <th>Qtde retry</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @topup_validations.each do |topup_validation| %>
        <tr>
          <td><%= topup_validation.spree_order_id %></td>
          <td><%= topup_validation.spree_products_id %></td>
          <td><%= topup_validation.header_element %></td>
          <td><%= topup_validation.validate_topup_req_header_element %></td>
          <td><%= topup_validation.request_id %></td>
          <td><%= topup_validation.header_timestamp %></td>
          <td><%= topup_validation.header_source_system %></td>
          <td><%= topup_validation.credentials_element %></td>
          <td><%= topup_validation.credentials_user %></td>
          <td><%= topup_validation.credentials_password %></td>
          <td><%= topup_validation.attributes_list %></td>
          <td><%= topup_validation.attributes_element %></td>
          <td><%= topup_validation.attribute_name %></td>
          <td><%= topup_validation.attribute_value %></td>
          <td><%= topup_validation.body_element %></td>
          <td><%= topup_validation.validation_topup_req %></td>
          <td><%= topup_validation.validate_topup_input_message %></td>
          <td><%= topup_validation.validate_topup_req_body_type %></td>
          <td><%= topup_validation.validate_topup_req_body_amount %></td>
          <td><%= topup_validation.validate_topup_req_body_msisdn %></td>
          <td><%= topup_validation.op_header %></td>
          <td><%= topup_validation.op_validate_topup_input_message %></td>
          <td><%= topup_validation.op_request_id %></td>
          <td><%= topup_validation.op_return_code %></td>
          <td><%= topup_validation.op_return_message %></td>
          <td><%= topup_validation.op_timestamp %></td>
          <td><%= topup_validation.op_body_element %></td>
          <td><%= topup_validation.op_body_validate_topup_resp %></td>
          <td><%= topup_validation.op_body_validate_topup_output_message %></td>
          <td><%= topup_validation.qtde_retry %></td>
          <td><%= link_to 'Show', topup_validation %></td>
          <td><%= link_to 'Edit', edit_topup_validation_path(topup_validation) %></td>
          <td><%= link_to 'Destroy', topup_validation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Topup Validation', new_topup_validation_path %>
</div>