<div class="container">

  <h3>Topup Validations</h3>

  <p>Transações enviadas ou recebidas das operadoras após consulta por meio de API</p>

  <p>Estas informações estão disponíveis apenas para consulta. Não pode haver manipulação dessas informações diretamente pelo <i>backoffice</i></p>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Spree order</th>
        <th scope="col">Spree products</th>
        <th scope="col">Header element</th>
        <th scope="col">Validate topup req header element</th>
        <th scope="col">Request</th>
        <th scope="col">Header timestamp</th>
        <th scope="col">Header source system</th>
        <th scope="col">Credentials element</th>
        <th scope="col">Credentials user</th>
        <th scope="col">Credentials password</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @topup_validations.each do |topup_validation| %>
        <tr>
          <td><%= topup_validation.spree_order_id %></td>
          <td><%= topup_validation.spree_products_id %></td>
          <td><%= topup_validation.header_element %></td>
          <td><%= topup_validation.validate_topup_req_header_element %></td>
          <td><%= topup_validation.request_id %></td>
          <td><%= topup_validation.header_timestamp %></td>
          <td><%= topup_validation.header_source_system %></td>
          <td><%= topup_validation.credentials_element %></td>
          <td><%= topup_validation.credentials_user %></td>

          <td><%= link_to 'Mostrar', topup_validation %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Voltar', root_path, class: 'btn btn-danger' %>
</div>