<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@uni_pessoal_empresa, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <% if @uni_pessoal_empresa.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@uni_pessoal_empresa.errors.count, "erros") %> no uni_pessoal_empresa, confira abaixo:</h4>

            <ul>
            <% @uni_pessoal_empresa.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-inputs col-sm-12">
          <%= f.input :nome, :label => "Descrição", placeholder: "Informe a descrição" %>
        </div>

        <div class="form-actions col-sm-12">
          <%= f.button :button, class: 'btn btn-success', style: "width: 150px;text-align: center;margin-right: 0px; ;margin-top: 7px" do %>
            <span class="glyphicon glyphicon-ok"></span>
            Confirmar
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>