<div class="container">
  <h4>Cliente Unipessoal ou Empresa</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @uni_pessoal_empresas.each do |uni_pessoal_empresa| %>
        <tr>
          <td><%= uni_pessoal_empresa.id %></td>
          <td><%= uni_pessoal_empresa.nome %></td>
          <td><%= link_to 'Mostrar', uni_pessoal_empresa %></td>
          <td><%= link_to 'Editar', edit_uni_pessoal_empresa_path(uni_pessoal_empresa) %></td>
          <td><%= link_to 'Apagar', uni_pessoal_empresa, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to new_uni_pessoal_empresa_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>