<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Cliente Unipessoal ou Empresa</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <div>
    <form action="" method="get" id="formApuracao">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Descrição</label>
          <div>
            <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>        
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12 scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th colspan="3">Ações para o Registo</th>
        </tr>
      </thead>

      <tbody>
        <% @uni_pessoal_empresas.each do |uni_pessoal_empresa| %>
        <tr>
          <td><%= uni_pessoal_empresa.id %></td>
          <td><%= uni_pessoal_empresa.nome %></td>
          <td><%= link_to 'Editar', edit_uni_pessoal_empresa_path(uni_pessoal_empresa) %></td>
          <td><%= link_to 'Apagar', uni_pessoal_empresa, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @uni_pessoal_empresas, :container => false %>
    </div>

    <%= link_to new_uni_pessoal_empresa_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>