

<div class="form-input col-sm-12">  
  <div class="form-group string optional url_integracao_desenvolvimento">
    <label class="string optional" for="url_integracao_desenvolvimento">URL Integração em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_desenvolvimento %>" type="text" name="parametro[url_integracao_desenvolvimento]" id="url_integracao_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional url_integracao_producao">
    <label class="string optional" for="url_integracao_producao">URL Integração em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_producao %>" type="text" name="parametro[url_integracao_producao]" id="url_integracao_producao">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional otp_key">
    <label class="string optional" for="otp_key">OTP Key</label>
    <input class="form-control string optional" value="<%= @parametro.get.otp_key %>" type="text" name="parametro[otp_key]" id="otp_key">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional basic_base64_authentication">
    <label class="string optional" for="basic_base64_authentication">BASIC BASE64 AUTHENTICATION</label>
    <input class="form-control string optional" value="<%= @parametro.get.basic_base64_authentication %>" type="text" name="parametro[basic_base64_authentication]" id="basic_base64_authentication">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTP_Login">
    <label class="string optional" for="endpoint_HTTP_Login">Endpoint HTTP_Login</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTP_Login %>" type="text" name="parametro[endpoint_HTTP_Login]" id="endpoint_HTTP_Login">
  </div>
</div>
<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTP_ValidateOTP">
    <label class="string optional" for="endpoint_HTTP_ValidateOTP">Endpoint HTTP_ValidateOTP</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTP_ValidateOTP %>" type="text" name="parametro[endpoint_HTTP_ValidateOTP]" id="endpoint_HTTP_ValidateOTP">
  </div>
</div>


<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTP_RefreshToken">
    <label class="string optional" for="endpoint_HTTP_RefreshToken">Endpoint HTTP_RefreshToken</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTP_RefreshToken %>" type="text" name="parametro[endpoint_HTTP_RefreshToken]" id="endpoint_HTTP_RefreshToken">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTPC_CheckDealerBalance">
    <label class="string optional" for="endpoint_HTTPC_CheckDealerBalance">Endpoint HTTPC_CheckDealerBalance</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTPC_CheckDealerBalance %>" type="text" name="parametro[endpoint_HTTPC_CheckDealerBalance]" id="endpoint_HTTPC_CheckDealerBalance">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTP_Recharge">
    <label class="string optional" for="endpoint_HTTP_Recharge">Endpoint HTTP_Recharge</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTP_Recharge %>" type="text" name="parametro[endpoint_HTTP_Recharge]" id="endpoint_HTTP_Recharge">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTP_CheckTransactionLog">
    <label class="string optional" for="endpoint_HTTP_CheckTransactionLog">Endpoint HTTP_CheckTransactionLog</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTP_CheckTransactionLog %>" type="text" name="parametro[endpoint_HTTP_CheckTransactionLog]" id="endpoint_HTTP_CheckTransactionLog">
  </div>
</div>

