<div class="row bg-light h-50 p-3">
  <div class="col-md-4">
      Parceiro
  </div>
  <div class="col-md-8">
      <%= @parametro.partner.name %>
  </div>
</div>
<hr>
<div class="row h-50 p-3">
  <div class="col-md-4">
      URL integração desenvolvimento:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.url_integracao_desenvolvimento %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">
  <div class="col-md-4">
      URL integração produção:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.url_integracao_producao %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">
  <div class="col-md-4">
      OTP Key:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.otp_key %>
  </div>
</div>
<hr>    
<div class="row bg-light h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTP_Login:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTP_Login %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTP_ValidateOTP:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTP_ValidateOTP %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTP_RefreshToken:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTP_RefreshToken %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTPC_CheckDealerBalance:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTPC_CheckDealerBalance %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTP_Recharge:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTP_Recharge %>
  </div>
</div>
<hr>
  <div class="row bg-light h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTP_CheckTransactionLog:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTP_CheckTransactionLog %>
  </div>
</div>