

<div class="form-input col-sm-12">  
  <div class="form-group string optional url_integracao_desenvolvimento">
    <label class="string optional" for="url_integracao_desenvolvimento">URL Integração em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_desenvolvimento %>" type="text" name="parametro[url_integracao_desenvolvimento]" id="url_integracao_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional url_integracao_producao">
    <label class="string optional" for="url_integracao_producao">URL Integração em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_producao %>" type="text" name="parametro[url_integracao_producao]" id="url_integracao_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional sid">
    <label class="string optional" for="sid">SID</label>
    <input class="form-control string optional" value="<%= @parametro.get.sid %>" type="text" name="parametro[sid]" id="sid">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional resource">
    <label class="string optional" for="resource">Resource</label>
    <input class="form-control string optional" value="<%= @parametro.get.resource %>" type="text" name="parametro[resource]" id="resource">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional secret_key">
    <label class="string optional" for="secret_key">SECRET KEY</label>
    <input class="form-control string optional" value="<%= @parametro.get.secret_key %>" type="text" name="parametro[secret_key]" id="secret_key">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional payment_id">
    <label class="string optional" for="payment_id">PaymentID</label>
    <input class="form-control string optional" value="<%= @parametro.get.payment_id %>" type="text" name="parametro[payment_id]" id="payment_id">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional endpoint_Transactions">
    <label class="string optional" for="endpoint_Transactions">Endpoint Transactions</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_Transactions %>" type="text" name="parametro[endpoint_Transactions]" id="endpoint_Transactions">
  </div>
</div>