
<div class="form-input col-sm-12">  
  <div class="form-group string optional url_integracao_desenvolvimento">
    <label class="string optional" for="url_integracao_desenvolvimento">URL Integração em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_desenvolvimento %>" type="text" name="parametro[url_integracao_desenvolvimento]" id="url_integracao_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional url_integracao_producao">
    <label class="string optional" for="url_integracao_producao">URL Integração em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_producao %>" type="text" name="parametro[url_integracao_producao]" id="url_integracao_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional customer_number_desenvolvimento">
    <label class="string optional" for="customer_number_desenvolvimento">Customer Number DSTV Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.customer_number_desenvolvimento %>" type="text" name="parametro[customer_number_desenvolvimento]" id="customer_number_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional customer_number_producao">
    <label class="string optional" for="customer_number_producao">Customer Number DSTV Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.customer_number_producao %>" type="text" name="parametro[customer_number_producao]" id="customer_number_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional data_source_dstv_desenvolvimento">
    <label class="string optional" for="data_source_dstv_desenvolvimento">Data Source DSTV em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.data_source_dstv_desenvolvimento %>" type="text" name="parametro[data_source_dstv_desenvolvimento]" id="data_source_dstv_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional data_source_dstv_producao">
    <label class="string optional" for="data_source_dstv_producao">Data Source DSTV em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.data_source_dstv_producao %>" type="text" name="parametro[data_source_dstv_producao]" id="data_source_dstv_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional payment_vendor_code_dstv_desenvolvimento">
    <label class="string optional" for="payment_vendor_code_dstv_desenvolvimento">Payment Vendor DSTV em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.payment_vendor_code_dstv_desenvolvimento %>" type="text" name="parametro[payment_vendor_code_dstv_desenvolvimento]" id="payment_vendor_code_dstv_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional payment_vendor_code_dstv_producao">
    <label class="string optional" for="payment_vendor_code_dstv_producao">Payment Vendor DSTV em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.payment_vendor_code_dstv_producao %>" type="text" name="parametro[payment_vendor_code_dstv_producao]" id="payment_vendor_code_dstv_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional vendor_code_dstv_desenvolvimento">
    <label class="string optional" for="vendor_code_dstv_desenvolvimento">Vendor Code DSTV em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.vendor_code_dstv_desenvolvimento %>" type="text" name="parametro[vendor_code_dstv_desenvolvimento]" id="vendor_code_dstv_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional vendor_code_dstv_producao">
    <label class="string optional" for="vendor_code_dstv_producao">Vendor Code DSTV em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.vendor_code_dstv_producao %>" type="text" name="parametro[vendor_code_dstv_producao]" id="vendor_code_dstv_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional agent_account_dstv_desenvolvimento">
    <label class="string optional" for="agent_account_dstv_desenvolvimento">Agent Account DSTV em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.agent_account_dstv_desenvolvimento %>" type="text" name="parametro[agent_account_dstv_desenvolvimento]" id="agent_account_dstv_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional agent_account_dstv_producao">
    <label class="string optional" for="agent_account_dstv_producao">Agent Account DSTV em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.agent_account_dstv_producao %>" type="text" name="parametro[agent_account_dstv_producao]" id="agent_account_dstv_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional currency_dstv_desenvolvimento">
    <label class="string optional" for="currency_dstv_desenvolvimento">Currency DSTV em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.currency_dstv_desenvolvimento %>" type="text" name="parametro[currency_dstv_desenvolvimento]" id="currency_dstv_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional currency_dstv_producao">
    <label class="string optional" for="currency_dstv_producao">Currency DSTV em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.currency_dstv_producao %>" type="text" name="parametro[currency_dstv_producao]" id="currency_dstv_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional product_user_key_dstv_desenvolvimento">
    <label class="string optional" for="product_user_key_dstv_desenvolvimento">Product User Key DSTV em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.product_user_key_dstv_desenvolvimento %>" type="text" name="parametro[product_user_key_dstv_desenvolvimento]" id="product_user_key_dstv_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional product_user_key_dstv_producao">
    <label class="string optional" for="product_user_key_dstv_producao">Product User Key DSTV em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.product_user_key_dstv_producao %>" type="text" name="parametro[product_user_key_dstv_producao]" id="product_user_key_dstv_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional mop_dstv_desenvolvimento">
    <label class="string optional" for="mop_dstv_desenvolvimento">MOP DSTV em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.mop_dstv_desenvolvimento %>" type="text" name="parametro[mop_dstv_desenvolvimento]" id="mop_dstv_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional mop_dstv_producao">
    <label class="string optional" for="mop_dstv_producao">MOP DSTV em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.mop_dstv_producao %>" type="text" name="parametro[mop_dstv_producao]" id="mop_dstv_producao">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional agent_number_dstv_desenvolvimento">
    <label class="string optional" for="agent_number_dstv_desenvolvimento">Agent Number em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.agent_number_dstv_desenvolvimento %>" type="text" name="parametro[agent_number_dstv_desenvolvimento]" id="agent_number_dstv_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional agent_number_dstv_producao">
    <label class="string optional" for="agent_number_dstv_producao">Agent Number em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.agent_number_dstv_producao %>" type="text" name="parametro[agent_number_dstv_producao]" id="agent_number_dstv_producao">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional business_unit_desenvolvimento">
    <label class="string optional" for="business_unit_desenvolvimento">Business Unit desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.business_unit_desenvolvimento %>" type="text" name="parametro[business_unit_desenvolvimento]" id="business_unit_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional business_unit_producao">
    <label class="string optional" for="business_unit_producao">Business Unit produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.business_unit_producao %>" type="text" name="parametro[business_unit_producao]" id="business_unit_producao">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional language_desenvolvimento">
    <label class="string optional" for="language_desenvolvimento">Language desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.language_desenvolvimento %>" type="text" name="parametro[language_desenvolvimento]" id="language_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional language_producao">
    <label class="string optional" for="language_producao">Language produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.language_producao %>" type="text" name="parametro[language_producao]" id="language_producao">
  </div>
</div>
