

<div class="form-input col-sm-12">  
  <div class="form-group string optional url_integracao_desenvolvimento">
    <label class="string optional" for="url_integracao_desenvolvimento">URL Integração em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_desenvolvimento %>" type="text" name="parametro[url_integracao_desenvolvimento]" id="url_integracao_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional url_integracao_producao">
    <label class="string optional" for="url_integracao_producao">URL Integração em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_producao %>" type="text" name="parametro[url_integracao_producao]" id="url_integracao_producao">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional bearer_token_default">
    <label class="string optional" for="bearer_token_default">Bearer Token Default</label>
    <input class="form-control string optional" value="<%= @parametro.get.bearer_token_default %>" type="text" name="parametro[bearer_token_default]" id="bearer_token_default">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional login">
    <label class="string optional" for="login">Login</label>
    <input class="form-control string optional" value="<%= @parametro.get.login %>" type="text" name="parametro[login]" id="login">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional passphrase">
    <label class="string optional" for="passphrase">Passphrase/Password</label>
    <input class="form-control string optional" value="<%= @parametro.get.passphrase %>" type="text" name="parametro[passphrase]" id="passphrase">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTP_Login">
    <label class="string optional" for="endpoint_HTTP_Login">Endpoint HTTP_Login</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTP_Login %>" type="text" name="parametro[endpoint_HTTP_Login]" id="endpoint_HTTP_Login">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTP_Heartbeat">
    <label class="string optional" for="endpoint_HTTP_Heartbeat">Endpoint HTTP_Heartbeat</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTP_Heartbeat %>" type="text" name="parametro[endpoint_HTTP_Heartbeat]" id="endpoint_HTTP_Heartbeat">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTP_StaffsMeStatus">
    <label class="string optional" for="endpoint_HTTP_StaffsMeStatus">Endpoint HTTP_StaffsMeStatus</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTP_StaffsMeStatus %>" type="text" name="parametro[endpoint_HTTP_StaffsMeStatus]" id="endpoint_HTTP_StaffsMeStatus">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTP_StaffsMeReport">
    <label class="string optional" for="endpoint_HTTP_StaffsMeReport">Endpoint HTTP_StaffsMeReport</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTP_StaffsMeReport %>" type="text" name="parametro[endpoint_HTTP_StaffsMeReport]" id="endpoint_HTTP_StaffsMeReport">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTP_VouchersCreateOnlyPlayable">
    <label class="string optional" for="endpoint_HTTP_VouchersCreateOnlyPlayable">Endpoint HTTP Vouchers Create Only Playable</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTP_VouchersCreateOnlyPlayable %>" type="text" name="parametro[endpoint_HTTP_VouchersCreateOnlyPlayable]" id="endpoint_HTTP_VouchersCreateOnlyPlayable">
  </div>
</div>

<div class="form-input col-sm-6">
  <div class="form-group string optional endpoint_HTTP_ConsultaVoucher">
    <label class="string optional" for="endpoint_HTTP_ConsultaVoucher">Endpoint HTTP Consulta Voucher Reference e Payment Code</label>
    <input class="form-control string optional" value="<%= @parametro.get.endpoint_HTTP_ConsultaVoucher %>" type="text" name="parametro[endpoint_HTTP_ConsultaVoucher]" id="endpoint_HTTP_ConsultaVoucher">
  </div>
</div>
