<div class="row bg-light h-50 p-3">
  <div class="col-md-4">
      Parceiro
  </div>
  <div class="col-md-8">
      <%= @parametro.partner.name %>
  </div>
</div>
<hr>
<div class="row h-50 p-3">
  <div class="col-md-4">
      URL integração desenvolvimento:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.url_integracao_desenvolvimento %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">
  <div class="col-md-4">
      URL integração produção:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.url_integracao_producao %>
  </div>
</div>
<hr>
<div class="row h-50 p-3">
  <div class="col-md-4">
      Login:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.login %>
  </div>
</div>
<hr>
<div class="row h-50 p-3">
  <div class="col-md-4">
      Passphrase/Password:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.passphrase %>
  </div>
</div>
<hr>    
<div class="row h-50 p-3">
  <div class="col-md-4">
      Active Session Code:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.session %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTP_Login:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTP_Login %>
  </div>
</div>
<hr>
<div class="row h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTP Session Heartbeat:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTP_Heartbeat %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTP Staffs Me Status:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTP_StaffsMeStatus %>
  </div>
</div>
<hr>
<div class="row h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTP Staffs Me Report:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTP_StaffsMeReport %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTP Vouchers Create Only Playable:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTP_VouchersCreateOnlyPlayable %>
  </div>
</div>
<hr>
  <div class="row h-50 p-3">    
  <div class="col-md-4">
      Endpoint HTTP Consulta Voucher Reference e Payment Code:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.endpoint_HTTP_ConsultaVoucher %>
  </div>
</div>
