<div class="form-input col-sm-12">  
  <div class="form-group string optional url_integracao_desenvolvimento">
    <label class="string optional" for="url_integracao_desenvolvimento">URL Integração em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_desenvolvimento %>" type="text" name="parametro[url_integracao_desenvolvimento]" id="url_integracao_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional url_integracao_producao">
    <label class="string optional" for="url_integracao_producao">URL Integração em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_producao %>" type="text" name="parametro[url_integracao_producao]" id="url_integracao_producao">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional api_key_ende_desenvolvimento">
    <label class="string optional" for="api_key_ende_desenvolvimento">API Key ENDE em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.api_key_ende_desenvolvimento %>" type="text" name="parametro[api_key_ende_desenvolvimento]" id="api_key_ende_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional api_key_ende_producao">
    <label class="string optional" for="api_key_ende_producao">API Key ENDE em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.api_key_ende_producao %>" type="text" name="parametro[api_key_ende_producao]" id="api_key_ende_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional client_id">
    <label class="string optional" for="client_id">ClientId</label>
    <input class="form-control string optional" value="<%= @parametro.get.client_id %>" type="text" name="parametro[client_id]" id="client_id">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional terminal_id">
    <label class="string optional" for="terminal_id">TerminalId</label>
    <input class="form-control string optional" value="<%= @parametro.get.terminal_id %>" type="text" name="parametro[terminal_id]" id="terminal_id">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional operator_id">
    <label class="string optional" for="operator_id">OperatorId</label>
    <input class="form-control string optional" value="<%= @parametro.get.operator_id %>" type="text" name="parametro[operator_id]" id="operator_id">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional password">
    <label class="string optional" for="password">Password</label>
    <input class="form-control string optional" value="<%= @parametro.get.password %>" type="text" name="parametro[password]" id="password">
  </div>
</div>
