<div class="form-input col-sm-12">  
  <div class="form-group string optional url_integracao_desenvolvimento">
    <label class="string optional" for="url_integracao_desenvolvimento">URL Integração em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_desenvolvimento %>" type="text" name="parametro[url_integracao_desenvolvimento]" id="url_integracao_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional url_integracao_producao">
    <label class="string optional" for="url_integracao_producao">URL Integração em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_producao %>" type="text" name="parametro[url_integracao_producao]" id="url_integracao_producao">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional agent_key_movicel_desenvolvimento">
    <label class="string optional" for="agent_key_movicel_desenvolvimento">Agent Key Movicel em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.agent_key_movicel_desenvolvimento %>" type="text" name="parametro[agent_key_movicel_desenvolvimento]" id="agent_key_movicel_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional agent_key_movicel_producao">
    <label class="string optional" for="agent_key_movicel_producao">Agent Key Movicel em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.agent_key_movicel_producao %>" type="text" name="parametro[agent_key_movicel_producao]" id="agent_key_movicel_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional user_id_movicel_desenvolvimento">
    <label class="string optional" for="user_id_movicel_desenvolvimento">User ID Movicel em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.user_id_movicel_desenvolvimento %>" type="text" name="parametro[user_id_movicel_desenvolvimento]" id="user_id_movicel_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional user_id_movicel_producao">
    <label class="string optional" for="user_id_movicel_producao">User ID Movicel em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.user_id_movicel_producao %>" type="text" name="parametro[user_id_movicel_producao]" id="user_id_movicel_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional language_desenvolvimento">
    <label class="string optional" for="language_desenvolvimento">Language desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.language_desenvolvimento %>" type="text" name="parametro[language_desenvolvimento]" id="language_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional language_producao">
    <label class="string optional" for="language_producao">Language produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.language_producao %>" type="text" name="parametro[language_producao]" id="language_producao">
  </div>
</div>
