<div class="form-input col-sm-12">  
  <div class="form-group string optional url_integracao_desenvolvimento">
    <label class="string optional" for="url_integracao_desenvolvimento">URL Integração em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_desenvolvimento %>" type="text" name="parametro[url_integracao_desenvolvimento]" id="url_integracao_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional url_integracao_producao">
    <label class="string optional" for="url_integracao_producao">URL Integração em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_producao %>" type="text" name="parametro[url_integracao_producao]" id="url_integracao_producao">
  </div>
</div>

<div class="form-input col-sm-4">
  <div class="form-group string optional unitel_agente_id">
    <label class="string optional" for="unitel_agente_id">AGENT_ID Unitel)</label>
    <input class="form-control string optional" value="<%= @parametro.get.unitel_agente_id %>" type="text" name="parametro[unitel_agente_id]" id="unitel_agente_id">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional business_unit_desenvolvimento">
    <label class="string optional" for="business_unit_desenvolvimento">Business Unit desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.business_unit_desenvolvimento %>" type="text" name="parametro[business_unit_desenvolvimento]" id="business_unit_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional business_unit_producao">
    <label class="string optional" for="business_unit_producao">Business Unit produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.business_unit_producao %>" type="text" name="parametro[business_unit_producao]" id="business_unit_producao">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional language_desenvolvimento">
    <label class="string optional" for="language_desenvolvimento">Language desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.language_desenvolvimento %>" type="text" name="parametro[language_desenvolvimento]" id="language_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-3">
  <div class="form-group string optional language_producao">
    <label class="string optional" for="language_producao">Language produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.language_producao %>" type="text" name="parametro[language_producao]" id="language_producao">
  </div>
</div>
