<div class="form-input col-sm-12">
  <div class="form-group string optional categoria">
    <label class="string optional" for="categoria">Categoria ZAP (tv / wifi ou fibra)</label>
    <input class="form-control string optional" value="<%= @parametro.get.categoria %>" type="text" name="parametro[categoria]" id="categoria">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional url_integracao_desenvolvimento">
    <label class="string optional" for="url_integracao_desenvolvimento">URL Integração em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_desenvolvimento %>" type="text" name="parametro[url_integracao_desenvolvimento]" id="url_integracao_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional url_integracao_producao">
    <label class="string optional" for="url_integracao_producao">URL Integração em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.url_integracao_producao %>" type="text" name="parametro[url_integracao_producao]" id="url_integracao_producao">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional api_key_zaptv_desenvolvimento">
    <label class="string optional" for="api_key_zaptv_desenvolvimento">API Key ZAPTV em Desenvolvimento</label>
    <input class="form-control string optional" value="<%= @parametro.get.api_key_zaptv_desenvolvimento %>" type="text" name="parametro[api_key_zaptv_desenvolvimento]" id="api_key_zaptv_desenvolvimento">
  </div>
</div>

<div class="form-input col-sm-12">
  <div class="form-group string optional api_key_zaptv_producao">
    <label class="string optional" for="api_key_zaptv_producao">API Key ZAPTV em Produção</label>
    <input class="form-control string optional" value="<%= @parametro.get.api_key_zaptv_producao %>" type="text" name="parametro[api_key_zaptv_producao]" id="api_key_zaptv_producao">
  </div>
</div>

