<div class="row bg-light h-50 p-3">
  <div class="col-md-4">
      Parceiro
  </div>
  <div class="col-md-8">
      <%= @parametro.partner.name %>
  </div>
</div>
<hr>
<div class="row h-50 p-3">
  <div class="col-md-4">
      Categoria ZAP
  </div>
  <div class="col-md-8">
    <%= @parametro.get.categoria %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">
  <div class="col-md-4">
      URL integração desenvolvimento:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.url_integracao_desenvolvimento %>
  </div>
</div>
<hr>
<div class="row h-50 p-3">
  <div class="col-md-4">
      URL integração produção:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.url_integracao_producao %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">
  <div class="col-md-4">
      Api key ZAPTV desenvolvimento:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.api_key_zaptv_desenvolvimento %>
  </div>
</div>
<hr>
<div class="row h-50 p-3">
  <div class="col-md-4">
      Api key ZAPTV produção:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.api_key_zaptv_producao %>
  </div>
</div>
<hr>
<div class="row bg-light h-50 p-3">
  <div class="col-md-4">
      Terminal ID Parceiro:
  </div>
  <div class="col-md-8">
      <%= @parametro.get.terminal_id_parceiro %>
  </div>
</div>