<div class="container">

  <h4>Mostrar Parâmetros</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          Parceiro
      </div>
      <div class="col-md-8">
         <%= @parametro.partner.name %>
      </div>
    </div>
    
    <div class="row h-50 p-3">
      <div class="col-md-4">
          URL integração desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.url_integracao_desenvolvimento %>
      </div>
    </div>
    
    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          URL integração produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.url_integracao_producao %>
      </div>
    </div>
    
    <div class="row h-50 p-3">
      <div class="col-md-4">
          AGENT_ID Unitel:
      </div>
      <div class="col-md-8">
          <%= @parametro.unitel_agente_id %>
      </div>
    </div>

    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          AGENT_ID ZAPTV:
      </div>
      <div class="col-md-8">
          <%= @parametro.zaptv_agente_id %>
      </div>
    </div>

    <div class="row h-50 p-3">
      <div class="col-md-4">
          AGENT_ID Movicel:
      </div>
      <div class="col-md-8">
          <%= @parametro.movicel_agente_id %>
      </div>
    </div>

    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          AGENT_ID DSTV:
      </div>
      <div class="col-md-8">
          <%= @parametro.dstv_agente_id %>
      </div>
    </div>

     <div class="row h-50 p-3">
      <div class="col-md-4">
          Api key ZAPTV desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.api_key_zaptv_desenvolvimento %>
      </div>
    </div>
    
    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          Api key ZAPTV produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.api_key_zaptv_producao %>
      </div>
    </div>

    <div class="row h-50 p-3">
      <div class="col-md-4">
          Agent key Movicel desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.agent_key_movicel_desenvolvimento %>
      </div>
    </div>
    
    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          Agent key Movicel produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.agent_key_movicel_producao %>
      </div>
    </div>
    
    <div class="row h-50 p-3">
      <div class="col-md-4">
          User id Movicel desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.user_id_movicel_desenvolvimento %>
      </div>
    </div>
    
    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          User id Movicel Produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.user_id_movicel_producao %>
      </div>
    </div>

    <div class="row h-50 p-3">
      <div class="col-md-4">
          Data source DSTV desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.data_source_dstv_desenvolvimento %>
      </div>
    </div>

    <div class="row bg-light h-50 p-3">      
      <div class="col-md-4">
          Data source DSTV Produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.data_source_dstv_producao %>
      </div>
    </div>

    <div class="row h-50 p-3">
      <div class="col-md-4">
          Payment vendor code DSTV desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.payment_vendor_code_dstv_desenvolvimento %>
      </div>
    </div>

    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          Payment vendor code DSTV produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.payment_vendor_code_dstv_producao %>
      </div>
    </div>
    
    <div class="row h-50 p-3">
      <div class="col-md-4">
          Vendor code DSTV desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.vendor_code_dstv_desenvolvimento %>
      </div>
    </div>
     
    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          Vendor code DSTV produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.vendor_code_dstv_producao %>
      </div>
    </div>
        
    <div class="row h-50 p-3">
      <div class="col-md-4">
          Agent account DSTV desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.agent_account_dstv_desenvolvimento %>
      </div>
    </div>

    <div class="row bg-light h-50 p-3">      
      <div class="col-md-4">
          Agent account DSTV produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.agent_account_dstv_producao %>
      </div>
    </div>

    <div class="row h-50 p-3">
      <div class="col-md-4">
          Currency DSTV desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.currency_dstv_desenvolvimento %>
      </div>
    </div>
    
    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          Currency DSTV produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.currency_dstv_producao %>
      </div>
    </div>

    <div class="row h-50 p-3">
      <div class="col-md-4">
          Product user key DSTV desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.product_user_key_dstv_desenvolvimento %>
      </div>
    </div>
    
    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          Product user key DSTV produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.product_user_key_dstv_producao %>
      </div>
    </div>
    
    <div class="row h-50 p-3">
      <div class="col-md-4">
          Mop DSTV desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.mop_dstv_desenvolvimento %>
      </div>
    </div>
    
    <div class="row bg-light h-50 p-3">    
      <div class="col-md-4">
          Mop DSTV produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.mop_dstv_producao %>
      </div>
    </div>

    <div class="row h-50 p-3">
      <div class="col-md-4">
          Agent Number desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.agent_number_dstv_desenvolvimento %>
      </div>
    </div>
    
    <div class="row bg-light h-50 p-3">    
      <div class="col-md-4">
          Agent Number produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.agent_number_dstv_producao %>
      </div>
    </div>
 
    <div class="page-header">
      <%= link_to parametros_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_parametro_path(@parametro), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>
