<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Mostrar Parâmetros de Integração</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  
  <div class="col-md-12">
    <hr>
    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          Parceiro
      </div>
      <div class="col-md-8">
         <%= @parametro.partner.name %>
      </div>
    </div>
    <hr>
    <% if @parametro.get.categoria.present? %>
      <div class="row bg-light h-50 p-3">
        <div class="col-md-4">
            Categoria ZAP
        </div>
        <div class="col-md-8">
          <%= @parametro.get.categoria %>
        </div>
      </div>
      <hr>
    <% end %>
    <div class="row h-50 p-3">
      <div class="col-md-4">
          URL integração desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.get.url_integracao_desenvolvimento %>
      </div>
    </div>
    <hr>
    <div class="row bg-light h-50 p-3">
      <div class="col-md-4">
          URL integração produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.get.url_integracao_producao %>
      </div>
    </div>
    <hr>
    <% if @parametro.partner.slug.downcase == "unitel" %>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            AGENT_ID Unitel:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.unitel_agente_id %>
        </div>
      </div>
      <hr>
    <% end %>
    <% if @parametro.partner.slug.downcase == "dstv" %>
      <div class="row bg-light h-50 p-3">
        <div class="col-md-4">
            Customer Number DSTV Desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.customer_number_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">
        <div class="col-md-4">
            Customer Number DSTV Produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.customer_number_producao %>
        </div>
      </div>
      <hr>
    <% end %>
    <% if @parametro.partner.slug.downcase == "zaptv" %>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            Api key ZAPTV desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.api_key_zaptv_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">
        <div class="col-md-4">
            Api key ZAPTV produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.api_key_zaptv_producao %>
        </div>
      </div>
      <hr>
    <% end %>
    <% if @parametro.partner.slug.downcase == "ende" %>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            Api key ENDE desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.api_key_ende_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">
        <div class="col-md-4">
            Api key ENDE produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.api_key_ende_producao %>
        </div>
      </div>
      <hr>
    <% end %>
    <% if @parametro.partner.slug.downcase == "movicel" %>
      <hr>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            Agent key Movicel desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.agent_key_movicel_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">
        <div class="col-md-4">
            Agent key Movicel produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.agent_key_movicel_producao %>
        </div>
      </div>
      <hr>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            User id Movicel desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.user_id_movicel_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">
        <div class="col-md-4">
            User id Movicel Produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.user_id_movicel_producao %>
        </div>
      </div>
      <hr>
    <% end %>
    <% if @parametro.partner.slug.downcase == "dstv" %>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            Data source DSTV desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.data_source_dstv_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">      
        <div class="col-md-4">
            Data source DSTV Produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.data_source_dstv_producao %>
        </div>
      </div>
      <hr>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            Payment vendor code DSTV desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.payment_vendor_code_dstv_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">
        <div class="col-md-4">
            Payment vendor code DSTV produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.payment_vendor_code_dstv_producao %>
        </div>
      </div>
      <hr>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            Vendor code DSTV desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.vendor_code_dstv_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">
        <div class="col-md-4">
            Vendor code DSTV produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.vendor_code_dstv_producao %>
        </div>
      </div>
      <hr>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            Agent account DSTV desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.agent_account_dstv_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">      
        <div class="col-md-4">
            Agent account DSTV produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.agent_account_dstv_producao %>
        </div>
      </div>
      <hr>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            Currency DSTV desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.currency_dstv_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">
        <div class="col-md-4">
            Currency DSTV produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.currency_dstv_producao %>
        </div>
      </div>
      <hr>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            Product user key DSTV desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.product_user_key_dstv_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">
        <div class="col-md-4">
            Product user key DSTV produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.product_user_key_dstv_producao %>
        </div>
      </div>
      <hr>
    <% end %>
    <% if @parametro.partner.slug.downcase == "unitel" %>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            Business Unit desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.business_unit_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">    
        <div class="col-md-4">
            Business Unit produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.business_unit_producao %>
        </div>
      </div>
      <hr>
    <% end %>
    <% if @parametro.partner.slug.downcase == "dstv" %>
      <div class="row h-50 p-3">
        <div class="col-md-4">
            Mop DSTV desenvolvimento:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.mop_dstv_desenvolvimento %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">    
        <div class="col-md-4">
            Mop DSTV produção:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.mop_dstv_producao %>
        </div>
      </div>
      <hr>
    <% end %>
    <div class="row h-50 p-3">
      <div class="col-md-4">
          Agent Number desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.get.agent_number_dstv_desenvolvimento %>
      </div>
    </div>
    <hr>
    <div class="row bg-light h-50 p-3">    
      <div class="col-md-4">
          Agent Number produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.get.agent_number_dstv_producao %>
      </div>
    </div>
    <hr>
    <div class="row h-50 p-3">
      <div class="col-md-4">
          Language desenvolvimento:
      </div>
      <div class="col-md-8">
          <%= @parametro.get.language_desenvolvimento %>
      </div>
    </div>
    <hr>
    <div class="row bg-light h-50 p-3">    
      <div class="col-md-4">
          Language produção:
      </div>
      <div class="col-md-8">
          <%= @parametro.get.language_producao %>
      </div>
    </div>
    <hr>
    <% if @parametro.partner.slug.downcase == "ende" %>
      <div class="row bg-light h-50 p-3">    
        <div class="col-md-4">
            ClientId:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.client_id %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">    
        <div class="col-md-4">
            TerminalId:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.terminal_id %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">    
        <div class="col-md-4">
            OperatorId:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.operator_id %>
        </div>
      </div>
      <hr>
      <div class="row bg-light h-50 p-3">    
        <div class="col-md-4">
            Password:
        </div>
        <div class="col-md-8">
            <%= @parametro.get.password %>
        </div>
      </div>
      <hr>
    <% end %>

    <div class="page-header">
      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_parametro_path(@parametro), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>
