<div>
  <%= render :partial => 'shared/menu' %>

  <div class="card" style="margin-top: 5px;">
    <div class="card-header" style="text-align: right;font-size: 20px;font-weight: bold;">
      Saldo Disponível: <%= number_to_currency(usuario_logado.saldo, :unit => "KZ", :precision => 2) %>
    </div>
    <div class="card-body recarga">
      <div class="container" style="margin-top:10px">
        <form action="" method="get" id="formApuracao">
          <div class="row" style="padding:10px">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Data da Movimentação (Início)</label>
                <div>
                  <input type="date" name="data_alegacao_pagamento_inicio" value="<%= params[:data_alegacao_pagamento_inicio] %>" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Data da Movimentação (Fim)</label>
                <div>
                  <input type="date" name="data_alegacao_pagamento_fim" value="<%= params[:data_alegacao_pagamento_fim] %>" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Tipo de Lançamento</label>
                  <div>
                    <select name="lancamento_id" onchange="pgstrans.carregaLancamento(this)" class="form-control">
                      <option value="" selected="'selected'">Todos</option>
                      <% Lancamento.all.each do |lancamentos| %>
                        <option value="<%= lancamento.id %>" <% if lancamento.id.to_s == params[:lancamento_id] %> selected="selected" <% end %> ><%= lancamentos.nome %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
            </div>
            <div class="col-sm-6" style="text-align: right;">
              <div class="form-group">
              	<input type="submit" value="Buscar" class="btn btn-info">
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="container scroltable">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Data da Movimentação</th>
              <th scope="col">Tipo de Lançamento</th>
              <th scope="col" align="right">Saldo Anterior</th>
              <th scope="col" align="right">Valor da Movimentação</th>
              <th scope="col" align="right">Saldo Atual</th>
            </tr>
          </thead>

          <tbody>
            <% @conta_correntes.each do |conta_corrente| %>
    	        <tr>
    	          <td>
    	            <%= conta_corrente.data_alegacao_pagamento.strftime("%d/%m/%Y %H:%M") %>
    	          </td>
    	          <td>
      	          <b><%= conta_corrente.lancamento.nome %></b><br>
                  <%= conta_corrente.observacao %>
    	          </td>
    	          <td style="width:150px" align="right">
    	            <%= number_to_currency(conta_corrente.saldo_anterior, :unit => "Kz") %>
    	          </td>
                <td style="width:170px" align="right">
                  <%= number_to_currency(conta_corrente.valor, :unit => "Kz") %>
                </td>
    	          <td style="width:150px" align="right">
    	            <%= number_to_currency(conta_corrente.saldo_atual, :unit => "Kz") %>
    	          </td>
    	        </tr>
            <% end %>
          </tbody>
        </table>

        <div class="apple_pagination">
          <%= will_paginate @conta_correntes, :container => false %>
        </div>
      </div>
    </div>
  </div>
</div>
