<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>
          Conta Corrente -
          Saldo Disponível para o usuário <%= usuario_logado.nome %>: <%= number_to_currency(usuario_logado.saldo, :unit => "KZ", :precision => 2) %>
        </strong>
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@conta_corrente, html: { class: "form-vertical", role: "form" }) do |f| %>
        <% if @conta_corrente.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@conta_corrente.errors.count, "erros") %> no conta_corrente, confira abaixo:</h4>

            <ul>
            <% @conta_corrente.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <% if usuario_logado.admin? || usuario_logado.operador? || usuario_logado.agente? %>
          <div class="form-input col-sm-12">
            <%= f.label :usuario_id, "Buscar ou selecionar usuário" %>
            <div style="display:flex">
              <input type="text" id="usuario" class="form-control autocomplete" style="width:30%">
              <%
              usuarios = Usuario.com_acesso(usuario_logado)
              if !usuario_logado.admin? && !usuario_logado.operador?
                usuarios = usuarios.where("id not in (?)", usuario_logado.id)
              end
              %>
              <%= f.select :usuario_id, usuarios.limit(100).collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control options-autocomplete", onchange: "pgstrans.mostraSaldo(this)", style: "width:70%" %>
            </div>
          </div>
          <div class="form-input col-sm-12" style="text-align: right" id="saldoUsuario"></div>
        <% end %>
        
        <div class="form-input col-sm-3">
          <%= f.label :lancamento_id, "Lançamento" %>
            <% if @adm.admin? %>
              <%= f.select :lancamento_id, Lancamento.all.collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %> 
            <% elsif @adm.operador? %>
              <%= f.select :lancamento_id, Lancamento.where("lower(nome) ilike '%depósito%'").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
            <% else %>
              <%= f.select :lancamento_id, Lancamento.where("lower(nome) ilike '%transferência conta vendedor%'").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
            <% end %>
        </div>
        
        <div class="form-input col-sm-4">
          <%= f.label :data_alegacao_pagamento, :label => "Data da Movimentação (efetivo lançamento no extracto bancário)" %>
          <%= f.datetime_field :data_alegacao_pagamento, class: "form-control" %>
        </div>

        <% if !@adm.agente? %>
          <div class="form-input col-sm-3">
            <%= f.label :banco_id, "Banco" %>
            <%= f.select :banco_id, Banco.where(status_banco_id: Banco::ATIVO).collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
          </div>
        <% end %>
        
        <div class="form-input col-sm-2">
          <%= f.input :valor, :label => "Valor KZ" %>
        </div>
        
        <% if !@adm.agente? %>
          <div class="form-input col-sm-4">
            <%= f.input :iban, :label => "IBAN ou Número do Talão", class: "form-control" %>
          </div>
        
          <div class="form-input col-sm-8">
            <%= f.input :observacao, :label => "Observações", class: "form-control" %>
          </div>
        <% end %>



        <% if habilita_salvar %>
          <div class="form-actions col-sm-12">
            <%= f.button :button, class: 'btn btn-success' do %>
              <span class="glyphicon glyphicon-ok"></span>
              Confirmar
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
