<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h4>
      Conta Corrente -
      Saldo Disponível para o usuário <%= usuario_logado.nome %>: 
      <label <% if usuario_logado.saldo < 0 %>style="color:red"<% end %>>
        <%= number_to_currency(usuario_logado.saldo, :unit => "KZ", :precision => 2) %>
      </label>
    </h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <div>
    <form action="" method="get" id="formApuracao">
      <div class="col-sm-2">
        <div class="form-group">
          <label>Data de Lançamento</label>
          <div>
            <input type="date" name="data_alegacao_pagamento" value="<%= params[:data_alegacao_pagamento] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label>Última da Atualização</label>
          <div>
            <input type="date" name="data_ultima_atualizacao_saldo" value="<%= params[:data_ultima_atualizacao_saldo] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Nome do Usuário</label>
          <div>
            <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label>Login</label>
          <div>
            <input type="text" name="login" value="<%= params[:login] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label>ID Interno Usuário</label>
          <div>
            <input type="text" name="id" value="<%= params[:id] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label>ID do Lançamento</label>
          <div>
            <input type="text" name="id_lancamento" value="<%= params[:id_lancamento] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>Responsável pela Aprovação</label>
          <div>
            <input type="text" name="responsavel" value="<%= params[:responsavel] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label>IBAN</label>
          <div>
            <input type="text" name="iban" value="<%= params[:iban] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label>Tipo de Lançamento
          </label>
            <div>
              <select name="lancamento_id" onchange="pgstrans.carregaLancamento(this)" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% Lancamento.all.each do |lancamento| %>
                  <option value="<%= lancamento.id %>" <% if lancamento.id.to_s == params[:lancamento_id] %> selected="selected" <% end %> ><%= lancamento.nome %></option>
                <% end %>
              </select>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>Observação</label>
           <div>
              <input type="text" name="observacao" value="<%= params[:observacao] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">

          <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>  
        </div>
      </div>
    </form>
  </div>
</div>
<div class="col-md-12">
  <form action="/conta_correntes/conciliacao/aplicar" method="post">
    <table class="table table-hover fixed-navbar">
    <thead>
        <tr>
          <th class="text-center">ID Conta <br> Corrente</th>
          <th class="text-center">Login <br> Usuário</th>
          <th class="text-center">Lançamento</th>
          <th class="text-center">Data da Transação</th>
          <th class="text-center">Valor do <br> Lançamento</th>
          <th class="text-center">Saldo Anterior</th>
          <th class="text-center">Saldo correto <br>que irá entrar no<br> lugar do (Saldo anterior)</th>
          <th class="text-center">Saldo Atual</th>
          <th class="text-center">Saldo correto <br>que irá entrar no<br> lugar do (Saldo atual)</th>
          <th class="text-center">&nbsp;</th>
          <th class="text-center">Data da Atualização<br>do Saldo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @conta_correntes.each do |conta_corrente| %>
        <tr>
          <td class="text-center"><%= conta_corrente.id %></td>
          <td><%= conta_corrente.usuario.login %></td>
          <td><%= conta_corrente.lancamento_id %> / <%= conta_corrente.lancamento.nome %></td>
          <td class="text-center"><%= conta_corrente.data_alegacao_pagamento.strftime("%d/%m/%Y %H:%M") %></td>
          <td class="text-right"><span <% if conta_corrente.valor < 0 %> style="color:red" <%end%>><%= number_to_currency(conta_corrente.valor, :unit => "KZ") %></span></td>
          <td class="text-right"><%= number_to_currency(conta_corrente.saldo_anterior, :unit => "KZ") %></td>
          <td class="text-right"><%= number_to_currency(conta_corrente.saldo_atual_do_registro_anterior, :unit => "KZ") %></td>
          <td class="text-right"><%= number_to_currency(conta_corrente.saldo_atual, :unit => "KZ") %></td>
          <td class="text-right"><%= number_to_currency(conta_corrente.saldo_atual_do_registro_atual, :unit => "KZ") %></td>
          <th class="text-center" style="background:
          <%= (conta_corrente.saldo_anterior == conta_corrente.saldo_atual_do_registro_anterior && conta_corrente.saldo_atual == conta_corrente.saldo_atual_do_registro_atual ? "green" : "red") %>">&nbsp;</th>
         <td class="text-center"><%= conta_corrente.data_ultima_atualizacao_saldo.strftime("%d/%m/%Y %H:%M") %></td>
          <td>
            <!--input type="checkbox"  name="conta_corrente_id[]" value="<%= conta_corrente.id %>"-->
            <input type="checkbox" checked="checked" name="conta_corrente_id[]" value="<%= conta_corrente.id %>">
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <button>Enviar</button>
  </form>
  <div class="apple_pagination">
    <%= will_paginate @conta_correntes, :container => false %>
  </div>
  <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>    
</div>
