<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h4>
      Conta Corrente -
      Saldo Disponível para o usuário <%= usuario_logado.nome %>: 
      <label <% if usuario_logado.saldo < 0 %>style="color:red"<% end %>>
        <%= number_to_currency(usuario_logado.saldo, :unit => "KZ", :precision => 2) %>
      </label>
    </h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <form action="" method="get" id="formApuracao">
    <div class="col-sm-3">
      <div class="form-group">
        <label>Data e Hora de Lançamento Início</label>
        <div>
          <input type="datetime-local" name="data_inicio" value="<%= params[:data_inicio] %>" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Data e Hora de Lançamento Fim</label>
        <div>
          <input type="datetime-local" name="data_fim" value="<%= params[:data_fim] %>" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Situação dos Usuários</label>
        <div>
          <select name="status_cliente_id" class="form-control">
            <option value="" selected="'selected'">Todos</option>
            <% StatusCliente.all.each do |status| %>
              <option value="<%= status.id %>" <% if params[:status_cliente_id].to_s == status.id.to_s %> selected="selected" <% end %>><%= status.nome %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Tipo de Lançamento
        </label>
          <div>
            <select name="lancamento_id" onchange="pgstrans.carregaLancamento(this)" class="form-control">
              <option value="" selected="'selected'">Todos</option>
              <% Lancamento.all.each do |lancamento| %>
                <option value="<%= lancamento.id %>" <% if lancamento.id.to_s == params[:lancamento_id] %> selected="selected" <% end %> ><%= lancamento.nome %></option>
              <% end %>
            </select>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Operador(a) Responsável pela Aprovação</label>
        <div>
          <input type="text" name="responsavel" value="<%= params[:responsavel] %>" class="form-control">
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="form-group">
        <label>Observação</label>
          <div>
            <input type="text" name="observacao" value="<%= params[:observacao] %>" class="form-control">
          </div>
      </div>
    </div>
    <div class="form-group">
      <div style="float: right;margin-right:10px">
        <input type="submit" value="Buscar" class="btn btn-info">

       <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Voltar
        <% end %>  
      </div>
    </div>
  </form>

  <div class="col-md-12">
    <h4>
      Total de Ocorrências: <strong><%= number_to_currency(@quantidade, :precision => 0, :unit => "") %></strong>
    </h4>
    <hr>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Operador(a) Responsável Aprovação</th>
          <th scope="col">Lançamento</th>
          <% if (params[:data_inicio].present? || params[:data_fim].present?) %> 
            <th scope="col">Cliente</th>
            <th scope="col" style="width: 40%">Observação</th>
          <% end %>
          <th scope="col" style="text-align:right">Valor</th>
        </tr>
      </thead>
      <tbody>
        <% valor_total = 0 %>
        <% @conta_correntes.each do |conta_corrente| %>
        <tr>
          <td>
            <% if (params[:data_inicio].present? || params[:data_fim].present?) %> 
              <%= conta_corrente["data_alegacao_pagamento"].to_datetime.strftime("%d/%m/%Y %H:%M:%S") %>
            <% else %>
              <a href="/conta_correntes/resumido?data_inicio=<%= conta_corrente["data_alegacao_pagamento"].to_datetime.strftime("%Y-%m-%d") %>T00:00&data_fim=<%= conta_corrente["data_alegacao_pagamento"].to_datetime.strftime("%Y-%m-%d") %>T23:59&status_cliente_id=<%= params[:status_cliente_id] %>&lancamento_id=<%= params[:lancamento_id] %>&responsavel=<%= params[:responsavel] %>&observacao=<%= params[:observacao] %>">
                <%= conta_corrente["data_alegacao_pagamento"].to_datetime.strftime("%d/%m/%Y") %>
              </a>
            <% end %>
          </td>
          <td>
            <%= conta_corrente["usuario"] %>
          </td>
          <td>
            <%= conta_corrente["lancamento"] %>
          </td>
          <% if (params[:data_inicio].present? || params[:data_fim].present?) %> 
            <td>
              <%= conta_corrente["cliente"] %>
            </td>
            <td>
              <%= conta_corrente["observacao"] %>
            </td>
          <% end %>
          <td style="text-align:right">
            <%= number_to_currency(conta_corrente["valor"].to_f, :unit => "KZ") %>
          </td>
        </tr>
        <% valor_total += conta_corrente["valor"].to_f %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <% if (params[:data_inicio].present? || params[:data_fim].present?) %> 
            <td></td>
          <% end %>
          <td style="text-align:right">
            <b>Total da Página: </b> <%= number_to_currency(valor_total, :unit => "KZ") %><br>
            <b>Total da Geral: </b> <%= number_to_currency(@valor_total, :unit => "KZ") %><br>
          </td>
        </tr>
      </tfoot>
    </table>

    <%= render "/shared/paginate", path: "/conta_correntes/resumido", records: @conta_correntes, :per_page => @per_page %>

    <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>
