<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Lista de Carregamento por Usuário</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-2">
          <div class="form-group">
            <label>Login do Usuário</label>
            <div>
              <input type="text" name="login" value="<%= params[:login] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Nome do Usuário</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div>
        <% if @adm.admin? || @adm.operador? %>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Responsável pela Aprovação</label>
              <div>
                <input type="text" name="responsavel" value="<%= params[:responsavel] %>" class="form-control">
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Tipo de Lançamento</label>
              <div>
                <select name="lancamento_id" onchange="pgstrans.carregaLancamento(this)" class="form-control">
                  <option value="" selected="'selected'">Todos</option>
                  <% Lancamento.all.each do |lancamento| %>
                    <option value="<%= lancamento.id %>" <% if lancamento.id.to_s == params[:lancamento_id] %> selected="selected" <% end %> ><%= lancamento.nome %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div style="float: right;margin-right:10px">
            <% if @adm.admin? || @adm.operador? %>
              <input type="checkbox" name="download_xlsx" id="download_xlsx">
              <input type="submit" value="Exportar Excel (xlsx)" onclick="$('#download_xlsx').val('ok');" class="btn btn-success navbar-btn btn-space mobile-botao">
            <% end %>
            <input type="submit" value="Buscar" class="btn btn-space btn-info">
            <%= link_to backoffice_index_path, class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Voltar
            <% end %>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-12">
    <h4>
      Total de Registos: <strong><%= number_to_currency(@conta_correntes_total, :precision => 0, :unit => "") %></strong>
    </h4>
    <hr>

    <table class="table table-hover">
      <thead>
        <tr>
          <% if @adm.admin? || @adm.operador? %>
            <th scope="col">ID Usuário</th>
          <% end %>
          <th scope="col">Login do Usuário</th>
          <th scope="col">Nome do Usuário</th>
          <th scope="col">Valor do Lançamento</th>
          <th scope="col">Data do Lançamento</th>
          <th scope="col">Tipo de Lançamento</th>
          <% if @adm.admin? || @adm.operador? %>  
            <th scope="col">Responsável Aprovação</th>    
          <% else %>
            <th></th>
          <% end %>
          <th scope="col">Ação</th>
        </tr>
      </thead>

      <tbody>
        <% valor_total = 0 %>
        <% @conta_correntes.each do |conta_corrente| %>
        <tr>
          <% if @adm.admin? || @adm.operador? %>
            <td style="width: 6%" align="right"><%= conta_corrente.usuario.id %></td>
          <% end %>
          <td style="width: 6%"><%= conta_corrente.usuario.login %></td>
          <td style="width: 21%"><%= conta_corrente.usuario.nome %></td>
          <td style="width: 16%" align="right"><%= number_to_currency(conta_corrente.valor, :unit => "KZ", :precision => 2) %></td>
          <td style="width: 14%" align="center"><%= conta_corrente.data_alegacao_pagamento.strftime("%d/%m/%Y %H:%M:%S") %></td>
          <td style="width: 17%"><%= conta_corrente.lancamento.nome rescue "" %>
          <% if (@adm.admin? || @adm.operador?) %>  
            <td style="width: 20%">
              <% if ![Lancamento::PAGAMENTO_DE_FATURA, Lancamento::ALTERACAO_PLANO, Lancamento::ALTERACAO_PACOTE].include?(conta_corrente.lancamento.nome) %>  
                <%= conta_corrente.responsavel_aprovacao.nome rescue "" %>
              <% else %>
                <td></td>
              <% end %>
            </td>
          <% else %>
            <td></td>
          <% end %>
          <% valor_total += conta_corrente.valor %>
          <td>
            <%= link_to 'Mostrar', conta_corrente %>
          </td>
        </tr>
        <% end %>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td style="text-align:right">
              <b>Total da Página: </b><br>
              <b>Total Geral de Lançamentos: </b>
            </td>
            <td style="text-align:right">
              <%= number_to_currency(valor_total, :unit => "KZ") %><br>
              <%= number_to_currency(@valor_total, :unit => "KZ") %>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </tbody>
    </table>
 
    <div class="apple_pagination">
      <%= will_paginate @conta_correntes, :container => false %>
    </div>

    <%= link_to conta_correntes_path, class: 'btn btn-dark' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Creditar Conta  Corrente
    <% end %>

    <% if @adm.admin? || @adm.operador? %>
      <%= link_to index_morada_saldo_path, class: 'btn btn-success' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Consulta Saldo de Usuário
      <% end %>
    <% end %>

    <%= link_to backoffice_index_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>

  </div>
</div>