<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h4>
      Conta Corrente -
      Saldo Disponível para o usuário <%= usuario_logado.nome %>: 
      <label <% if usuario_logado.saldo < 0 %>style="color:red"<% end %>>
        <%= number_to_currency(usuario_logado.saldo, :unit => "KZ", :precision => 2) %>
      </label>
    </h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <form action="" method="get" id="formApuracao">
    <div class="col-sm-2">
      <div class="form-group">
        <label>Data de Lançamento Início</label>
        <div>
          <input type="datetime-local" name="data_alegacao_pagamento_inicio" value="<%= params[:data_alegacao_pagamento_inicio] %>" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label>Data de Lançamento Fim</label>
        <div>
          <input type="datetime-local" name="data_alegacao_pagamento_fim" value="<%= params[:data_alegacao_pagamento_fim] %>" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label>Data da Última Atualiz. Início</label>
        <div>
          <input type="datetime-local" name="data_ultima_atualizacao_saldo_inicio" value="<%= params[:data_ultima_atualizacao_saldo_inicio] %>" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label>Data da Última Atualiz. Fim</label>
        <div>
          <input type="datetime-local" name="data_ultima_atualizacao_saldo_fim" value="<%= params[:data_ultima_atualizacao_saldo_fim] %>" class="form-control">
        </div>
      </div>
    </div>
    <% if usuario_logado.admin? || usuario_logado.operador? %>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Login do Usuário</label>
          <div>
            <input type="text" name="login" value="<%= params[:login] %>" class="form-control">
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Nome do Usuário</label>
        <div>
          <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
        </div>
      </div>
    </div>
    <% if usuario_logado.admin? || usuario_logado.operador? %>
      <div class="col-sm-2">
        <div class="form-group">
          <label>Perfil do Usuário</label>
          <div>
            <select name="perfil_usuario_id" class="form-control">
              <option value="" selected="'selected'">Todos</option>
              <% PerfilUsuario.all.each do |perfil_usuario| %>
                <option value="<%= perfil_usuario.id %>" <% if params[:perfil_usuario_id].to_s == perfil_usuario.id.to_s %> selected="selected" <% end %>><%= perfil_usuario.nome %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label>ID Interno Usuário</label>
          <div>
            <input type="text" name="id" value="<%= params[:id] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label>Situação do Usuário</label>
          <div>
            <select name="status" class="form-control">
              <option value="" selected="'selected'">Todos</option>
              <% StatusCliente.all.each do |status| %>
                <option value="<%= status.id %>" <% if params[:status].to_s == status.id.to_s %> selected="selected" <% end %>><%= status.nome %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label>Responsável pela Aprovação</label>
          <div>
            <input type="text" name="responsavel" value="<%= params[:responsavel] %>" class="form-control">
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-sm-2">
      <div class="form-group">
        <label>Situação da Venda</label>
        <div>
          <select name="return_code" class="form-control">
            <option value="" selected="'selected'">Todos</option>
            <option value="sucesso" <% if params[:return_code] == "sucesso" %> selected="selected" <% end %>>Todos com sucesso</option>
            <% Partner.where(status_parceiro_id: StatusParceiro::ATIVO_TEMPORARIAMENTE_INDISPONIVEL).each do |partner| %>
              <optgroup label="<%= partner.name %>">
                <% ReturnCodeApi.where(partner_id: partner.id).each do |ret| %>
                  <option value="<%= ret.id %>" <% if ret.id.to_s == params[:return_code] %> selected="selected" <% end %> ><%= ret.partner.name %> - <%= ret.sucesso ? "[SUCESSO] - " : "" %><%= ret.error_description_pt %></option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label>IBAN ou Número do Talão</label>
        <div>
          <input type="text" name="iban" value="<%= params[:iban] %>" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Tipo de Lançamento</label>
        <div>
            <select name="lancamento_id" onchange="pgstrans.carregaLancamento(this)" class="form-control">
              <option value="" selected="'selected'">Todos</option>
              <% if @adm.admin? || @adm.operador? %>
                <% Lancamento.all.each do |lancamento| %>
                  <option value="<%= lancamento.id %>" <% if lancamento.id.to_s == params[:lancamento_id] %> selected="selected" <% end %> ><%= lancamento.nome %></option>
                <% end %>
              <% else %>
                    <% Lancamento.where("lower(nome) ilike '%débito%' or lower(nome) ilike '%depósito%' or lower(nome) ilike '%transferência conta vendedor%' or lower(nome) ilike '%compra%'  ").each do |lancamento| %>
                    <option value="<%= lancamento.id %>" <% if lancamento.id.to_s == params[:lancamento_id] %> selected="selected" <% end %> ><%= lancamento.nome %></option>
                  <% end %>
              <% end %>
            </select>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label>Banco</label>
        <select name="banco_id" onchange="pgstrans.carregaBanco(this)" class="form-control">
              <option value="" selected="'selected'">Todos</option>
              <% Banco.where(status_banco_id: Banco::ATIVO).each do |banco| %>
                <option value="<%= banco.id %>" <% if banco.id.to_s == params[:banco_id] %> selected="selected" <% end %> ><%= banco.nome %></option>
              <% end %>
          </select>
      </div>
    </div>
    <% if usuario_logado.admin? || usuario_logado.operador? %>
      <div class="col-sm-3">
        <div class="form-group">
          <label>Observação</label>
            <div>
              <input type="text" name="observacao" value="<%= params[:observacao] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <div style="text-align:right;margin-right:10px">
        <input type="submit" value="Buscar" class="btn btn-info">

          <%= link_to new_conta_corrente_path, class: 'btn btn-success' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Novo Registo
          <% end %>  

          <% if @adm.admin? || @adm.operador? %>  
            <%= link_to "/conta_correntes/resumido", style: "color: #fff", class: 'btn btn-warning' do %>
              Resumo Operador
            <% end %>
          <% end %>

          <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
      </div>
    </div>
  </form>

  <div class="col-md-12" style="overflow:auto">
    <% if @conta_correntes_total.present? %>
      <h4>
        Total de Ocorrências: <strong><%= number_to_currency(@conta_correntes_total, :precision => 0, :unit => "") %></strong>
      </h4>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Dados</th>
            <th scope="col">Valores</th>
            <th scope="col">Datas</th>
            <th colspan="3">Ação para o Registo</th>
          </tr>
        </thead>
        <tbody>
          <% valor_total = 0 %>
          <% @conta_correntes.each do |conta_corrente| %>
          <tr>
            <td style="width: 450px">
              <% if @adm.admin? || @adm.operador? %> 
                <b>ID Interno Usuário:</b> <%= conta_corrente&.usuario&.id %><br>
              <% end %>
              <b>Login:</b> <%= conta_corrente&.usuario&.login %><br>
              <b>Nome do Usuário:</b> <%= conta_corrente&.usuario&.nome %><br>
              <b>Situação do Usuário:</b> <%= conta_corrente&.usuario&.status_cliente.nome rescue "" %><br> 
              <b>Lançamento:</b> <%= conta_corrente&.lancamento&.nome %><br>
              <% if conta_corrente.partner_id.present? %>
                <b>Parceiro:</b> <%= conta_corrente.partner.name %><br>
              <% end %>
              <% if conta_corrente.banco_id.present? %>
                <b>Banco:</b> <%= conta_corrente&.banco&.nome %><br>
              <% end %>
              <% if conta_corrente.iban.present? %>
                <b>IBAN ou Nro Talão:</b> <%= conta_corrente.iban %><br>
              <% end %>
              <% if @adm.admin? || @adm.operador? %> 
                <b>Observação:</b> <%= conta_corrente.observacao %><br>
                <% if conta_corrente.responsavel_aprovacao.present? %>
                  <b>Responsável aprovação:</b> <%= conta_corrente&.responsavel_aprovacao&.nome %>
                <% end %>
              <% end %>
            </td>
            <td style="width: 350px">
              <b>ID do Lançamento: </b><%= conta_corrente.id %><br>
              <hr>
              <b>Valor do Lançamento:</b> <span <% if conta_corrente.valor < 0 %> style="color:red" <%end%>><%= number_to_currency(conta_corrente.valor, :unit => "KZ") %></span><br>
              <hr>
              <b>Saldo Anterior:</b> <%= number_to_currency(conta_corrente.saldo_anterior, :unit => "KZ") %><br>
              <hr>
              <b>Saldo Atual:</b> <%= number_to_currency(conta_corrente.saldo_atual, :unit => "KZ") %><br>
            </td>
            <td style="width: 300px">
              <b>Lançamento:</b><br>
              <%= conta_corrente.data_alegacao_pagamento.strftime("%d/%m/%Y %H:%M:%S") %><br>

              <% if @adm.admin? || @adm.operador? %> 
                <hr>
                <b>Última Atualização:</b><br>
                <%= conta_corrente.data_ultima_atualizacao_saldo.strftime("%d/%m/%Y %H:%M:%S") %><br>

                <hr>
                <b>Processamento:</b><br>
                <%= conta_corrente.data_processamento.strftime("%d/%m/%Y %H:%M:%S") rescue "" %><br>
              <% end %>
            </td>
            <td><%= link_to 'Mostrar', conta_corrente_path(conta_corrente) %></td>
          </tr>
          <% valor_total += conta_corrente.valor %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td>
              <b>Total da Página: </b><%= number_to_currency(valor_total, :unit => "KZ") %><br>
              <b>Total Geral de Lançamentos: </b><%= number_to_currency(@valor_total, :unit => "KZ") %>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>

      <div class="apple_pagination">
        <%= will_paginate @conta_correntes, :container => false %>
      </div>
    <% else %>
      <div style="height: 100px; text-align:center;font-size: 20px; color: #856404; padding: 20px;">
        Informe os parâmetros de busca
      </div>
    <% end %>
    
    <% if @adm.admin? || @adm.operador? %> 
      <%= link_to new_conta_corrente_path, class: 'btn btn-success' do %>
        <span class="glyphicon glyphicon-plus"></span>
        Novo Registo
      <% end %>
    <% end %>
    <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>
