<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>Conta Corrente</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
                    <th scope="col">Usuário</th>
                    <th scope="col">Lançamento</th>
                    <th scope="col">Banco</th>
                    <th scope="col">Valor</th>
                    <th scope="col">IBAN</th>
                    <th scope="col">Data do Lançamento</th>
                    <th scope="col">Saldo Anterior</th>
                    <th scope="col">Saldo Atual</th>
                    <th scope="col">Data Última Atualização de Saldo</th>
                    <th scope="col">Observação</th>
                    <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @conta_correntes.each do |conta_corrente| %>
        <tr>
                    <td><%= conta_corrente.usuario %></td>
                    <td><%= conta_corrente.lancamento %></td>
                    <td><%= conta_corrente.banco %></td>
                    <td><%= conta_corrente.valor %></td>
                    <td><%= conta_corrente.iban %></td>
                    <td><%= conta_corrente.data_alegacao_pagamento %></td>
                    <td><%= conta_corrente.saldo_anterior %></td>
                    <td><%= conta_corrente.saldo_atual %></td>
                    <td><%= conta_corrente.data_ultima_atualizacao_saldo %></td>
                    <td><%= conta_corrente.observacao %></td>
                    <td><%= link_to 'Mostrar', conta_corrente %></td>
          <td><%= link_to 'Editar', edit_conta_corrente_path(conta_corrente) %></td>
          <td><%= link_to 'Apagar', conta_corrente, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Novo Registo", new_conta_corrente_path, class: 'btn btn-danger' %>
    <%= link_to 'Voltar', root_path, class: 'btn btn-danger' %>
  </div>
</div>