<div class="container scroltable">

  <h4>Lista de Carregamento por Usuário</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Login</label>
            <div>
              <input type="text" name="login" value="<%= params[:login] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label>Nome do Usuário</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Responsável pela Aprovação</label>
            <div>
              <input type="text" name="responsavel" value="<%= params[:responsavel] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Voltar
          <% end %>
        </div>
      </div>
    </form>
  </div>
 
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID Usuário</th>
          <th scope="col">Login</th>
          <th scope="col">Nome do Usuário</th>
          <th scope="col">Valor do Lançamento</th>
          <th scope="col">Data do Lançamento</th>
          <th scope="col">Tipo de Lançamento</th>  
          <th scope="col">Responsável Aprovação</th>    
          <th scope="col">Ação</th>
        </tr>
      </thead>

      <tbody>
        <% valor_total = 0 %>
        <% @conta_correntes.each do |conta_corrente| %>
        <tr>
          <td style="width: 25px" align="right"><%= conta_corrente.usuario.id %></td>
          <td style="width: 100px"><%= conta_corrente.usuario.login %></td>
          <td style="width: 250px"><%= conta_corrente.usuario.nome %></td>
          <td style="width: 120px" align="right"><%= number_to_currency(conta_corrente.valor, :unit => "KZ", :precision => 2) %></td>
          <td style="width: 150px"><%= conta_corrente.data_alegacao_pagamento.strftime("%d/%m/%Y %H:%M") %></td>
          <td style="width: 200px"><%= conta_corrente.lancamento.nome rescue "" %>
          <td style="width: 200px"><%= conta_corrente.responsavel_aprovacao.nome rescue "" %>
          <td>
          <%= link_to 'Mostrar', conta_corrente %>
          </td>
        </tr>
        <% valor_total += conta_corrente.valor %>
        <% end %>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td align="right"><b>Total</b></td>
            <td style="width:110px" align="right">
              <b><%= number_to_currency(valor_total) %></b>
            </td>            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </tbody>
    </table>
 
    <div class="apple_pagination">
      <%= will_paginate @conta_correntes, :container => false %>
    </div>

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>

  </div>
</div>