<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Detalhe de Registo de Conta Corrente</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>ID Interno do Usuário:</dt>
      <dd><%= @conta_corrente.usuario.id %></dd>
      <dt>Login:</dt>
      <dd><%= @conta_corrente.usuario.login %></dd>
      <dt>Usuário:</dt>
      <dd><%= @conta_corrente.usuario.nome %></dd>
      <dt>Lançamento:</dt>
      <dd><%= @conta_corrente.lancamento.nome %></dd>
      <% if @conta_corrente.banco_id.present? %>
        <dt>Banco:</dt>
        <dd><%= @conta_corrente.banco.nome %></dd>
      <% end %>
      <% if @conta_corrente.banco_id.present? %>
        <dt>IBAN:</dt>
        <dd><%= @conta_corrente.iban %></dd>
      <% end %>
      <dt>Data da Alegação de Pagamento:</dt>
      <dd><%= @conta_corrente.data_alegacao_pagamento %></dd>
      <hr>
      <dt>
        Valor do Lançamento:
      </dt>
      <dd>
        <%= number_to_currency(@conta_corrente.valor, :unit => "KZ") %>
      </dt>
      <dt>Saldo Anterior:</dt>
      <dd><%= number_to_currency(@conta_corrente.saldo_anterior, :unit => "KZ") %></dd>
      <dt>Saldo Atual:</dt>
      <dd><%= number_to_currency(@conta_corrente.saldo_atual, :unit => "KZ") %></dd>
      <hr>
      <dt>Data da Última Atualização de Saldo:</dt>
      <dd><%= @conta_corrente.data_ultima_atualizacao_saldo %></dd>
      <% if @conta_corrente.responsavel_aprovacao.present? %>
         <dt>Responsável aprovação:</dt> 
         <dd><%= @conta_corrente.responsavel_aprovacao.nome %></dd>
      <% end %>
      <dt>Observação:</dt>
      <dd><%= @conta_corrente.observacao %></dd>
    </dl>

    <div class="page-header"> 
      <%= link_to "index_carregamento_usuario", class: 'btn btn-success' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Lista de Carregamento
      <% end %>
      <%= link_to conta_correntes_path, class: 'btn btn-info' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Creditar Conta  Corrente
      <% end %>
      <%= link_to edit_conta_corrente_path(@conta_corrente), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>  
    </div>
  </div>
</div>