<div class="container">

  <h4>Mostrar ContaCorrente</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>Usuario:</dt>
      <dd><%= @conta_corrente.usuario %></dd>
      <dt>Lancamento:</dt>
      <dd><%= @conta_corrente.lancamento %></dd>
      <dt>Banco:</dt>
      <dd><%= @conta_corrente.banco %></dd>
      <dt>Valor:</dt>
      <dd><%= @conta_corrente.valor %></dd>
      <dt>Iban:</dt>
      <dd><%= @conta_corrente.iban %></dd>
      <dt>Data alegacao pagamento:</dt>
      <dd><%= @conta_corrente.data_alegacao_pagamento %></dd>
      <dt>Saldo anterior:</dt>
      <dd><%= @conta_corrente.saldo_anterior %></dd>
      <dt>Saldo atual:</dt>
      <dd><%= @conta_corrente.saldo_atual %></dd>
      <dt>Data ultima atualizacao saldo:</dt>
      <dd><%= @conta_corrente.data_ultima_atualizacao_saldo %></dd>
      <dt>Observacao:</dt>
      <dd><%= @conta_corrente.observacao %></dd>
    </dl>

    <div class="page-header">
      <%= link_to conta_correntes_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_conta_corrente_path(@conta_corrente), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>