<div class="container">

  <h4>Conta Corrente</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>Usuário:</dt>
      <dd><%= @conta_corrente.usuario %></dd>
      <dt>Lançamento:</dt>
      <dd><%= @conta_corrente.lancamento %></dd>
      <dt>Banco:</dt>
      <dd><%= @conta_corrente.banco %></dd>
      <dt>Valor:</dt>
      <dd><%= @conta_corrente.valor %></dd>
      <dt>IBAN:</dt>
      <dd><%= @conta_corrente.iban %></dd>
      <dt>Data da Alegação de Pagamento:</dt>
      <dd><%= @conta_corrente.data_alegacao_pagamento %></dd>
      <dt>Saldo Anterior:</dt>
      <dd><%= @conta_corrente.saldo_anterior %></dd>
      <dt>Saldo Atual:</dt>
      <dd><%= @conta_corrente.saldo_atual %></dd>
      <dt>Data da Última Atualização de Saldo:</dt>
      <dd><%= @conta_corrente.data_ultima_atualizacao_saldo %></dd>
      <dt>Observação:</dt>
      <dd><%= @conta_corrente.observacao %></dd>
    </dl>

    <div class="page-header">
      <%= link_to conta_correntes_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_conta_corrente_path(@conta_corrente), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>