<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h4>Descontos cadastrados para o parceiro</h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12 scroltable">
    <hr>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Desconto</th>
          <th scope="col">Parceiro</th>
          <th scope="col">Data do Cadastro do Parceiro</th>
          <th scope="col">Data da Última Atualização do Registo</th>
          <th colspan="3">Ações para o Registo</th>
        </tr>
      </thead>

      <tbody>
        <% @desconto_parceiros.each do |desconto_parceiro| %>
        <tr>
          <td style="text-align: center"><%= desconto_parceiro.porcentagem %></td>
          <td><%= desconto_parceiro.partner.name %></td>
          <td style="text-align: center"><%= desconto_parceiro.partner.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
          <td style="text-align: center"><%= desconto_parceiro.partner.updated_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
          <td><%= link_to 'Editar', edit_partner_desconto_parceiro_path(@partner, desconto_parceiro) %></td>
          <td><%= link_to 'Apagar', partner_desconto_parceiro_path(@partner, desconto_parceiro), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to new_partner_desconto_parceiro_path(@partner), class: 'btn btn-success', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registo
    <% end %>

    <%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Tela Anterior
    <% end %>

    <%= link_to partners_path, class: 'btn btn-warning', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-transfer"></span>
      Voltar para o Índice
    <% end %>

  </div>
</div>