<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>Desconto por Parceiro</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Porcentagem</th>
          <th scope="col">Parceiro</th>
          <th scope="col">Data da Criação</th>
          <th scope="col">Data da Atualização</th>
          <th colspan="3">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @desconto_parceiros.each do |desconto_parceiro| %>
        <tr>
          <td align="center"><%= desconto_parceiro.porcentagem %></td>
          <td><%= desconto_parceiro.partner.name %></td>
          <td><%= desconto_parceiro.partner.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td><%= desconto_parceiro.partner.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td><%= link_to 'Mostrar', partner_desconto_parceiro_path(@partner, desconto_parceiro) %></td>
          <td><%= link_to 'Editar', edit_partner_desconto_parceiro_path(@partner, desconto_parceiro) %></td>
          <td><%= link_to 'Apagar', partner_desconto_parceiro_path(@partner, desconto_parceiro), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to new_partner_desconto_parceiro_path(@partner), class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    

    <%= link_to partners_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
    
  </div>
</div>