<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Detalhes do Registo</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12 scroltable">
    <dl class="dl-horizontal">
      <dt>Desconto:</dt>
      <dd><%= @desconto_parceiro.porcentagem %></dd>
      <dt>Parceiro:</dt>
      <dd><%= @desconto_parceiro.partner.name %></dd>
    </dl>

    <div class="page-header">
      <%= link_to partner_desconto_parceiros_path(@partner), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_partner_desconto_parceiro_path(@partner, @desconto_parceiro), class: 'btn btn-warning' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>