<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Parceiro</th>
      <th scope="col">Data da Venda</th>
      <th scope="col">Status da Venda</th>
      <th scope="col">Valor</th>
      <th scope="col">Lucro</th>
      <th scope="col">Custo</th>
      <th colspan="3">Ação</th>
    </tr>
  </thead>

  <tbody>
    <% 
    valor_original_total = 0
    valor_desconto_total = 0
    valor_total = 0 
    %>
    <% @vendas.each do |venda| %>
    <tr>
      <td><%= venda.partner.name %></td>
      <td><%= venda.created_at.strftime("%d/%m/%Y %H:%M") %></td>
      <td><%= venda.status_desc.error_description_pt %></td>
      <td align="right"><%= number_to_currency(venda.valor_original) %></td>
      <td align="right">
        <%= number_to_currency(venda.desconto_aplicado) %><br>
        <% porcentagem = (venda.desconto_aplicado.to_f / venda.valor_original.to_f * 100) %>
      </td>
      <td align="right"><%= number_to_currency(venda.value) %></td>
      <% 
        valor_original_total += venda.valor_original
        valor_desconto_total += venda.desconto_aplicado 
        valor_total += venda.value 
      %>
    </tr>
    <% end %>
    <tfoot>
      <tr>
        <td align="right"></td>
        <td align="right"></td>
        <td align="right"></td>
        <td align="right"><b>Total:</b></td>
        <td align="right">
          <b><%= number_to_currency(valor_original_total) %></b>
        </td>    
        <td align="right">
          <b>
            <%= number_to_currency(valor_desconto_total) %>
          </b>
        </td>
        <td align="right">
          <b><%= number_to_currency(valor_total) %></b>
        </td>        
        <td align="right"></td>
      </tr>
    </tfoot>
  </tbody>
</table>

<h2>
  Total de vendas ou recargas: <%= number_to_currency(Venda.total_acesso(@adm, @vendas_graficos), :unit => "KZ") %>
</h2>
<h2>
  Total de lucros: <%= number_to_currency(Venda.total_lucros_acesso(@adm, @vendas_graficos), :unit => "KZ") %>
</h2>

<div class="apple_pagination">
  <%= will_paginate @vendas, :container => false %>
</div>