<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@alegacao_de_pagamento, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <% if @alegacao_de_pagamento.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@alegacao_de_pagamento.errors.count, "erros") %> no alegacao_de_pagamento, confira abaixo:</h4>

            <ul>
            <% @alegacao_de_pagamento.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-12">
          <%= f.label :usuario_id, "Buscar ou selecionar o usuário" %>
          <div style="display:flex">
            <input type="text" id="usuario" class="form-control autocomplete" style="width:30%" <% unless @alegacao_de_pagamento.new_record? %> disabled="disabled" <% end %> >
            <%
              usuarios = Usuario.com_acesso(usuario_logado).limit(100).collect{|d| [d.nome, d.id]}
              if @alegacao_de_pagamento.usuario_id.present?
                usuario = Usuario.find(@alegacao_de_pagamento.usuario_id)
                usuarios << [usuario.nome, usuario.id]
              end
            %>
            <%= f.select :usuario_id, usuarios, {:include_blank => "[Selecione]"}, required:true, class: "form-control options-autocomplete", style: "width:70%", disabled: (!@alegacao_de_pagamento.new_record? ? "disabled" : false) %>
          </div>
        </div>

        <div class="form-input col-sm-4">
          <%= f.label :valor_deposito, :label => "Valor do Depósito", class: "col-sm-6" %>
          <%= f.text_field :valor_deposito, placeholder: "  Valor do Depósito", class: "form-control", disabled: (!@alegacao_de_pagamento.new_record? ? "disabled" : false) %>
        </div>
        <div class="form-input col-sm-4">
          <%= f.label :data_deposito, "Data e Hora do Depósito", class: "col-sm-8" %>
          <%= f.datetime_field :data_deposito, placeholder: "  Data e Hora do Depósito", class: "form-control", disabled: (!@alegacao_de_pagamento.new_record? ? "disabled" : false) %>
        </div>
        <div class="form-input col-sm-4">
          <%= f.label :numero_talao, "Número do Talão", class: "col-sm-6" %>
          <%= f.text_field :numero_talao, placeholder: "  Número do Talão", class: "form-control", disabled: (!@alegacao_de_pagamento.new_record? ? "disabled" : false) %>
        </div>
        <% unless @alegacao_de_pagamento.new_record? %>
          <div class="form-input col-sm-6">
            <%= f.label :status_alegacao_de_pagamento_id, "Status", class: "col-sm-3" %>
            <%= f.select :status_alegacao_de_pagamento_id, StatusAlegacaoDePagamento.all.collect{|d| [d.nome, d.id]}, {}, required:true, class: "form-control" %>
          </div>
          <div class="form-input col-sm-6">
            <%= f.label :banco_id, class: "col-sm-3" %>
            <%= f.select :banco_id, Banco.where(status_banco_id: Banco::ATIVO).collect{|d| [d.nome, d.id]}, {}, required:true, class: "form-control", disabled: (!@alegacao_de_pagamento.new_record? ? "disabled" : false) %>
          </div>
        <% else %>
          <div class="form-input col-sm-12">
            <%= f.label :banco_id, class: "col-sm-3" %>
            <%= f.select :banco_id, Banco.where(status_banco_id: Banco::ATIVO).collect{|d| [d.nome, d.id]}, {}, required:true, class: "form-control" %>
          </div>
        <% end %>
        <div class="form-input col-sm-12">
          <%= f.label :comprovativo, "Comprovativo do Depósito (máximo de 1 MB)", class: "col-sm-8" %>
          <%= f.file_field :comprovativo, placeholder: "  Comprovativo do Depósito (máximo de 1 MB)", class: "form-control", onchange: "if(this.files[0].size > 1048576){ alert('O arquivo deve conter menos de 1 MB!'); this.value = ''; }", accept:"image/jpeg, image/jpg, image/gif, image/bmp, image/png, application/pdf", disabled: (!@alegacao_de_pagamento.new_record? ? "disabled" : false) %>
        </div>
        <% if @adm.admin? || @adm.operador? %>
          <div class="form-input col-sm-12">
            <%= f.label :observacao, "Observação", class: "col-sm-3" %>
            <%= f.text_area :observacao, placeholder: "  Observação", style:"height: 250px!important", class: "form-control" %>
          </div>
        <% end %>
        <% if @alegacao_de_pagamento.comprovativo.present? %>
          <div class="form-input col-sm-12" style="margin-top:20px">
            <% if @alegacao_de_pagamento.comprovativo.scan(/\.pdf/).present? %>
              <iframe src="<%= @alegacao_de_pagamento.comprovativo %>" style="width: 100%; height: 300px;border: 0px"></iframe>
            <% else %>
              <img src="<%= @alegacao_de_pagamento.comprovativo %>" style="width: 200px">
            <% end %>
          </div>
        <% end %>
        <% if :status_alegacao_de_pagamento_id != 1 %>
          <div class="form-actions col-sm-12" style="margin-top: 20px">
            <%= f.button :button, class: 'btn btn-danger' do %>
              <span class="glyphicon glyphicon-ok"></span>
              Confirmar
            <% end %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
