
<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h4>Alegações de Pagamentos</h4>
  </div>
  <br><br>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  
  <form action="" method="get" id="formApuracao">
  <div class="col-sm-2">
    <div class="form-group">
      <label>Login do Usuário</label>
      <div>
        <input type="text" name="login" value="<%= params[:login] %>" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label>Nome do Usuário</label>
      <div>
        <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
      </div>
    </div>
  </div>

  <% if @adm.admin? || @adm.operador? %>
    <div class="col-sm-2">
      <div class="form-group">
        <label>ID Interno do Usuário</label>
        <div>
          <input type="text" name="id" value="<%= params[:id] %>" class="form-control">
        </div>
      </div>
    </div>
  <% end %>
  <% if @adm.admin? || @adm.operador? %>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Perfil do Usuário</label>
        <div>
          <select name="perfil_usuario_id" class="form-control">
            <option value="" selected="'selected'">Todos</option>
            <% PerfilUsuario.all.each do |perfil_usuario| %>
              <option value="<%= perfil_usuario.id %>" <% if params[:perfil_usuario_id].to_s == perfil_usuario.id.to_s %> selected="selected" <% end %>><%= perfil_usuario.nome %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-sm-3">
    <div class="form-group">
      <label>Data do Depósito (Início)</label>
      <div>
        <input type="date" name="data_alegacao_pagamento_inicio" value="<%= params[:data_alegacao_pagamento_inicio] %>" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label>Data do Depósito (Fim)</label>
      <div>
        <input type="date" name="data_alegacao_pagamento_fim" value="<%= params[:data_alegacao_pagamento_fim] %>" class="form-control">
      </div>
    </div>
  </div>
  <% if @adm.admin? || @adm.operador? %>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Última Alteração ou Processamento (Início)</label>
        <div>
          <input type="date" name="updated_at_inicio" value="<%= params[:updated_at_inicio] %>" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
          <label>Última Alteração ou Processamento (Fim)</label>
          <div>
            <input type="date" name="updated_at_fim" value="<%= params[:updated_at_fim] %>" class="form-control">
          </div>
      </div>
    </div>
  <% end %>
  <% if @adm.admin? || @adm.operador? %>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Situação do Usuário</label>
        <div>
          <select name="status" class="form-control">
            <option value="" selected="'selected'">Todos</option>
            <% StatusCliente.all.each do |status| %>
              <option value="<%= status.id %>" <% if params[:status].to_s == status.id.to_s %> selected="selected" <% end %>><%= status.nome %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-sm-3">
    <div class="form-group">
      <label>Situação da Alegação de Pagamento</label>
        <div>
          <select name="status_alegacao_de_pagamento_id" class="form-control">
              <option value="" selected="'selected'">Todos</option>
              <% if @adm.admin? || @adm.operador? %>
                <% StatusAlegacaoDePagamento.all.each do |status| %>
                <option value="<%= status.id %>" <% if status.id.to_s == params[:status_alegacao_de_pagamento_id].to_s %> selected="selected" <% end %> ><%= status.nome %></option>
                <% end %>
              </select>
            <% else %>
                <% StatusAlegacaoDePagamento.where("lower(nome) ilike '%processado%' or lower(nome) ilike '%pendente%'").collect do |status| %>
                <option value="<%= status.id %>" <% if status.id.to_s == params[:status_alegacao_de_pagamento_id].to_s %> selected="selected" <% end %> ><%= status.nome %></option>
                <% end %>
            <% end %>
          </select>
      </div>
    </div>
  </div>
  <% if @adm.admin? || @adm.operador? %>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Banco</label>
        <select name="banco_id" onchange="pgstrans.carregaBanco(this)" class="form-control">
              <option value="" selected="'selected'">Todos</option>
              <% Banco.where(status_banco_id: Banco::ATIVO).each do |banco| %>
                <option value="<%= banco.id %>" <% if banco.id.to_s == params[:banco_id] %> selected="selected" <% end %> ><%= banco.nome %></option>
              <% end %>
          </select>
      </div>
    </div>
  <% end %>
  
  <div class="form-group">
    <div style="float: right;margin-right:10px">

      <%= button_tag(type: 'submit', class: "btn btn-info", value: "Buscar", style: "width: 150px;text-align: center;margin-right: 0px;") do %>
          <span class="glyphicon glyphicon-search"></span> Buscar
      <% end %>      

      <%= link_to new_alegacao_de_pagamento_path, class: 'btn btn-success', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-plus"></span>
        Novo Registo
      <% end %>    

      <%= link_to backoffice_index_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Voltar
      <% end %>

    </div>
  </div>
  </form>

  <div>
    <% if @qtd_total.present? %>
      <div class="col-md-12 scroltable">
        <h4>
          Quantidade de registos: <strong><%= @qtd_total %></strong>
        </h4>
        <hr>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Login Usuário</th>
              <th scope="col">Nome do Usuário</th>
              <th scope="col">Nome do Responsável</th>
              <th scope="col">Valor do Depósito</th>
              <th scope="col">Data Depósito</th>
              <th scope="col">Data Ult Alteração ou Proces</th>
              <th scope="col">Agente</th>  
              <th scope="col">Número do Talão</th>
              <th scope="col">Banco</th>
              <th scope="col">Status</th>
              <th scope="col">Link</th>
              <th colspan="3">Ações para o Registo</th>
            </tr>
          </thead>

          <tbody>
            <% valor_total = 0 %>
            <% @alegacao_de_pagamentos.each do |alegacao_de_pagamento| %>
            <tr>
              <td style="width: 90px" class="text-right"><%= alegacao_de_pagamento.usuario.login %></td>
              <td style="width: 300px"><%= alegacao_de_pagamento.usuario.nome %></td>
              <td style="width: 300px"><%= alegacao_de_pagamento.get_responsavel.nome rescue alegacao_de_pagamento.usuario.nome %></td>
              <td style="width: 170px" class="text-right"><%= number_to_currency(alegacao_de_pagamento.valor_deposito, :unit => "KZ", :precision => 2) %></td>
              <td style="width: 170px" class="text-center"><%= alegacao_de_pagamento.data_deposito.strftime("%d/%m/%Y %H:%M:%S") rescue ""%></td>
              <td style="width: 170px" class="text-center">
              <% if [StatusAlegacaoDePagamento::PENDENTE].include?(alegacao_de_pagamento.status_alegacao_de_pagamento.nome) %>
                <%= alegacao_de_pagamento.updated_at.strftime("%d/%m/%Y %H:%M:%S") rescue ""%>
              <% end %>
              </td>
              <td style="width: 200px"><%= alegacao_de_pagamento.usuario.sub_agente.nome_fantasia rescue "" %></td>
              <td style="width: 170px"><%= alegacao_de_pagamento.numero_talao %></td>
              <td style="width: 200px"><%= alegacao_de_pagamento.banco.nome %></td>
              <td style="width: 120px"><%= alegacao_de_pagamento.status_alegacao_de_pagamento.nome rescue "" %></td>
              <td><%= link_to 'Comprovativo', alegacao_de_pagamento.comprovativo, target: "_blank" %></td>
              <td><%= link_to 'Mostrar', alegacao_de_pagamento %></td>
              <% if ![StatusAlegacaoDePagamento::PROCESSADO,StatusAlegacaoDePagamento::CANCELADO,StatusAlegacaoDePagamento::INVALIDO,StatusAlegacaoDePagamento::REJEITADO].include?(alegacao_de_pagamento.status_alegacao_de_pagamento.nome) && (@adm.admin? || @adm.operador?) %>
                <td><%= link_to 'Editar', edit_alegacao_de_pagamento_path(alegacao_de_pagamento) %></td>
              <% end %>

              <% if ![StatusAlegacaoDePagamento::PROCESSADO,StatusAlegacaoDePagamento::CANCELADO,StatusAlegacaoDePagamento::INVALIDO,StatusAlegacaoDePagamento::REJEITADO].include?(alegacao_de_pagamento.status_alegacao_de_pagamento.nome) && (@adm.admin? || @adm.operador?) %>          
                <td><%= link_to 'Processar', "/alegacao_de_pagamentos/#{alegacao_de_pagamento.id}/processar", method: :post, data: { confirm: 'Tem certeza?' } if alegacao_de_pagamento.data_deposito.present? %></td>
              <% end %>
            </tr>
            <% valor_total += alegacao_de_pagamento.valor_deposito %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td style="width: 200px;text-align:right">
                <b>Total da Página: </b><br>
                <b>Total Geral: </b>
              </td>
              <td style="text-align:right">
                <%= number_to_currency(valor_total, :unit => "KZ") %><br>
                <%= number_to_currency(@valor_total, :unit => "KZ") %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>

        <div class="apple_pagination">
          <%= will_paginate @status_alegacao_de_pagamento, :container => false %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @qtd_total.blank? %>
  <div style="height: 100px; text-align:center;font-size: 20px; color: #856404; padding: 20px;">
    Informe os parâmetros de busca
  </div>
<% end %>
