<div class="container">

  <h4>Mostrar</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>Usuario:</dt>
      <dd><%= @alegacao_de_pagamento.usuario %></dd>
      <dt>Valor deposito:</dt>
      <dd><%= @alegacao_de_pagamento.valor_deposito %></dd>
      <dt>Data deposito:</dt>
      <dd><%= @alegacao_de_pagamento.data_deposito %></dd>
      <dt>Numero talao:</dt>
      <dd><%= @alegacao_de_pagamento.numero_talao %></dd>
      <dt>Banco:</dt>
      <dd><%= @alegacao_de_pagamento.banco %></dd>
      <dt>Comprovativo:</dt>
      <dd><%= @alegacao_de_pagamento.comprovativo %></dd>
    </dl>

    <div class="page-header">
      <%= link_to alegacao_de_pagamentos_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_alegacao_de_pagamento_path(@alegacao_de_pagamento), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>