<div class="col-md-12 scroltable">
  <div class="col-md-12">
    <h4>Deatalhes da Alegação de Pagamento</h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Login do Usuário:</dt>
      <dd><%= @alegacao_de_pagamento.usuario.login %></dd>
      <dt>Nome do Usuário:</dt>
      <dd><%= @alegacao_de_pagamento.usuario.nome %></dd>
      <dt>Valor do Depósito:</dt>
      <dd><%= number_to_currency(@alegacao_de_pagamento.valor_deposito, :unit => "KZ", :precision => 2) %></dd>
      <dt>Data e Hora do Depósito:</dt>
      <dd><%= @alegacao_de_pagamento.data_deposito.strftime("%d/%m/%Y %H:%M:%S") rescue "" %></dd>
      <dt>Número do Talão:</dt>
      <dd><%= @alegacao_de_pagamento.numero_talao %></dd>
      <dt>Banco:</dt>
      <dd><%= @alegacao_de_pagamento.banco.nome %></dd>
      <dt>Nome do Agente:</dt>
      <dd><%= @alegacao_de_pagamento.usuario.sub_agente.nome_fantasia rescue "" %></dd>
      <dt>Comprovativo de Depósito:</dt>
      <dd><%= link_to 'Comprovativo', @alegacao_de_pagamento.comprovativo, target: "_blank" if @alegacao_de_pagamento.comprovativo.present? %></dd>
      <dt>Status:</dt>
      <dd><%= @alegacao_de_pagamento.status_alegacao_de_pagamento.nome rescue "" %></dd>
      <% if @adm.admin? || @adm.operador? %>
           <dt>Observação:</dt>
          <dd><%= @alegacao_de_pagamento.observacao %></dd>
      <% end %>
    </dl>

    <div class="page-header">
      <%= link_to alegacao_de_pagamentos_path, class: 'btn btn-dark' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      
      <% if @alegacao_de_pagamento.status_alegacao_de_pagamento.nome != StatusAlegacaoDePagamento::PROCESSADO && (@adm.admin? || @adm.operador?) %>
        <%= link_to edit_alegacao_de_pagamento_path(@alegacao_de_pagamento), class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Editar
        <% end %>
      
        <% if @alegacao_de_pagamento.data_deposito.present? %>
          <%= link_to "/alegacao_de_pagamentos/#{@alegacao_de_pagamento.id}/processar", class: 'btn btn-success', method: :post, data: { confirm: 'Tem certeza?' } do %>
            Processar
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>