<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@remuneracao, html: { class: "form-vertical", role: "form" }) do |f| %>
        <% if @remuneracao.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@remuneracao.errors.count, "erros") %> no remuneracao, confira abaixo:</h4>

            <ul>
            <% @remuneracao.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-12">
          <%= f.label :usuario_id, "Buscar ou selecionar usuário" %>
          <div style="display:flex">
            <input type="text" id="usuario" class="form-control autocomplete" style="width:30%">
            <%= f.select :usuario_id, Usuario.all.limit(100).collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control options-autocomplete", style: "width:70%" %>
          </div>
        </div>

        <div class="form-input col-sm-12">
          <label for="remuneracao_parceiro_desconto">Indique a remuneração do usuário para cada parceiro</label>
            <% Partner.all.each do |partner| %>
              <div style="display:flex">
                <div style="width:100px;padding-top: 15px;">
                  <label>
                    <input type="checkbox" name="partner_descontos[][id]" value="<%= partner.id %>" <% if RemuneracaoDesconto.where(remuneracao_id: @remuneracao.id, partner_id: partner.id).count > 0 %> checked="checked" <% end %> /> 
                    <%= partner.name %>
                  </label>
                </div>
                <select required="required" class="form-control" style="width:90%" name="parceiro_desconto_id_partner_id_<%= partner.id %>" id="parceiro_desconto_id_partner_id_<%= partner.id %>">
                  <% descontos = DescontoParceiro.where(partner_id: partner.id) %>
                  <option value="">Desconto padrão</option>
                  <% descontos.each do |desconto_parceiro| %>
                    <option value="<%= desconto_parceiro.id %>" <% if RemuneracaoDesconto.where(remuneracao_id: @remuneracao.id, partner_id: partner.id, desconto_parceiro_id: desconto_parceiro.id).count > 0 %> selected="selected" <% end %> ><%= desconto_parceiro.porcentagem %>%</option>
                  <% end %>
                </select>
              </div>
            <% end %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :produto_id %>
          <%= f.select :produto_id, Produto.all.collect{|d| [d.description, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.label :vigencia_inicio, "Início da vigência deste plano de desconto" %>
          <%= f.date_field :vigencia_inicio, class:"form-control" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.label :vigencia_fim, "Fim da vigência deste plano de desconto" %>
          <%= f.date_field :vigencia_fim, class:"form-control" %>
        </div>

        <div class="form-actions col-sm-12">
          <%= f.button :button, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-ok"></span>
            Confirmar
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
