<h4>Mostrar Remuneracao</h4>

<dl class="dl-horizontal">
  <dt>Usuario:</dt>
  <dd><%= @remuneracao.usuario.nome %></dd>
  <dt>Produto:</dt>
  <dd><%= @remuneracao.produto.description %></dd>
  <dt>Valor venda final telemovel:</dt>
  <dd><%= @remuneracao.valor_venda_final_telemovel %></dd>
  <dt>Valor venda final site:</dt>
  <dd><%= @remuneracao.valor_venda_final_site %></dd>
  <dt>Valor venda final pos:</dt>
  <dd><%= @remuneracao.valor_venda_final_pos %></dd>
  <dt>Valor venda final tef:</dt>
  <dd><%= @remuneracao.valor_venda_final_tef %></dd>
  <dt>Vigencia inicio:</dt>
  <dd><%= @remuneracao.vigencia_inicio %></dd>
  <dt>Vigencia fim:</dt>
  <dd><%= @remuneracao.vigencia_fim %></dd>
</dl>

<div class="page-header">
  <%= link_to remuneracaos_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_remuneracao_path(@remuneracao), class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</div>