
    <div class="card">
      <div class="card-header">
      Escolha um Parceiro/Fornecedor
    </div>
    <div class="card-body">
       <div class="col-md-12 row justify-content-center">
        <!--Unitel-->
            <div class="col-md-3">
              <%#= link_to page_path('portfolio-item') do %>
                <%= image_tag("partner/Unitel_160x160c.png", alt: "Unitel", class: "img-responsive") %>
              <%# end %>
            </div>
        <!--Movicel-->
            <div class="col-md-3">
              <%#= link_to page_path('portfolio-item') do %>
                <%= image_tag("partner/Movicel_160x160c.png", alt: "Movicel", class: "img-responsive") %>
              <%# end %>
            </div>
        <!--DSTv-->
            <div class="col-md-3">
              <%#= link_to page_path('portfolio-item') do %>
                <%= image_tag("partner/DSTv_160x160c.png", alt: "DSTv", class: "img-responsive") %>
              <%# end %>
            </div>
        <!--ZAPTv-->
            <div class="col-md-3">
              <%#= link_to page_path('portfolio-item') do %>
                <%= image_tag("partner/ZAPTv_160x160c.png", alt: "ZAPTv", class: "img-responsive") %>
              <%# end %>
            </div>
        </div>
      </div>
    </div>


  <!--Backoffice -->

 <%= render 'layouts/backoffice' %>
 
  <!--Backoffice -->
