<div class="card" style="margin-top: 5px;">
  <div class="card-header">
    <div class="col-md-6">
      Escolha um Parceiro
    </div>
    <div class="col-md-6" style="text-align: right">
      Saldo Disponível: <%= number_to_currency(usuario_logado.saldo, :unit => "KZ", :precision => 2) %>
    </div>
  </div>
  <div class="card-body recarga">
    <div class="col-md-12 row justify-content-center mobile-container-icones">
      <% Partner.all.each_with_index do |partner, index| 
        if index == 0
          @partner_default = partner
          ativo = "menu-ativo"
        end %>
        
        <!--<%= partner.slug %>-->
        <div class="menu-icon" style="text-align: center; margin: 0px 10px 0px 10px">
          <a <% if partner.status_parceiro_id == 1 %> href="javascript:;" onclick="pgstrans.displayRecarga('<%= partner.slug %>')" <% end %>>
            <% if partner.imagem.present? %>
              <%= image_tag(partner.imagem, alt: partner.slug, class: "img-responsive icone-menu #{ativo} img_#{partner.slug}", style: "display: inline-block;width: 160px;") %>
            <% else %>
              <%= image_tag("partner/#{partner.slug}_160x160c.png", alt: partner.slug, class: "img-responsive icone-menu #{ativo} img_#{partner.slug}", style: "display: inline-block;width: 160px;") rescue partner.name %>
            <% end %>
          </a>
        </div>
      <% end %>
    </div>
    <form action="<%= recarga_confirma_path %>" id="recargaForm" method="post">

      <div class="col-md-12" id="DSTVMenu" style="display: none;padding: 20px;box-shadow: 0px 0px 10px 5px #AAAAAA;border-radius: 10px;">
        <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
          <h3>O que você deseja fazer?</h3>
        </div>
        <div class="menuDSTV" style="padding: 2%">
          <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
            <li>
              <a href="/dstv/validacao-cliente">
                Validação de dados do cliente
              </a>
            </li>
            <hr>
            <!--li>
              <a href="/dstv/consulta-fatura">
                Efetuar pagamento de diferença de pacote
              </a>
            </li>
            <hr-->
            <li>
              <a href="/dstv/alteracao-pacote">
                Alteração de pacotes para um ou múltiplos produtos
              </a>
            </li>
            <hr>
            <!--li>
              <a href="/dstv/alteracao-plano-mensal-anual">
                Alteração de plano entre anual e mensal
              </a>
            </li>
            <hr-->
            <li>
              <a href="javascript:pgstrans.displayRecargaDstv()">
                Recarga com valores pré-fixados
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-12" id="recarga" style="display: none;padding: 20px;box-shadow: 0px 0px 10px 5px #AAAAAA;border-radius: 10px;">
        <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
          <h3>Recargas</h3>
        </div>
        <div id="dialogRecharge" title="Recarga">
          <input type="hidden" id="tipo_ativo" name="tipo_venda">
          <div class="overlayLoading" id="recargas_RightMenuListItemOverlay"></div>
            <div class="dialogDiv" style="padding: 0px;margin-top: 15px;">
              <% Partner.where(status_parceiro_id: StatusParceiro::ATIVO).each do |partner| %>
                <div class="campos <%= partner.slug %>">
                  <div class="editArea editAreaDiv" style="margin-bottom: 10px;">
                    <div class="p16Bold editDiv" style="text-align: left;">
                        Recarga<span class="required">&nbsp;*</span>
                    </div>
                    <div>
                      <% begin %>
                        <%= render "/shared/select_#{partner.slug.to_s.downcase}", partner: partner %>
                      <% rescue %>
                        <%= render "/shared/select_default", partner: partner %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="campos <%= Partner.where(status_parceiro_id: StatusParceiro::ATIVO).map{|p| p.slug}.join(" ") %>">
                <div class="editArea editAreaDiv" style="margin-bottom: 10px;">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Valor
                  </div>
                  <div class="number">
                    <input type="text" id="rechargeValue" class="form-control clearFieldjs" name="valor" readonly="" placeholder="Valor...">
                  </div>
                </div>
              </div>
              <div class="campos Movicel " id="divAditionalFieldsMovicel">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Telemóvel<span class="required">&nbsp;*</span>
                  </div>
                  <div>
                    <input type="text" name="movicel_telefone" class="form-control vMovicel validate clearFieldjs" data-message="Informe o número" value="" placeholder="Telemóvel..." maxlength="20" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
              <div class="campos DSTv" id="divAditionalFieldsDSTV">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Nº Cliente/Customer Number <span class="required">&nbsp;*</span>
                  </div>
                  <div>
                    <input type="text" id="dstvNr"  name="dstv_customer_number" class="form-control vDSTv validate clearFieldjs" data-message="Informe o número" value="" placeholder="Customer Number..." maxlength="11" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
              <div class="campos ZAPTv" id="divAditionalFieldsZAP">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Nº do Cartão ZAP <span class="required">&nbsp;*</span>
                  </div>
                  <div>
                    <input type="text" id="zapNr" name="zaptv_cartao" class="form-control vZAPTv validate clearFieldjs" data-message="Informe o número" value="" placeholder="Nº do Cartão ZAP..." maxlength="12" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
              <div class="campos Unitel" id="divAditionalFieldsUnitel">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Telemóvel <span class="required">*</span>
                  </div>
                  <div>
                    <input type="text" id="unitelNr" name="unitel_telefone" class="form-control vUnitel validate clearFieldjs" data-message="Informe o número" value="" placeholder="Telemóvel..." maxlength="20" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
              <div class="campos talaoUnitel talaoMovicel talaoDSTv talaoZAPTv" id="divAditionalFieldsSMS" style="display: none;margin-top: 10px">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Talão p/SMS <span class="required">&nbsp;*</span>
                  </div>
                  <div>
                    <input type="text" id="SMSNr" name="talao_sms" class="form-control talaoUnitel talaoMovicel talaoDSTv talaoZAPTv vUnitel vMovicel vDSTv vZAPTv validate clearFieldjs" data-message="Informe o número" value="" placeholder="Talão p/SMS..." maxlength="20" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="saveCancelbts" style="padding-top: 25px;text-align: right;">
            <div style="display: inline-block;margin-bottom: 10px;">
              <input type="submit" class="btn btn-success" id="btSave" style="width: 210px; text-align: center;" value="SUBMETER PEDIDO">
            </div>
          </div>
        </div>
      </div>
      
    </form>
    <% if @partner_default.present? %>
      <script type="text/javascript">
        pgstrans.displayRecarga('<%= @partner_default.slug %>')
      </script>
    <% end %>

    <% if params[:recarga].present? %>
      <script type="text/javascript">
        pgstrans.displayRecarga('<%= params[:recarga] %>')
        
        <% if params[:displayrecarga].present? %>
          pgstrans.displayRecargaDstv()
        <% end %>
      </script>
    <% end %>
  </div>
</div>