<div class="card" style="margin-top: 5px;">
  <div class="card-header">
    <div class="col-md-6">
      Escolha um Parceiro
    </div>
    <div class="col-md-6" style="text-align: right">
      Saldo Disponível: <%= number_to_currency(usuario_logado.saldo, :unit => "KZ", :precision => 2) %>
    </div>
  </div>
  <div class="card-body recarga">
    <div class="col-md-12 row justify-content-center mobile-container-icones">
      <% Partner.where(status_parceiro_id: StatusParceiro::ATIVO).each_with_index do |partner, index| 
        if index == 0
          @partner_default = partner
          ativo = "menu-ativo"
        end %>
        
        <!--<%= partner.slug %>-->
        <div class="menu-icon" style="text-align: center; margin: 0px 3% 0px 3%">
          <a <% if partner.status_parceiro_id == 1 %> href="javascript:;" onclick="pgstrans.displayRecarga('<%= partner.slug %>')" <% end %>>
            <% if partner.imagem.present? %>
              <%= image_tag(partner.imagem, alt: partner.slug, class: "img-responsive icone-menu #{ativo} img_#{partner.slug}", style: "display: inline-block;width: 160px;") %>
            <% else %>
              <% begin %>
                <%= image_tag("partner/#{partner.slug}_160x160c.png", alt: partner.slug, class: "img-responsive icone-menu #{ativo} img_#{partner.slug}", style: "display: inline-block;width: 160px;") %>
              <% rescue %>
                <%= image_tag("partner/default_160x160c.png", alt: partner.slug, class: "img-responsive icone-menu #{ativo} img_#{partner.slug}", style: "display: inline-block;width: 160px;") %>
              <% end %>
            <% end %>
          </a>
        </div>
      <% end %>
    </div>
    <form action="<%= recarga_confirma_path %>" id="recargaForm" method="post">

      <div class="col-md-12" id="DSTVMenu" style="display: none;padding: 20px;box-shadow: 0px 0px 10px 5px #AAAAAA;border-radius: 10px;">
        <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
          <h3>O que você deseja fazer?</h3>
        </div>
        <div class="menuDSTV" style="padding: 2%">
          <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
            <li>
              <a href="/dstv/validacao-cliente">
                Validação de dados do cliente
              </a>
            </li>
            <hr>
            <!--li>
              <a href="/dstv/consulta-fatura">
                Efetuar pagamento de diferença de pacote
              </a>
            </li>
            <hr-->
            <li>
              <a href="/dstv/alteracao-pacote">
                Alteração de pacotes para um ou múltiplos produtos
              </a>
            </li>
            <hr>
            <!--li>
              <a href="/dstv/alteracao-plano-mensal-anual">
                Alteração de plano entre anual e mensal
              </a>
            </li>
            <hr-->
            <li>
              <a href="javascript:pgstrans.displayRecargaDstv()">
                Recarga com valores pré-fixados
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-12" id="ENDEMenu" style="display: none;padding: 20px;box-shadow: 0px 0px 10px 5px #AAAAAA;border-radius: 10px;">
        <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
          <h3>O que você deseja fazer?</h3>
        </div>
        <div class="menuENDE" style="padding: 2%">
          <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
            <li>
              <a href="/ende/venda-teste">
                Venda Teste / Simulação
              </a>
            </li>
            <% if @adm.id == Usuario::ROOT %>
              <li>
                <hr>
                <a href="/ende/confirmar-cliente">
                  Confirmar Cliente
                </a>
              </li>
            <% end %>
            <li>
              <hr>
              <a href="javascript:pgstrans.displayRecargaEnde()">
                Venda de Crédito
              </a>
            </li>
            <li>
              <hr>
              <a href="/ende/reprint">
                Reimpressão
              </a>
            </li>
            <% if @adm.id == Usuario::ROOT %>
              <li>
                <hr>
                <a href="/ende/last-advice">
                  Last Advice
                </a>
              </li>
            <% end %>
            <li>
              <hr>
              <a href="/ende/pagamento-de-conta">
                Pagamento de Conta
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-12" id="recarga" style="display: none;padding: 20px;box-shadow: 0px 0px 10px 5px #AAAAAA;border-radius: 10px;">
        <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
          <h3>Recargas</h3>
        </div>
        <div id="dialogRecharge" title="Recarga">
          <input type="hidden" id="tipo_ativo" name="tipo_venda">
          <div class="overlayLoading" id="recargas_RightMenuListItemOverlay"></div>
            <div class="dialogDiv" style="padding: 0px;margin-top: 15px;">
              <% Partner.where(status_parceiro_id: StatusParceiro::ATIVO).each do |partner| %>
                <div class="campos <%= partner.slug %>">
                  <div class="editArea editAreaDiv" style="margin-bottom: 10px;">
                    <div class="p16Bold editDiv" style="text-align: left;">
                      Recarga<span class="required">&nbsp;*</span>
                    </div>
                    <div>
                      <% begin %>
                        <%= render "/shared/select_#{partner.slug.to_s.downcase}", partner: partner %>
                      <% rescue %>
                        <%= render "/shared/select_default", partner: partner %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="campos <%= Partner.where(status_parceiro_id: StatusParceiro::ATIVO).map{|p| p.slug}.join(" ") %>">
                <div class="editArea editAreaDiv" style="margin-bottom: 10px;">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Valor
                  </div>
                  <div class="number">
                    <input type="number" step="0.01" id="rechargeValue" class="form-control clearFieldjs" name="valor" readonly="" placeholder="Valor...">
                  </div>
                </div>
              </div>
              <div class="campos movicel " id="divAditionalFieldsMovicel">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Telemóvel<span class="required">&nbsp;*</span>
                  </div>
                  <div>
                    <input type="text" name="movicel_telefone" class="form-control vMovicel validate clearFieldjs" data-message="Informe o número do Telemóvel para Recarga" value="" placeholder="Número do Telemóvel" maxlength="20" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
              <div class="campos dstv" id="divAditionalFieldsDSTV">
                <div class="editArea editAreaDiv">
                  <div class="divSmartcard">
                    <input type="radio" class="smartSim" id="transacao_smartcard_sim" onclick="$('.transacao_smartcard_sim').hide();$('.transacao_smartcard_nao').show();" name="transacao_smartcard" class="form-control vDSTv radio-menor" checked="checked" value="true">
                    <label for="transacao_smartcard_sim">
                      SmartCard
                    </label>
                  </div>
                  <div class="divDeviceId">
                    <input type="radio" class="smartNao" id="transacao_smartcard_nao" onclick="$('.transacao_smartcard_sim').show();$('.transacao_smartcard_nao').hide();" name="transacao_smartcard" class="form-control vDSTv radio-menor" value="false">
                    <label for="transacao_smartcard_nao">
                      Customer Number
                    </label>
                  </div>
                </div>
              </div>
              <div class="campos dstv" id="divAditionalFieldsDSTV">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv transacao_smartcard_nao" style="text-align: left">
                    SmartCard <span class="required">&nbsp;*</span>
                  </div>
                  <div class="p16Bold editDiv transacao_smartcard_sim" style="text-align: left;display:none;">
                    Customer Number <span class="required">&nbsp;*</span>
                  </div>
                  <div>
                    <input type="text" id="dstvNr"  name="dstv_customer_number" class="form-control vDSTv validate clearFieldjs" data-message="Informe o número do Dispositivo ou do Cliente" value="" placeholder="" maxlength="11" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
              <div class="campos zaptv" id="divAditionalFieldsZAP">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Nº do Cartão ZAP <span class="required">&nbsp;*</span>
                  </div>
                  <div>
                    <input type="text" id="zapNr" name="zaptv_cartao" class="form-control vZAPTv validate clearFieldjs" data-message="Informe o número do Cartão ZAP" value="" placeholder="Número do Cartão ZAP" maxlength="12" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
              <div class="campos unitel" id="divAditionalFieldsUnitel">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Telemóvel <span class="required">*</span>
                  </div>
                  <div>
                    <input type="text" id="unitelNr" name="unitel_telefone" class="form-control vUnitel validate clearFieldjs" data-message="Informe o Número do Telemóvel" value="" placeholder="Número do Telemóvel para Recarga" maxlength="20" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
              <div class="campos ende" id="divAditionalFieldsENDE">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Número do Medidor<span class="required">&nbsp;*</span>
                  </div>
                  <div>
                    <input type="text" name="meter_number" class="form-control vENDE validate clearFieldjs" data-message="Informe o número" placeholder="Digite ..." maxlength="20" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
              <div class="campos <%= Partner.where(status_parceiro_id: StatusParceiro::ATIVO).where("slug not in ('ende')").map{|p| "talao#{p.slug}"}.join(" ") %>" id="divAditionalFieldsSMS" style="display: none;margin-top: 10px">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Talão para SMS
                  </div>
                  <div>
                    <input type="text" id="SMSNr" name="talao_sms" class="form-control <%= Partner.where(status_parceiro_id: StatusParceiro::ATIVO).where("slug not in ('ENDE')").map{|p| "talao#{p.slug}"}.join(" ") %> validate clearFieldjs" data-message="Informe o Número para Talão para SMS" value="" placeholder="Talão para SMS " maxlength="20" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
              <div class="campos ende id="divAditionalFieldsENDEsms" style="display: none;margin-top: 10px">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    Número SMS para envio do token de recarga <span class="required">&nbsp;*</span>
                  </div>
                  <div>
                    <input type="text" id="sms_ende" name="talao_sms_ende" class="form-control vENDE validate clearFieldjs" data-message="Informe o Número SMS para envio do token de recarga" value="" placeholder="Número SMS para envio" maxlength="20" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                  </div>
                </div>
              </div>
              
              <div class="campos ende" id="divAditionalFieldsEmail" style="display: none;margin-top: 10px">
                <div class="editArea editAreaDiv">
                  <div class="p16Bold editDiv" style="text-align: left;">
                    E-mail para envio do recibo de recarga
                  </div>
                  <div>
                    <input type="email" id="email" name="email" class="form-control cOpcionalENDE validate clearFieldjs" data-message="Informe um E-mail válido para envio do token de recarga" value="" placeholder="E-mail para envio" >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="saveCancelbts" style="padding-top: 25px;text-align: right;">
            <div style="display: inline-block;margin-bottom: 10px;">
              <input type="submit" class="btn btn-success" id="btSave" style="width: 210px; text-align: center;" value="SUBMETER PEDIDO">
            </div>
          </div>
        </div>
      </div>
      
    </form>
    <% if @partner_default.present? %>
      <script type="text/javascript">
        pgstrans.displayRecarga('<%= @partner_default.slug %>')
      </script>
    <% end %>

    <% if params[:recarga].present? %>
      <script type="text/javascript">
        pgstrans.displayRecarga('<%= params[:recarga] %>')

        <% if params[:recarga] == "ende" %>
          pgstrans.displayRecargaEnde();
          $("input[name=meter_number]").val("<%= params[:customer_number] %>");
          $("input[name=talao_sms_ende]").val("<%= params[:customer_number] %>");
        <% elsif params[:displayrecarga].present? %>
          pgstrans.displayRecargaDstv();
        <% end %>
      </script>
    <% end %>
  </div>
</div>