
<select class="rechargeType form-control validate v<%= partner.slug %>" name="<%= partner.slug.downcase %>_produto_id" data-message="Selecione um produto">
  <option value="">Escolher</option>
  <% produtos = Produto.produtos.where(partner_id: Partner.where(slug: partner.slug)).reorder("valor_compra_site asc") %>
  <% produtos.each do |produto| %>
    <option value="<%= produto.produto_id_parceiro || produto.id %>-<%= formata_numero_duas_casas(produto.valor_compra_site) %>">
      <%= produto.description %>
    </option>
  <% end %>
</select>