
<select class="rechargeType form-control validate v<%= partner.slug %>" name="<%= partner.slug.downcase %>_produto_id" data-message="Selecione um produto">
  <option value="">Escolher</option>
  <% produtos = Produto.where(partner_id: Partner.where(slug: partner.slug)).reorder("valor_minimo_venda_site asc") %>
  <% produtos.each do |produto| %>
    <option value="<%= produto.produto_id_parceiro || produto.id %>-<%= produto.valor_minimo_venda_site %>">
      <%= produto.produto_id_parceiro %> - <%= produto.description %> - <%= number_to_currency(produto.valor_minimo_venda_site, :unit => "KZ") %>
    </option>
  <% end %>
</select>