<div class="container scroltable">

  <h4>Perfis de Usuários</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <!--div style="margin-top:10px">
    <div style="margin-left:9px">Listar e alterar o controle de acesso para associar um registro a um novo grupo de usuário:</div>
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data de criação inicial</label>
            <div>
              <input type="date" name="data_inicio" value="<%= params[:data_inicio] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data de criação final</label>
            <div>
              <input type="date" name="data_fim" value="<%= params[:data_fim] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>        
        </div>
      </div>
    </form>
  </div-->  

  <div class="container">
    <div style="margin-left:9px">
      * Grupo de acesso ao qual está associado o registro
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">* Grupo</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>

      <tbody>
        <% @grupo_registros.each do |grupo_registro| %>
        <tr>
          <td>
            <%= grupo_registro.grupo.nome %><br><br>
            <%= link_to 'Apagar vinculo entre registro e grupo', "/controle-acessos/#{params[:modelo]}/#{params[:modelo_id]}/grupos/#{grupo_registro.id}/delete", method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger" %>
          </td>
          <td>
            <ul>
              <% grupo_registro.registro.attributes.each do |key, value| %>
                <% if value.present? %>
                  <li><b><%= key %>:</b> <%= value.to_s.truncate(50, separator: '...') %></li>
                <% end %>
              <% end %>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @grupo_registros, :container => false %>
    </div> 
    <br><hr>
    <%= link_to "/controle-acessos/#{params[:modelo]}/#{params[:modelo_id]}/grupos/novo", class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %> 

    <%= link_to "javascript:history.go(-1)", class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>