<div class="container scroltable">

  <h4>Perfis de Usuários</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Modelo</label>
            <div>
              <select name="modelo" id="modelo" class="form-control">
                <option value="">Todos</option>
                <% GrupoRegistro.where(grupo_id: @grupo.id).distinct.pluck(:modelo).each do |modelo| %>
                  <option value="<%= modelo %>" <% if params[:modelo] == modelo %> selected="selected" <% end %>>
                    <%= modelo %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
        <div class="form-group">
          <div style="float: right;margin-right:10px">
            <input type="submit" value="Buscar" class="btn btn-info">
            <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Voltar
            <% end %>        
          </div>
      </form>
    </div>
  </div>  

  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Modelo</th>
          <th scope="col">modelo_id</th>
          <th colspan="3">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @grupo_registros.each do |grupo_registro| %>
        <tr>
          <td><%= grupo_registro.id %></td>
          <td><%= grupo_registro.modelo %></td>
          <td><%= grupo_registro.modelo_id %></td>
          <td><%= link_to 'Apagar', "/grupos/#{@grupo.id}/controle-acessos/#{grupo_registro.id}", method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @grupo_registros, :container => false %>
    </div> 
    <br><hr>
    <%= link_to "/grupos", class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>