<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>Grupos de Usuários</h4>
  <hr>
  <p align="center">Utilize os parâmetros desta tela para definir os registos aos quais o usuário terá acesso. Considere a hirarquia das informações para fazer a composição dos grupos.</p>
  <hr>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Hierarquia do grupo</th>
          <th scope="col" style="width: 50%;">Descrição</th>
          <th colspan="3">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @grupos.each do |grupo| %>
        <tr>
          <td>
            <b><%= grupo.nome %></b>
            <% grupo.hierarquia.each_with_index do |g, i| %>
              <div><%= raw "#{(0..i).map{|i| "&nbsp; "}.join("")} - #{g.nome}" %></div>
            <% end %>
          </td>
          <td><%= grupo.descricao %></td>
          <td><%= link_to 'Console Acessos', "/grupos/#{grupo.id}/controle-acessos" %></td>
          <td><%= link_to 'Usuários', grupo_usuarios_path(grupo) %></td>
          <td><%= link_to 'Mostrar', grupo %></td>
          <td><%= link_to 'Editar', edit_grupo_path(grupo) %></td>
          <td><%= link_to 'Apagar', grupo, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @grupos, :container => false %>
    </div> 

    <%= link_to new_grupo_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>

  </div>
</div>