<div class="col-md-12">
	<div class="col-md-12">
		<h4>Novo acesso do usuário no grupo</h4>
	</div>
	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<div class="col-md-12" data-target="toggle.grid">
		<div class="card border-simpleform box-shadow mb-4">
			<div class="card-header text-simpleform d-flex align-items-center justify-content-between">
				<div>
					<strong>Cadastro de acesso ao usuário no grupo</strong><br />
				</div>
			</div>
		</div>
		<div class="card border-bootstrap box-shadow mb-4">
			<div class="card-header text-bootstrap align-items-center justify-content-between">
				<%= simple_form_for(@grupo_usuario, html: { class: "form-horizontal", role: "form" }) do |f| %>
					<% if @grupo_usuario.errors.any? %>
						<div class="alert alert-danger alert-dismissable" role="alert">
							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4><%= pluralize(@grupo_usuario.errors.count, "erros") %> no grupo, confira abaixo:</h4>
							<ul>
							<% @grupo_usuario.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
							</ul>
						</div>
					<% end %>
					<div class="form-input col-md-12">
            <%= f.label :usuario_id, "Buscar ou selecionar usuário" %>
            <div style="display:flex">
              <input type="text" id="usuario" class="form-control autocomplete" style="width:30%">
              <%= f.select :usuario_id, Usuario.com_acesso(usuario_logado).limit(300).collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control options-autocomplete", style: "width:70%" %>
            </div>
          </div>
			<div class="form-input col-md-12" style="margin-top:20px">
          	<%= f.check_box :escrita %>
						<%= f.label :escrita, "Se marcar esta opção irá inserir este grupo em todo registo que alterar ou incluir, ou seja, o prório usuário poderá ver as vendas dele e todas as outras pessoas do grupo também" %>
					</div>
					<div class="form-actions col-md-12">
						<hr>
						<%= f.button :button, class: 'btn btn-success', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
							<span class="glyphicon glyphicon-ok"></span>
							Confirmar
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<%= link_to "/grupos/#{@grupo.id}/usuarios", class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
			<span class="glyphicon glyphicon-arrow-left"></span>
			Voltar
		<% end %>
	</div>
</div>
