<div class="container">

  <h4>Detalhes do grupo</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>Hierarquia do grupo:</dt>
      <dd>
        <b><%= @grupo.nome %></b>
        <% @grupo.hierarquia.each_with_index do |grupo, i| %>
          <div><%= raw "#{(0..i).map{|i| "&nbsp; "}.join("")} - #{grupo.nome}" %></div>
        <% end %>
      </dd>
      <dt>Descrição:</dt>
      <dd><%= @grupo.descricao %></dd>
    </dl>

    <div class="page-header">
      <%= link_to grupos_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_grupo_path(@grupo), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>