<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>Usuários do Grupo</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Admin?</th>
          <th scope="col">Descrição Perfil Usuário</th>
          <th scope="col">Criado em</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @usuarios.each do |usuario| %>
          <tr>
            <td><%= usuario.id %></td>
            <td><%= usuario.nome %></td>
            <td><%= usuario.email %></td>
            <td><%= usuario.admin? ? "Sim": "Não" %></td>
            <td class="text-center">
              <a href="/perfil_usuarios/<%= usuario.perfil_usuario.id %>">
                <%= usuario.perfil_usuario.nome %>
              </a>
            </td>
            <td><%= usuario.created_at %></td>
            <td><%= link_to 'Apagar', "/grupos/#{@grupo.id}/usuarios/#{usuario.id}", method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @usuarios, :container => false %>
    </div> 

    <%= link_to "/grupos/1/usuarios/new", class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>     

    <%= link_to grupos_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>

  </div>
</div>