<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>Alterações de planos DSTV</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Dados</th>
          <th scope="col">Response body</th>
          <th scope="col">Request body</th>
        </tr>
      </thead>

      <tbody>
        <% @alteracoes_planos_dstvs.each do |alteracoes_planos_dstv| %>
        <tr>
          <td>
            <b>Customer number</b>: <%= alteracoes_planos_dstv.customer_number %><br>
            <b>Smartcard</b>: <%= alteracoes_planos_dstv.smartcard %><br>
            <b>Produto</b>: <%= alteracoes_planos_dstv.produto %><br>
            <b>Usuário</b>: <%= alteracoes_planos_dstv.usuario.nome rescue "" %><br>
            <b>Codigo</b>: <%= alteracoes_planos_dstv.codigo %><br>
            <b>Valor</b>: <%= alteracoes_planos_dstv.valor %><br>
            <b>Receipt number</b>: <%= alteracoes_planos_dstv.receipt_number %><br>
            <b>Transaction number</b>: <%= alteracoes_planos_dstv.transaction_number %><br>
            <b>Status</b>: <%= alteracoes_planos_dstv.status %><br>
            <b>Transaction date time</b>: <%= alteracoes_planos_dstv.transaction_date_time %><br>
            <b>Audit reference number</b>: <%= alteracoes_planos_dstv.audit_reference_number %><br>
          </td>
          <td></td>
          <td><%= alteracoes_planos_dstv.response_body %></td>
          <td><%= alteracoes_planos_dstv.request_body %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @alteracoes_planos_dstvs, :container => false %>
    </div> 

    <%= link_to 'Voltar', "/backoffice/index", class: 'btn btn-danger' %>
  </div>
</div>