<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>Alterações de Planos DSTV</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Customer Number/Número do Cliente</label>
            <div>
              <input type="text" name="customer_number" value="<%= params[:customer_number] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Smartcard/Device Number</label>
            <div>
              <input type="text" name="smartcard" value="<%= params[:smartcard] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Receipt Number DSTV</label>
            <div>
              <input type="text" name="receipt_number" value="<%= params[:receipt_number] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data da Transação</label>
            <div>
              <input type="date" name="transaction_date_time" value="<%= params[:transaction_date_time] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">

          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
          
        </div>
      </div>
    </form>
  </div>

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Dados</th>
          <th scope="col">Envio</th>
          <th scope="col">Resposta</th>
        </tr>
      </thead>

      <tbody>
        <% @alteracoes_planos_dstvs.each do |alteracoes_planos_dstv| %>
        <tr>
          <td>
            <b>Customer number</b>: <%= alteracoes_planos_dstv.customer_number %><br>
            <b>Smartcard</b>: <%= alteracoes_planos_dstv.smartcard %><br>
            <b>Produto</b>: <%= alteracoes_planos_dstv.produto %><br>
            <b>Usuário</b>: <%= alteracoes_planos_dstv.usuario.nome rescue "" %><br>
            <b>Codigo</b>: <%= alteracoes_planos_dstv.codigo %><br>
            <b>Valor</b>: <%= alteracoes_planos_dstv.valor %><br>
            <b>Receipt number</b>: <%= alteracoes_planos_dstv.receipt_number %><br>
            <b>Transaction number</b>: <%= alteracoes_planos_dstv.transaction_number %><br>
            <b>Status</b>: <%= alteracoes_planos_dstv.status %><br>
            <b>Transaction date time</b>: <%= alteracoes_planos_dstv.transaction_date_time %><br>
            <b>Audit reference number</b>: <%= alteracoes_planos_dstv.audit_reference_number %><br>
          </td>
          <td><%= alteracoes_planos_dstv.response_body %></td>
          <td><%= alteracoes_planos_dstv.request_body %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="apple_pagination">
    <%= will_paginate @alteracoes_planos_dstvs, :container => false %>
  </div> 

  <%= link_to 'Voltar', "/backoffice/index", class: 'btn btn-danger' %>
</div>