<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Mostrar Registo de Alterações de Planos DSTV</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12 scroltable">
    <dl class="dl-horizontal">
      <% if @adm.id == Usuario::ROOT %>
        <dt>Envio:</dt>
        <dd><%= @alteracoes_planos_dstv.request_send %></dd>
        <dt>Resposta:</dt>
        <dd><%= @alteracoes_planos_dstv.response_get %></dd>
      <% end %>
      <dt>Customer number:</dt>
      <dd><%= @alteracoes_planos_dstv.customer_number %></dd>
      <dt>Smartcard:</dt>
      <dd><%= @alteracoes_planos_dstv.smartcard %></dd>
      <dt>Produto:</dt>
      <dd><%= @alteracoes_planos_dstv.product_nome %></dd>
      <dt>Administrador:</dt>
      <dd><%= @alteracoes_planos_dstv.usuario.nome rescue "" %></dd>
      <dt>Produto:</dt>
      <dd><%= @alteracoes_planos_dstv.product_nome %></dd>
      <dt>Codigo:</dt>
      <dd><%= @alteracoes_planos_dstv.codigos_produto %></dd>
      <dt>Valor:</dt>
      <dd><%= @alteracoes_planos_dstv.value %></dd>
      <dt>Receipt number:</dt>
      <dd><%= @alteracoes_planos_dstv.receipt_number %></dd>
      <dt>Transaction number:</dt>
      <dd><%= @alteracoes_planos_dstv.transaction_number %></dd>
      <dt>Status:</dt>
      <dd><%= @alteracoes_planos_dstv.status %></dd>
      <dt>Transaction date time:</dt>
      <dd><%= @alteracoes_planos_dstv.transaction_date_time %></dd>
      <dt>Error message:</dt>
      <dd><%= @alteracoes_planos_dstv.error_message %></dd>
      <dt>Audit reference number:</dt>
      <dd><%= @alteracoes_planos_dstv.audit_reference_number %></dd>
    </dl>

    <div class="page-header">
      <%= link_to alteracoes_planos_dstvs_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_alteracoes_planos_dstv_path(@alteracoes_planos_dstv), class: 'btn btn-warning' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>