<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h4>Lista de Actividades Económicas</h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div>
    <form action="" method="get" id="formApuracao">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Descrição da Secção</label>
          <div>
            <input type="text" name="descricao_seccao" value="<%= params[:descricao_seccao] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Descrição da Divisão</label>
          <div>
            <input type="text" name="descricao_divisao" value="<%= params[:descricao_divisao] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Descrição do Grupo</label>
          <div>
            <input type="text" name="descricao_grupo" value="<%= params[:descricao_grupo] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <%= button_tag(type: 'submit', class: "btn btn-info", value: "Buscar", style: "width: 150px;text-align: center;margin-right: 0px;") do %>
            <span class="glyphicon glyphicon-search"></span> Buscar
          <% end %>
          <%= link_to backoffice_index_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
            <span class="glyphicon glyphicon-arrow-left"></span>
            Voltar
          <% end %>
          <%= link_to new_industry_path, class: 'btn btn-success', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
            <span class="glyphicon glyphicon-plus"></span>
            Novo Registo
          <% end %>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Descrição da Secção</th>
          <th scope="col">Descrição da Divisão</th>
          <th scope="col">Descrição do Grupo</th>
          <th colspan="3">Ações para o Registo</th>
        </tr>
      </thead>

      <tbody>
        <% @industries.each do |industry| %>
          <tr>
            <td style="width: 250px;"><%= industry.descricao_seccao %></td>
            <td style="width: 450px;"><%= industry.descricao_divisao %></td>
            <td style="width: 450px;"><%= industry.descricao_grupo %></td>
            <td><%= link_to 'Mostrar', industry %></td>
            <td><%= link_to 'Editar', edit_industry_path(industry) %></td>
            <td><%= link_to 'Apagar', industry, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @industries, :container => false %>
    </div> 

    <%= link_to new_industry_path, class: 'btn btn-success', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registo
    <% end %>    

    <%= link_to backoffice_index_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Voltar
    <% end %>

  </div>
</div>