<div class="container">

	<h4>Dados de Atividade Econômica</h4>

	<!-- Page Heading/Breadcrumbs -->
	<%= render :partial => 'shared/header_backoffice' %>
	<!-- /.row -->

	<div class="container">
		<p>
		  <strong>Descrição Secção:</strong>
		  <%= @industry.descricao_seccao %>
		</p>

		<p>
		  <strong>Descrição Divisão:</strong>
		  <%= @industry.descricao_divisao %>
		</p>

		<p>
		  <strong>Descrição Grupo:</strong>
		  <%= @industry.descricao_grupo %>
		</p>

	    <%= link_to edit_industry_path(@industry), class: 'btn btn-danger' do %>
	      	<span class="glyphicon glyphicon-edit"></span>
	      	Editar
	    <% end %>
	    
		<%= link_to industries_path, class: 'btn btn-danger' do %>
			<span class="glyphicon glyphicon-list-alt"></span>
			Voltar
		<% end %>
	</div>
</div>