<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Descrição Seccão:</strong>
	  <%= @industry.descricao_seccao %>
	</p>

	<p>
	  <strong>Descrição Divisão:</strong>
	  <%= @industry.descricao_divisao %>
	</p>

	<p>
	  <strong>Descrição Grupo:</strong>
	  <%= @industry.descricao_grupo %>
	</p>

	<%= link_to 'Editar', edit_industry_path(@industry) %> |
	<%= link_to 'Voltar', industries_path %>
</div>