<div class="col-md-12">
	<div class="col-md-12">
    <h3>Relatório de Desconto e Lucro</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12">
    <form action="" method="get" id="formApuracao">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Nome do Usuário / Permite saber o desempenho de venda por usuário</label>
          <div>
            <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>Data da Venda (INÍCIO)</label>
          <div>
            <input type="date" name="data_inicio" value="<%= params[:data_inicio] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>Data da Venda (FIM)</label>
          <div>
            <input type="date" name="data_fim" value="<%= params[:data_fim] %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label>Status do Usuário</label>
          <div>
            <select name="status" class="form-control">
              <option value="" selected="'selected'">Todos</option>
              <% StatusCliente.all.each do |status| %>
                <option value="<%= status.id %>" <% if params[:status].to_s == status.id.to_s %> selected="selected" <% end %>><%= status.nome %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
        </div>
      </div>
    </div>
  </form>
  </div>

  <div class="container scroltable" style="overflow:hidden">
    <div style="width: 100%">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ["Nome", "Valor", { role: "style" } ],
            <% Partner.all.each do |partner| %>
            ["<%= partner.name %>", 
            <%= partner.valor_total_vendido(params, usuario_logado).round(2) %>, 
            "<%= partner.cor %>"],
            <% end %>
          ]);

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                          { calc: "stringify",
                            sourceColumn: 1,
                            type: "string",
                            role: "annotation" },
                          2]);

          var options = {
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
          };
          var chart = new 
          google.visualization.ColumnChart(document.getElementById("columnchart_values"));
          chart.draw(view, options);
      }
      </script>
      <div id="columnchart_values" style="height: 600px"></div>
    </div>
  </div>

  <div class="scroltable">
    <h3>TOTAL DE VENDA POR PARCEIRO</h3>
    <hr>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Operadora</th>
          <% if usuario_logado.admin? || usuario_logado.operador? %>
            <th scope="col" style="text-align:right">%.Operadora</th>
            <th scope="col" style="text-align:right">%.Cliente</th>
            <th scope="col" style="text-align:right">%.Pagasó</th>
          <% end %>
          <th scope="col" style="text-align:right">Valor Vendido</th>
          <th scope="col" style="text-align:right">Lucro Cliente</th>
          <th scope="col" style="text-align:right">Custo</th>
          <% if usuario_logado.admin? || usuario_logado.operador? %>
            <th scope="col" style="text-align:right">Lucro Pagasó</th>
          <% end %>
        </tr>
      </thead>
      <%
        totais_valor_total_original = 0
        totais_desconto_total_aplicado = 0
        totais_valor_total_vendido = 0
        totais_lucro_pagaso = 0
      %>
      <tbody>
        <% @parceiros.each do |parceiro| %>
        <tr>
          <td><%= parceiro.name %></td>
          <%
            valor_total_original = parceiro.valor_total_original(params, usuario_logado)
            desconto_total_aplicado = parceiro.desconto_total_aplicado(params, usuario_logado)
            valor_total_vendido = parceiro.valor_total_vendido(params, usuario_logado)

            porcentagem_cliente = ((desconto_total_aplicado.to_f / valor_total_original.to_f) * 100)
            porcentagem_cliente = porcentagem_cliente.nan? ? 0 : porcentagem_cliente
            margem_pagaso = parceiro.margem_operadora.to_f - porcentagem_cliente.to_f
            lucro_pagaso = (valor_total_vendido * margem_pagaso.to_f) / 100
            
            totais_valor_total_original += valor_total_original
            totais_desconto_total_aplicado += desconto_total_aplicado
            totais_valor_total_vendido += valor_total_vendido
            totais_lucro_pagaso += lucro_pagaso
          %>
          <% if usuario_logado.admin? || usuario_logado.operador? %>
            <td align="right">
              <%= number_to_currency(parceiro.margem_operadora.to_f, :unit => "", precision: 1) %>%
            </td>
            <td align="right">
              <%= number_to_currency(porcentagem_cliente.to_f, :unit => "", precision: 1) %>%
            </td>
            <td align="right">
              <%= number_to_currency(margem_pagaso.to_f, :unit => "", precision: 1) %>%
            </td>
          <% end %>
          <td align="right">
              <!-- % Valor Vendido -->
              <%= number_to_currency(valor_total_original) %>
          </td>
          <td align="right">
            <!-- Lucro Cliente -->
            <%= number_to_currency(desconto_total_aplicado) %><br>
            <%= number_to_currency(porcentagem_cliente, :unit => "", precision: 1) %>%
          </td>
          <td align="right">
            <!-- Valor total vendido (Custo) -->
            <%= number_to_currency(valor_total_vendido) %>
          </td>
          <% if usuario_logado.admin? || usuario_logado.operador? %>
            <% if @adm.id == Usuario::ROOT %>
              <td align="right">
                <!-- Lucro Pagasó -->
                <%= number_to_currency(lucro_pagaso) %>
              </td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td align="right"><b>T o t a l</b></td>
          <% if usuario_logado.admin? || usuario_logado.operador? %>
            <td style="width:120px" align="right">
              <b><%= %></b>
            </td>
            <td style="width:120px" align="right">
              <b><%= %></b>
            </td> 
            <td style="width:120px" align="right">
              <b><%= %></b>
            </td>
          <% end %>
          <td style="width:210px" align="right">
            <b><%= number_to_currency(totais_valor_total_original) %></b>
          </td>    
          <td style="width:210px" align="right">
            <b>
              <%= number_to_currency(totais_desconto_total_aplicado) %>
            </b>
          </td>
          <td style="width:210px" align="right">
            <b><%= number_to_currency(totais_valor_total_vendido) %>
          </b>
          <% if usuario_logado.admin? || usuario_logado.operador? %>
            <% if @adm.id == Usuario::ROOT %>
              <td style="width:210px" align="right">
                <b><%= number_to_currency(totais_lucro_pagaso) %></b>
              </td>
              <td align="right"></td>
            <% end %>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>
</div>