<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>Sub-Distribuidores</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">BI</th>
        <th scope="col">Telefone</th>
        <th scope="col">Morada</th>
        <th scope="col">Municipio</th>
        <th scope="col">Provincia</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @sub_distribuidors.each do |sub_distribuidor| %>
        <tr>
          <td><%= sub_distribuidor.id %></td>
          <td scope="row"><%= sub_distribuidor.nome %></td>
          <td><%= sub_distribuidor.bi %></td>
          <td><%= sub_distribuidor.telefone %></td>
          <td><%= sub_distribuidor.morada %></td>
          <td><%= sub_distribuidor.municipio.nome %></td>
          <td><%= sub_distribuidor.provincia.nome %></td>
          <td><%= link_to 'Mostrar', sub_distribuidor %></td>
          <td><%= link_to 'Editar', edit_sub_distribuidor_path(sub_distribuidor) %></td>
          <td><%= link_to 'Apagar', sub_distribuidor, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo Registro', new_sub_distribuidor_path %> |
  <%= link_to 'Voltar', root_path %>
</div>