<div class="col-md-12">
  <div class="col-md-12">
    <h4>Detalhe de Distribuidor</h4>
  </div>
  <br><br>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <p>
      <strong>Nome:</strong>
      <%= @sub_distribuidor.nome %>
    </p>
    <p>
      <strong>BI:</strong>
      <%= @sub_distribuidor.bi %>
    </p>
    <p>
      <strong>Telefone:</strong>
      <%= @sub_distribuidor.telefone %>
    </p>
    <p>
      <strong>Morada:</strong>
      <%= @sub_distribuidor.morada %>
    </p>
    <p>
      <strong>Municipio:</strong>
      <%= @sub_distribuidor.municipio.nome %>
    </p>
    <p>
      <strong>Provincia:</strong>
      <%= @sub_distribuidor.provincia.nome %>
    </p>
    <p>
      <strong>Interface de Operação:</strong>
      <%= @sub_distribuidor.interface_operacao %>
    </p>
    <p>
      <strong>Site:</strong>
      <%= @sub_distribuidor.site %>
    </p>
    <p>
      <strong>Ramo de Negócio:</strong>
      <%= @sub_distribuidor.ramo_negociacao %>
    </p>
    
    <dt>Margem Máxima para Desconto:</dt>
    <dd>
      <% Partner.all.each do |partner| %>
        <div>
          <b>
            <%= partner.name %>: 
          </b>
          <% 
          porcentagem = partner.desconto
          rd = DistribuidorDesconto.where(sub_distribuidor_id: @sub_distribuidor.id, partner_id: partner.id, desconto_parceiro: DescontoParceiro.where(partner_id: partner.id)).first
          if rd.present?
            porcentagem = rd.desconto_parceiro.porcentagem
          end
          %>
          <%= porcentagem %>%
        </div>
      <% end %>
    </dd>
    
    <div class="page-header">
      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Voltar
      <% end %>
      <%= link_to edit_sub_distribuidor_path(@sub_distribuidor), class: 'btn btn-warning', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>