<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Topup Recargas</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Validation</th>
        <th scope="col">Header element</th>
        <th scope="col">Topup req header</th>
        <th scope="col">Request</th>
        <th scope="col">Header timestamp</th>
        <th scope="col">Header source system</th>
        <th scope="col">Credentials element</th>
        <th scope="col">Credentials user</th>
        <th scope="col">Credentials password</th>
        <th scope="col">Attributes list</th>
        <th scope="col">Attribute element</th>
        <th scope="col">Attribute name</th>
        <th scope="col">Attribute value</th>
        <th scope="col">Body element</th>
        <th scope="col">Body req element</th>
        <th scope="col">Body input message</th>
        <th scope="col">Body topup req body type</th>
        <th scope="col">Body topup req body amount</th>
        <th scope="col">Body topup req body msisdn</th>
        <th scope="col">Od header element</th>
        <th scope="col">Od topup resp input message</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @topup_recargas.each do |topup_recarga| %>
        <tr>
          <td><%= topup_recarga.validation_id %></td>
          <td><%= topup_recarga.header_element %></td>
          <td><%= topup_recarga.topup_req_header %></td>
          <td><%= topup_recarga.request_id %></td>
          <td><%= topup_recarga.header_timestamp %></td>
          <td><%= topup_recarga.header_source_system %></td>
          <td><%= topup_recarga.credentials_element %></td>
          <td><%= topup_recarga.credentials_user %></td>
          <td><%= topup_recarga.credentials_password %></td>
          <td><%= topup_recarga.attributes_list %></td>
          <td><%= topup_recarga.attribute_element %></td>
          <td><%= topup_recarga.attribute_name %></td>
          <td><%= topup_recarga.attribute_value %></td>
          <td><%= topup_recarga.body_element %></td>
          <td><%= topup_recarga.body_req_element %></td>
          <td><%= topup_recarga.body_input_message %></td>
          <td><%= topup_recarga.body_topup_req_body_type %></td>
          <td><%= topup_recarga.body_topup_req_body_amount %></td>
          <td><%= topup_recarga.body_topup_req_body_msisdn %></td>
          <td><%= topup_recarga.od_header_element %></td>
          <td><%= topup_recarga.od_topup_resp_input_message %></td>
          <td><%= link_to 'Mostrar', topup_recarga %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Voltar', root_path %>

</div>