<div class="container">

  <p>
    <strong>Validation:</strong>
    <%= @topup_recarga.validation_id %>
  </p>

  <p>
    <strong>Header element:</strong>
    <%= @topup_recarga.header_element %>
  </p>

  <p>
    <strong>Topup req header:</strong>
    <%= @topup_recarga.topup_req_header %>
  </p>

  <p>
    <strong>Request:</strong>
    <%= @topup_recarga.request_id %>
  </p>

  <p>
    <strong>Header timestamp:</strong>
    <%= @topup_recarga.header_timestamp %>
  </p>

  <p>
    <strong>Header source system:</strong>
    <%= @topup_recarga.header_source_system %>
  </p>

  <p>
    <strong>Credentials element:</strong>
    <%= @topup_recarga.credentials_element %>
  </p>

  <p>
    <strong>Credentials user:</strong>
    <%= @topup_recarga.credentials_user %>
  </p>

  <p>
    <strong>Credentials password:</strong>
    <%= @topup_recarga.credentials_password %>
  </p>

  <p>
    <strong>Attributes list:</strong>
    <%= @topup_recarga.attributes_list %>
  </p>

  <p>
    <strong>Attribute element:</strong>
    <%= @topup_recarga.attribute_element %>
  </p>

  <p>
    <strong>Attribute name:</strong>
    <%= @topup_recarga.attribute_name %>
  </p>

  <p>
    <strong>Attribute value:</strong>
    <%= @topup_recarga.attribute_value %>
  </p>

  <p>
    <strong>Body element:</strong>
    <%= @topup_recarga.body_element %>
  </p>

  <p>
    <strong>Body req element:</strong>
    <%= @topup_recarga.body_req_element %>
  </p>

  <p>
    <strong>Body input message:</strong>
    <%= @topup_recarga.body_input_message %>
  </p>

  <p>
    <strong>Body topup req body type:</strong>
    <%= @topup_recarga.body_topup_req_body_type %>
  </p>

  <p>
    <strong>Body topup req body amount:</strong>
    <%= @topup_recarga.body_topup_req_body_amount %>
  </p>

  <p>
    <strong>Body topup req body msisdn:</strong>
    <%= @topup_recarga.body_topup_req_body_msisdn %>
  </p>

  <p>
    <strong>Od header element:</strong>
    <%= @topup_recarga.od_header_element %>
  </p>

  <p>
    <strong>Od topup resp input message:</strong>
    <%= @topup_recarga.od_topup_resp_input_message %>
  </p>

  <%= link_to 'Editar', edit_topup_recarga_path(@topup_recarga) %> |
  <%= link_to 'Voltar', topup_recargas_path %>

</div>