<div class="container scroltable">
  <div class="container">
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px; font-weight: bold; text-align: center">
          <ul style="list-style-type: none;">
            <img style="width: 24px;" src="https://www.pagaso.co.ao/<%= asset_path('favicon.png') %>">
            <li>Recibo de Venda</li>
            <li>AFRICELL</li>
          </ul>
        </div>
        <div class="col-md-12" style="text-align: center">      
          <hr>
          <b>Nome do Agente</b>: <%= params["customer_number"] %><br>
          <b>ID do Agente</b>: <%= params["customer_number"] %><br>
          <b>Data e Hora</b>: <%= params["customer_number"] %><br>
          <hr>
          <strong>RECARGA ELECTRÓNICA AFRICELL<strong>
          <b>Nr do Telemóvel: <%= params[:target_msisdn] %><br>
          <b>Produto: <%= params["customer_number"] %><br>
          <b>Valor: <%= params["customer_number"] %><br>
          <b>ID Transação: <%= params["customer_number"] %><br>
          <hr>
          Pagasó - Sistemas de Pagamento
        </div>
      </div>
    </div>
  </div>
</div>