<div class="container scroltable">
  <div class="container">
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="text-align: center">
          <img style="width: 24px;" src="https://www.pagaso.co.ao/<%= asset_path('favicon.png') %>"><br>
          Recibo de Venda<br>
          AFRICELL<br>
          <hr>
          <% result = JSON.parse(@venda.response_get) rescue nil %>
          <% if result.present? %>
            <b>Nome do Agente</b>: <%= @venda.usuario.nome %><br>
            <b>ID do Agente</b>: <%= @venda.usuario.login %><br>
            <b>Data e Hora</b>: <%= @venda.created_at %><br>
            <hr>
            <strong>RECARGA ELECTRÓNICA AFRICELL</strong><br>
            <b>Nr do Telemóvel: <%= @venda.customer_number %><br>
            <b>Produto: <%= @venda.product_id %><br>
            <b>Produto: <%= @venda.product_nome %><br>
            <b>Valor: <%= @venda.valor_original %><br>
            <b>ID Transação: <%= @venda.audit_reference_number %><br>
          <% end %>
          <hr>
          Pagasó - Sistemas de Pagamentos
        </div>
      </div>
    </div>
  </div>
</div>