<div class="container scroltable">
  <div class="container">
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="text-align: center">
          <img style="width: 24px;" src="https://www.pagaso.co.ao/<%= asset_path('favicon.png') %>"><br>
          Recibo de Venda<br>
          AFRICELL<br>
          <hr>
          <% result = JSON.parse(@venda.response_get) rescue nil %>
          <% if result.present? && @venda.status == "200" %>
            Agente: <b><%= @venda.usuario.login %></b>/<b><%= @venda.usuario.nome %></b><br>
            Data e Hora TRN: <b><%= @venda.created_at.strftime("%d/%m/%Y %H:%M:%S") %></b><br>
            <hr>
            <strong>RECARGA ELECTRÓNICA AFRICELL</strong><br>
            Nr do Telemóvel: <b><%= @venda.customer_number %></b><br>
            Produto: <b><%= @venda.product_id %></b>/<b><%= @venda.product_nome %></b><br>
            Valor: <b><%= number_to_currency(@venda.valor_original) %></b><br>
            ID Transação: <b><%= @venda.request_id %></b><br>
            Situação: <b><%= @venda.status_desc.error_description_pt %></b><br>
            <!--gravar TransactionReference da Africell no campo audit_reference_number da tabela de vendas -->
          <% else %>
            Venda não localizada ou não concluída com sucesso!
          <% end %>
          <hr>
          <b>Pagasó - Sistemas de Pagamentos</b>
        </div>
      </div>
    </div>
  </div>
</div>