<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>ErroAmigavel</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
                    <th scope="col">De</th>
                    <th scope="col">Para</th>
                    <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @erro_amigavels.each do |erro_amigavel| %>
        <tr>
                    <td><%= erro_amigavel.de %></td>
                    <td><%= erro_amigavel.para %></td>
                    <td><%= link_to 'Mostrar', erro_amigavel %></td>
          <td><%= link_to 'Editar', edit_erro_amigavel_path(erro_amigavel) %></td>
          <td><%= link_to 'Apagar', erro_amigavel, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Novo Registo", new_erro_amigavel_path, class: 'btn btn-danger' %>
    <%= link_to 'Voltar', root_path, class: 'btn btn-danger' %>
  </div>
</div>