<div class="col-md-12">
  <div class="col-md-12">
    <h4>Erro Amigável</h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>De:</dt>
      <dd><%= @erro_amigavel.de %></dd>
      <dt>Para:</dt>
      <dd><%= @erro_amigavel.para %></dd>
    </dl>

    <div class="page-header">
      <%= link_to erro_amigavels_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Voltar
      <% end %>
      <%= link_to edit_erro_amigavel_path(@erro_amigavel), class: 'btn btn-warning' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>