<div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold">
          SUA REFERÊNCIA PARA PAGAMENTO
        </div>
        <div class="card-body">
          <% if usuario_logado.admin? || usuario_logado.operador? %>
              <div><b>Login do Usuário:</b> <%= usuario_logado.login %></div><br>
              <div><b>Nome do Usuário :</b> <%= usuario_logado.nome.camelize rescue usuario_logado.nome.camelize %></div><br>
          <% end %>

          <% if Rails.env == "development" && Partner.proxypay.present? %>
            <% entidade = @parametro.get.entity_id_desenvolvimento %>
          <% else %>
            <% entidade = @parametro.get.entity_id_producao %>
          <% end %>
          
          <div><b>Entidade :</b> "#{entidade}"</div><br>
          <div><b>Referência :</b> 
          <% if usuario_logado.nro_pagamento_referencia.blank? %>
            Definir
          <% else %>
            <%= usuario_logado.nro_pagamento_referencia %></b> 
          <% end %>
          </div><br>

            <div style="display: inline-block;margin-bottom: 10px;">
              <%= link_to root_path, class: 'btn btn-space btn-primary', style: "width: 150px;text-align: center;margin-left: 0px;" do %>
                <span class="glyphicon glyphicon-arrow-left"></span>
                Voltar
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
