<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="col-md-12 card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@sms_historico_envio, html: { class: "form-vertical", role: "form" }) do |f| %>
        <% if @sms_historico_envio.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@sms_historico_envio.errors.count, "erros") %> no sms_historico_envio, confira abaixo:</h4>

            <ul>
            <% @sms_historico_envio.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-3">
          <%= f.input :numero, :label => "Número Telemóvel", placeholder: "Número de envio do SMS" %>
        </div>
        <div class="form-input col-sm-3">
          <%= f.input :venda_id, :label => "ID da Venda", placeholder: "ID da Venda" %>
        </div>
        <div class="form-input col-sm-offser-1 col-sm-6">
          <%= f.input :usuario, :label => "Usuário", placeholder: "Usuário" %>
        </div>
        <div class="form-input col-sm-12">
          <%= f.input :conteudo, :label => "Texto enviado na mensagem SMS", placeholder: "Texto enviado na mensagem SMS" %>
        </div>
        <div class="form-input col-sm-12">
          Se marcado, indica sucesso no envio <%= f.check_box :sucesso, :label => "Indica sucesso no envio" %>
          <hr>
        </div>
        <div class="form-actions col-sm-12">
        <%= f.button :button, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-ok"></span>
          Confirmar
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
