<div class="col-md-12">
	<div class="col-md-12">
  		<h3>Detalhe de Histórico de Envio SMS</h3>
	</div>
  	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row --> 

    <div class="col-md-12">
      <dl class="dl-vertical">
        <dt>Número do Telemóvel:</dt>
        <dd><%= @sms_historico_envio.numero %></dd>
        <dt>ID da Venda:</dt>
        <dd><%= @sms_historico_envio.venda_id %></dd>
        <dt>Usuário que realizou a venda:</dt>
        <dd><%= @sms_historico_envio.usuario.nome %></dd>
        <dt>Texto da mensagem SMS:</dt>
        <dd><%= @sms_historico_envio.conteudo %></dd>
        <dt>Houve sucesso na geração da mensagem?</dt>
        <dd><%= @sms_historico_envio.sucesso %></dd>
      </dl>

      <div class="page-header">
        <%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Voltar
        <% end %>
        <%= link_to edit_sms_historico_envio_path(@sms_historico_envio), class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Editar
        <% end %>
      </div>
  </div>
</div>