
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Pagasó Meios de Pagamentos de Angola">
  <meta name="author" content="Rosi Volgarin www.rosi.com.br based on Mark Otto, Jacob Thornton and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>Pagasó · Facilita Bué . Angola</title>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="hd7Pz5Mv/eQVEjt6Irp7WraOSJXFd9t5GM+YRv0fHqylRdWL0kwEnpKms7x+fqBhpr8CW9LL9wQBFLYocVHdnw==" />

  <%= csrf_meta_tags %>

  <!-- Bootstrap CSS -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>

  <!-- Estilos customizados para esse template -->
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Playfair+Display:700,900' %>

  <%= favicon_link_tag 'favicon.ico', rel: 'icon', type: 'image/png' %>
  <%= favicon_link_tag 'favicon.png', type: 'image/png', sizes: '24x24' %>
  <%= favicon_link_tag 'apple-touch-icon.png', type: 'image/png', sizes: '180x180', rel: 'apple-touch-icon' %>
  <%= favicon_link_tag 'favicon-32x32.png', type: 'image/png', sizes: '32x32', rel: 'icon' %>
  <%= favicon_link_tag 'favicon-16x16.png', type: 'image/png', sizes: '16x16', rel: 'icon' %>
  <%= favicon_link_tag 'site.webmanifest', sizes: '16x16', rel: 'manifest' %>

</head>
<body>
  <div class="container-fluid">
    <div class="col-md-12 panel panel-default">
      <div class="panel-heading">
        <div class="panel-body">
          <div class="col-md-3">
              <%= image_tag('/static/MascotePagaso.png', data: { image: '/static/MascotePagaso.png' }, class: 'img-responsive') %>
          </div>
          <div class="col-md-8">
              <h1>
                Que pena! 
                <br><br>
                Ocorreu um erro no sistema!
                <br><br>
                Vamos <%= link_to 'recomeçar', '/' %> ?
              </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
