<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold">
          Confirmação de Cliente ENDE
        </div>
        <% if @info.blank? %>
          <div class="card-body">
            <form action="/ende/confirmar-cliente" method="get">

              <div class="col-md-12">
                <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                  <h3>Informe o</h3>
                  <div style="margin-left: 4%;">Número do Cliente</div>
                  <input type="text" class="form-control" value="<%= params[:customer_number] %>" name="customer_number" placeholder="Número do Cliente" style="margin-left: 4%;max-width: 300px;">
                </div>
                <div class="saveCancelbts" style="padding-top: 25px;padding-bottom: 25px;text-align: right;">
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <input type="submit" class="btn btn-success" style="width: 150px; text-align: center;" value="VALIDAR">
                  </div>
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <%= link_to root_path, class: 'btn btn-space btn-danger', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
                      <span class="glyphicon glyphicon-list-alt"></span>
                      VOLTAR
                    <% end %>
                  </div>
                </div>
              </div>
            </form>
          </div>
        <% else %>
          <div class="col-md-12">
                <div style="font-weight: bold;font-size: 15px;"> Número do Medidor: <%= params[:customer_number] %> </div>
                <% end %>
            </div>
            <% if @info.present? %>
              <% if @info["erro"].blank? %>
                <div class="col-md-12">
                  <div style="font-weight: bold;font-size: 15px;"> DADOS DO CLIENTE </div>
                      <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
                        <li><b>Nome do Cliente:</b> <%= @info["name"] %></li>
                        <li><b>Morada:</b> <%= @info["address"] %></li>
                        <li><b>Contacto:</b> <%= @info["contactNo"] %></li>
                        <li><b>Número da Conta:</b> <%= @info["accNo"] %></li>
                        <li><b>Utilitário:</b> <%= @info["utilityType"] %></li>
                        <li><b>Pode vender?</b> <%= @info["canVend"] ? "Sim" : "Não" %></li>
                        <li><b>Número do Medidor:</b> <%= @info["msno"] %></li>
                        <li><b>Data:</b> <%= @info["respDateTime"].strftime("%d/%m/%Y %H:%M:%S") %></li>
                      </ul>
                  </div>
                  <div class="col-md-12" >
                    <br>
                    <div style="font-weight: bold;font-size: 15px;">DADOS DA CONTA</div>
                      <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
                        <li>Cliente com dédito ou taxas de serviço pendente</li>
                        <% if @info.present? && (@info["minVendAmt"]["value"].to_i) > 0 %>
                          <li><b>Valor: </b><%= number_to_currency(@info["minVendAmt"]["value"], :unit => "") %> - <%= @info["minVendAmt"]["symbol"] %></li>
                          <li><hr></li>
                          <li><b>Valor Máximo de Compra: </b><%= number_to_currency(@info["maxVendAmt"]["value"], :unit => "") %> - <%= @info["maxVendAmt"]["symbol"] %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="col-md-12" >
                  <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
                    <li>Medidor não encontrado <b>(<%= @info["erro"] %>)</b></li>
                    <li>Data envio: <b><%= @info["respDateTime"].strftime("%d/%m/%Y %H:%M:%S") %></b></li>
                  </ul>
                </div>
              <% end %>
              <% if @adm.id == Usuario::ROOT %>
                <br>
                <%= @info %>
              <% end %>
            <% end %>
          </div>
          <br>
          <div style="display: inline-block;margin-bottom: 10px;width: 100%;margin-bottom: 5px;">
            <% if @info.present? && @info["canVend"] %>
                <%= link_to "/?recarga=ende&customer_number=#{params[:customer_number]}", class: 'btn btn-success', style: "width: 100%;text-align: center;" do %>
                  <span class="glyphicon glyphicon-list-alt"></span>
                  Venda de Crédito
                <% end %>
            <% end %>
            <%= link_to root_path, class: 'btn btn-danger', style: "width: 100%;text-align: center;" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Voltar
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
