<div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12"> 
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold">
          Last Advice - ENDE
        </div>
        <% if @xml_recebido.blank? %>
          <div class="card-body">
            <form action="/ende/last-advice" method="get">

              <div class="col-md-12">
                <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                  <h3>Informe</h3>
                  <div style="margin-left: 4%;">Data e Hora da Venda</div>
                  <input type="text" class="form-control" value="<%= params[:date_time] %>" name="date_time" placeholder="Data da Venda" style="margin-left: 4%;max-width: 300px;">
                  <br>
                  <div style="margin-left: 4%;">Número Único de Identificação</div>
                  <input type="text" class="form-control" value="<%= params[:unique_number] %>" name="unique_number" placeholder="Número Único de Identificação" style="margin-left: 4%;max-width: 300px;">
                </div>
                <div class="saveCancelbts" style="padding-top: 25px;padding-bottom: 25px;text-align: right;">
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <input type="submit" class="btn btn-success" style="width: 150px; text-align: center;" value="Validar">
                  </div>
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <%= link_to root_path, class: 'btn btn-space btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
                      <span class="glyphicon glyphicon-list-alt"></span>
                      Voltar
                    <% end %>
                  </div>
                </div>
              </div>
            </form>
          </div>
        <% elsif @xml_recebido.present? %>
          <% @info.each do |info| %>
            <%= render "/ende/venda_recibo", info: info, title: "Last Advice", venda: nil %>
            <hr>
          <% end %>
          
          <% if @adm.id == Usuario::ROOT %>
            <%= @xml_enviado %>
            <br>
            <br>
            <br>
            <%= @xml_recebido %>
          <% end %>
          <br>
          <br>
          <div style="display: inline-block;margin-bottom: 10px;width: 100%;margin-bottom: 5px;">
            <%= link_to root_path, class: 'btn btn-primary', style: "width: 100%;text-align: center;" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Voltar
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
