<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold">
          Simulação de Venda ENDE - Essa transação simulação uma venda, mas não gera o token de recarga. Caso o usuário opte pela compra, utilize a opção Venda de Crédito do Menu.
        </div>
        <% if @info.blank? %>
          <div class="card-body">
            <form action="/ende/venda-teste" method="get">
              <div class="col-md-12">
                <% partner = Partner.ende %>
                <div class="campos recarga">
                  <div class="editArea editAreaDiv" style="margin-bottom: 10px;">
                    <div class="p16Bold editDiv" style="text-align: left;">
                      Recarga<span class="required">&nbsp;*</span>
                    </div>
                    <div>
                      <%= render "/shared/select_default", partner: partner %>
                    </div>
                  </div>
                </div>
                <div class="campos ende" id="divAditionalFieldsENDE">
                  <div class="editArea editAreaDiv">
                    <div class="p16Bold editDiv" style="text-align: left;">
                      Número do Medidor<span class="required">&nbsp;*</span>
                    </div>
                    <div>
                      <input type="text" name="meter_number" value="<%= params[:meter_number] %>" class="form-control validate clearFieldjs" data-message="Informe o número" placeholder="Digite ..." maxlength="20" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                    </div>
                  </div>
                </div>
                <br>
                <div class="campos ende" id="divAditionalFieldsENDE">
                  <div class="editArea editAreaDiv">
                    <div class="p16Bold editDiv" style="text-align: left;">
                      Valor<span class="required">&nbsp;*</span>
                    </div>
                    <div>
                      <input type="number" step="0.01" id="rechargeValue" class="form-control clearFieldjs" value="<%= params[:valor] %>" name="valor" <% if params[:valor_customizado].blank? %> readonly="" <% end %> placeholder="Valor...">
                      <input type="hidden" id="valor_customizado" value="<%= params[:valor_customizado] %>" name="valor_customizado">
                    </div>
                  </div>
                </div>

                <div class="saveCancelbts" style="padding-top: 25px;padding-bottom: 25px;text-align: right;">
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <input type="submit" class="btn btn-success" style="width: 150px; text-align: center;" value="SUBMETER PEDIDO">
                  </div>
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <%= link_to root_path, class: 'btn btn-space btn-danger', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
                      <span class="glyphicon glyphicon-list-alt"></span>
                      VOLTAR
                    <% end %>
                  </div>
                </div>
              </div>
            </form>
          </div>
        <% elsif @info.present? && @info["erro"].present? %>
          <h2><%= @info["erro"] %></h2>
          <h3><%= @info["respDateTime"].to_datetime.strftime("%d/%m/%Y %H:%M:%S") rescue "" %></h3>
        <% elsif @info.present? %>
          <div class="col-md-12">
            <h2>DADOS DO CLIENTE</h2>
            <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
              <li><b>ID da Transação:</b> <%= @info["unique_number"] %></li>
              <li><b>Cliente:</b> <%= @info["name"] %></li>
              <li><b>Endereço de Cliente:</b> <%= @info["address"] %></li>
              <li><b>Contacto:</b> <%= @info["contactNo"] %></li>
              <li><b>N. de Conta:</b> <%= @info["accNo"] %></li>
              <li><b>N. de Medidor:</b> <%= @info["msno"] %></li>
              <li><b>Dias desde a última compra:</b> <%= @info["daysLastPurchase"] %></li>
              <li><b>LocRef erf:</b> <%= @info["locRef"] %></li>
              <li><b>Utilitário:</b> <%= @info["utilityType"] %></li>
              <li><b>Tarifa:</b> <%= @info["tariff"] %></li>
              <li><b>Pode vender?</b> <%= @info["canVend"] ? "Sim" : "Não" %></li>
              <li><b>Data:</b> <%= @info["respDateTime"].strftime("%d/%m/%Y %H:%M:%S") rescue "" %></li>
            </ul>
            <br>
            <h2>DADOS DO RECIBO</h2>
            <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
              <li>
                <b>Número de Recibo:</b> <%= @info["receiptNo"] %>
              </li>
            </ul>
            <br>
            <h2>Datalhes de Medidor</h2>
            <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
              <li><b>krn:</b> <%= @info["krn"] %></li>
              <li><b>msno:</b> <%= @info["msno"] %></li>
              <li><b>ti:</b> <%= @info["ti"] %></li>
              <li><b>sgc:</b> <%= @info["sgc"] %></li>
              <li><b>Unidade de Medida:</b> <%= @info["unitOfMeasurement"] %></li>
              <li><b>Tipo de Medidor tt:</b> <%= @info["tt"] %></li>
            </ul>
            <br>
            <h2>Repartição Tarifária</h2>
            <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
              <% if @info["tariffBreakdown"].present? %>
                <li>
                  <b>Tipos de Recurso:</b> 
                  <ul>
                    <% @info["tariffBreakdown"].each do |tariff_breakdown| %>
                      <li>
                        <b><%= tariff_breakdown["name"].capitalize %></b> - 
                        <% if tariff_breakdown["value"]["siUnit"].present? %>
                          <%= tariff_breakdown["value"]["value"] %> <%= tariff_breakdown["value"]["siUnit"] %>
                        <% end %>
                        <% if tariff_breakdown["value"]["symbol"].present? %>
                          <%= number_to_currency(tariff_breakdown["value"]["value"], :precision => 2, :unit => akz_parse(tariff_breakdown["value"]["symbol"])) %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
              
              <% if @info["ServiceChrgTx"].present? %>
                <li>
                  <b>ServiceChrgTx:</b> 
                  <ul>
                    <li>
                      <% if @info["ServiceChrgTx"]["value"].present? %>
                        <b>Value:</b> <%= number_to_currency(@info["ServiceChrgTx"]["value"], :precision => 2, :unit => akz_parse(@info["ServiceChrgTx"]["symbol"])) %>
                      <% end %>
                      <% if @info["ServiceChrgTx"]["accDesc"].present? %>
                        <br><b>AccDesc:</b> <%= @info["ServiceChrgTx"]["accDesc"] %>
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% end %>

              <% if @info["tenderAmt"].present? %>
                <li>
                  <% if @info["tenderAmt"]["value"].present? %>
                    <b>TenderAmt:</b> <%= number_to_currency(@info["tenderAmt"]["value"], :precision => 2, :unit => akz_parse(@info["tenderAmt"]["symbol"])) %>
                  <% end %>
                </li>
              <% end %>

              <% if @info["change"].present? %>
                <li>
                  <% if @info["change"]["value"].present? %>
                    <b>Change:</b> <%=number_to_currency(@info["change"]["value"], :precision => 2, :unit => akz_parse(@info["change"]["symbol"])) %>
                  <% end %>
                </li>
              <% end %>

              </li>
            </ul>
            <br>
            <% if @adm.id == Usuario::ROOT %>
              <%= @xml %>
            <% end %>
            <br>
          </div>
          <br>
          <br>
          <div style="display: inline-block;margin-bottom: 10px;width: 100%;margin-bottom: 5px;">
            <%= link_to root_path, class: 'btn btn-danger', style: "width: 100%;text-align: center;" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Voltar
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
