<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold; text-align: center">
          <h3>ENDE</h3>
          <h4>Recibo Duplicado</h4>
          <h5>Empresa Nacional de</h5>
          <h5>Distribuição de Electricidade</h5>
        </div>
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold; text-align: left">
          <h5>Rua Cónego Manual das Neves, 234</h5>
          <h5>Caixa Postal: 43</h5>
          <h5>NIF: 5410778170</h5>
          <br>
          <h5>EM CASO DE RECLAMAÇÕES:</h5>
          <h5>TEL: 222 642700 - CALL CENTER</h5>
        </div>
        <b>Data:</b> <%= @info["respDateTime"].strftime("%d/%m/%Y %H:%M:%S") rescue "" %></li>
        <div class="col-md-12">
            <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
              <li><b>ID da Transação:</b> <%= @info["unique_number"] %></li>
              <li><b>Cliente:</b> <%= @info["name"] %></li>
              <li><b>NIF:</b> <%= @info["taxReferenceNo"] %></li>
              <li><b>Endereço de Cliente:</b> <%= @info["address"] %></li>
              <hr>
              <li><b>N. de Conta:</b> <%= @info["accNo"] %></li>
              <li><b>N. de Contador:</b> <%= @info["msno"] %></li>
              <li><b>Tarifa:</b> <%= @info["tariff"] %></li>
              <li><b>Endereço de Local de Consumo:</b> <%= @info["address"] @info["locRef"]%></li>
            </ul>
            <hr>
            <h2>Inserir este código no Contador</h2>
            <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
              <li>
                <h3><%= @info["stsCipher"] %></h3>
              </li>
            </ul>
            <hr>
            <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">

              <tx xsi:type="DebtRecoveryTx" receiptNo="331">                    
                <amt value="10" symbol="AOA" />
                <accDesc>Arrears Debt Collection (Subaccount)</accDesc>
                <accNo>ARREARACC011_2</accNo>
                <balance value="9970.00000000" symbol="AOA" />
              </tx>

              Débitos
              Arrears Debt Collection (Subaccount)
              ARREARACC011_2            Akz 10
              Balance                   Akz 9970.00

              <li><b>Energia:</b> <%= <q1:units value="4.6" siUnit="kWh" /> <q1:resource xsi:type="q1:Electricity" /> %>
              
              <li><b>Preço Unitário:</b> <%= @info["msno"] %></li> <amt value="87.72" symbol="AOA" />

                  <q2:steps>
                    <q2:Step>
                      <q2:units value="4.6" siUnit="kWh" />      4.6 kWh @ 6.41 Akz
                      <q2:rate value="6.41000" symbol="AOA" />
                    </q2:Step>
                    <q2:Step>
                      <q2:units value="0" siUnit="kWh" />         0 kWh @ 10.89 Akz
                      <q2:rate value="10.89000" symbol="AOA" />
                    </q2:Step>
                  </q2:steps>

              <li><b>Custo de Energia:</b> <%= @info<CreditVendTx amt value="28.95" symbol="AOA" /> %></li>
              
              <tx xsi:type="ServiceChrgTx" receiptNo="331">
                <amt value="Tariff Charge" symbol="AOA" />
                <accDesc>Tariff Charge</accDesc>
                <accNo>TARCHG</accNo>
              </tx>

              Tariff Charge       50 Akz

              <tx xsi:type="ServiceChrgTx">
                <amt value="11.05" symbol="AOA" />
                <accDesc>VAT</accDesc>
              </tx>
              <li><b>IVA:</b> <%= @info[" "] %></li>

              IVA             11.05 Akz

              <hr>
              <li><b>T o t a l :</b> <%= @info["tenderAmt"] %></li> 

              <tenderAmt value="100" symbol="AOA" />


              <hr>
              <b>Número de Recibo:</b> <%= @info["receiptNo"] %>
              <hr>
              <b>Operador:</b> "pagaso_icone.png" + "PAGASO"
              <b>ID:</b> Login usuario
              <li><b>SGC/Indice de Tarifa:</b> <%= @info["sgc"]/@info["ti"] %></li>
              <hr>
            </ul>            

                        <br>
            <% if @adm.id == Usuario::ROOT %>
              <%= @xml %>
            <% end %>
            <br>
          </div>
          <br>
          <br>
          <div style="display: inline-block;margin-bottom: 10px;width: 100%;margin-bottom: 5px;">
            <%= link_to root_path, class: 'btn btn-danger', style: "width: 100%;text-align: center;" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Voltar
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
