<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold">
          Venda de Teste ENDE
        </div>
        <% if @info.blank? %>
          <div class="card-body">
            <form action="/ende/venda-teste" method="get">
              <div class="col-md-12">
                <% partner = Partner.ende %>
                <div class="campos">
                  <div class="editArea editAreaDiv" style="margin-bottom: 10px;">
                    <div class="p16Bold editDiv" style="text-align: left;">
                      Recarga<span class="required">&nbsp;*</span>
                    </div>
                    <div>
                      <%= render "/shared/select_default", partner: partner %>
                    </div>
                  </div>
                </div>
                <div class="campos ende" id="divAditionalFieldsENDE">
                  <div class="editArea editAreaDiv">
                    <div class="p16Bold editDiv" style="text-align: left;">
                      Número do Contador ou Medidor<span class="required">&nbsp;*</span>
                    </div>
                    <div>
                      <input type="text" name="ende_medidor" class="form-control validate clearFieldjs" data-message="Informe o número" placeholder="Digite ..." maxlength="20" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                    </div>
                  </div>
                </div>

                <div class="saveCancelbts" style="padding-top: 25px;padding-bottom: 25px;text-align: right;">
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <input type="submit" class="btn btn-success" style="width: 150px; text-align: center;" value="SUBMETER PEDIDO">
                  </div>
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <%= link_to root_path, class: 'btn btn-space btn-danger', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
                      <span class="glyphicon glyphicon-list-alt"></span>
                      VOLTAR
                    <% end %>
                  </div>
                </div>
              </div>
            </form>
          </div>
        <% elsif @info.present? %>
          <div class="col-md-12">
            <div style="font-weight: bold;font-size: 15px;">DADOS DO CLIENTE</div>
              <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
                <li><b>ID da Transação:</b> <%= @info["unique_number"] %></li>
                <li><b>Nome do Cliente:</b> <%= @info["name"] %></li>
                <li><b>Morada:</b> <%= @info["address"] %></li>
                <li><b>Contacto:</b> <%= @info["contactNo"] %></li>
                <li><b>Número da Conta:</b> <%= @info["accNo"] %></li>
                <li><b>Dias desde a última compra:</b> <%= @info["daysLastPurchase"] %></li>
                <li><b>LocRef erf:</b> <%= @info["locRef"] %></li>
                <li><b>Utilitário:</b> <%= @info["utilityType"] %></li>
                <li><b>Pode vender?</b> <%= @info["canVend"] ? "Sim" : "Não" %></li>
                <li><b>Número do Medidor:</b> <%= @info["msno"] %></li>
                <li><b>Data:</b> <%= @info["respDateTime"].strftime("%d/%m/%Y %H:%M:%S") %></li>
              </ul>
            </div>
            <div style="font-weight: bold;font-size: 15px;">DADOS DO RECIBO</div>
              <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
                <li><b>Número do Recibo:</b> <%= @info["receiptNo"] %></li>
                <div style="font-weight: bold;font-size: 15px;">Transações</div>
                    <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
                      <li><b>Montante:</b> <%= @info["amtvalue"] %></li>
                      <li><b>Símbolo:</b> <%= @info["symbol"] %></li>
                    </ul>
                </div>
                <div style="font-weight: bold;font-size: 15px;">Datalhes do Medidor</div>
                    <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
                      <li><b>krn:</b> <%= @info["krn"] %></li>
                      <li><b>msno:</b> <%= @info["msno"] %></li>
                      <li><b>ti:</b> <%= @info["ti"] %></li>
                      <li><b>sgc:</b> <%= @info["sgc"] %></li>
                      <li><b>Unidade de Medida:</b> <%= @info["unitOfMeasurement"] %></li>
                    </ul>
                </div>
                <div style="font-weight: bold;font-size: 15px;">Tipo do Medidor</div>
                    <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
                      <li><b>tt:</b> <%= @info["tt"] %></li>
                    </ul>
                </div>
                <div style="font-weight: bold;font-size: 15px;">Unidades</div>
                    <ul style="list-style-type: none;margin: 0px;padding: 0px;margin-top: 20px;">
                      <li><b>siUnit:</b> <%= @info["siUnit"] %></li>
                      <li><b>Valor:</b> <%= @info["rate_value"] %></li>
                      <li><b>Símbolo:</b> <%= @info["symbol"] %></li>
                      <li><b>Unidade Valor:</b> <%= @info["units_value"] %></li>
                      <li><b>Tipo de Recurso:</b> <%= @info["type"] %></li>
                    </ul>
                </div>
              </ul>
            </div>
          </div>
          <%= raw Ende.children_text(Nokogiri::XML(@info)) %>
          <br>
          <%= @info %>
          <br>
          <br>
          <div style="display: inline-block;margin-bottom: 10px;width: 100%;margin-bottom: 5px;">
            <%= link_to root_path, class: 'btn btn-danger', style: "width: 100%;text-align: center;" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Voltar
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
