
<div>
  <div>
    <div id="page">
      <div class="container scroltable">
        <div class="container">
          <div class="card" style="margin-top: 5px;">
            <div class="card-header">
              <div class="col-md-12" style="margin-bottom: 20px; font-weight: bold; text-align: center">
                <ul style="list-style-type: none;">
                  <li><h2>ELEPHANT BET</h2></li>
                  <li><h2><%= title %></h2></li>
                </ul>
              </div>
              <div class="col-md-12" style="font-weight: medium; text-align: left">
                <ul style="list-style-type: none;">
                  <li><b>Status: </b><%= info["voucher"]["status"] %></li>
                  <li><b>Referência do Voucher: </b><%= info["voucher"]["reference"] %> </li>
                  <li><b>Data da Criação: </b><%= info["respDateTime"].strftime("%d/%m/%Y %H:%M:%S") rescue "" %></li>
                  <li><b>Referência do Jogador: </b><%= info["voucher"]["playerReference"] %></li>
                  <% if usuario_logado.admin? %>
                    <li><b>Código de Pagamento: </b><%= info["voucher"]["paymentCode"] %> </li>
                  <% end %>
                  <li><b>Valor: </b><%= @venda.valor_original %></li>
                  <li><b>creditType: </b><%= info["voucher"]["creditType"] %> </li>
                  <li><b>Data de Validade: </b><%= info["voucher"]["endValidity"].to_datetime.strftime("%d/%m/%Y %H:%M:%S") rescue "" %></li>
                  <div><b>Agente: </b><%= (info["venda"]&.usuario || @adm).login %></div>
                  <div><b>Operador: </b><img style="width: 24px;" src="https://www.pagaso.co.ao/<%= asset_path('favicon.png') %>"> PAGASÓ</div>
                </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
