<div class="container">

  <h4>Mostrar <%= singular_table_name.camelize %></h4>

  <!-- Page Heading/Breadcrumbs -->
  <%%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <%- attributes.each do |attribute| -%>
      <dt><%= attribute.human_name %>:</dt>
      <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
      <%- end -%>
    </dl>

    <div class="page-header">
      <%%= link_to <%= index_helper %>_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <%% end %>
      <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-warning' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <%% end %>
    </div>
  </div>
</div>