<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Mostrar Província</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Nome:</dt>
      <dd><%= @provincium.nome %></dd>
      <dt>Capital:</dt>
      <dd><%= @provincium.capital %></dd>
      <dt>Área KM<sup>2</sup>:</dt>
      <dd><%= number_with_delimiter(@provincium.area_km2, delimiter: ".") %></dd>
      <dt>População:</dt>
      <dd><%= number_with_delimiter(@provincium.population, delimiter: ".") %></dd>
      <dt>País:</dt>
      <dd><%= @provincium.country.name_pt %></dd>
      <dt>Municípios da Província:</dt>
      <dd>
        <ul>
          <% @provincium.municipios.each do |municipio| %>
            <li><%= municipio.nome %></li>
          <% end %>
        </ul>
      </dd>
    </dl>
    <hr>
    <div class="col-md-12">
      <div class="page-header">
        <%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Voltar
        <% end %>
        <%= link_to edit_provincium_path(@provincium), class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Editar
        <% end %>
      </div>
    </div>
  </div>
</div>