<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Detalhes do Sequencial de Transação DSTV</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Número do Transação:</dt>
      <dd><%= @sequencial_dstv.numero %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Envio:</dt>
      <dd><%= @sequencial_dstv.request_send %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Resposta:</dt>
      <dd><%= @sequencial_dstv.response_get %></dd>
    </dl>

    <div class="page-header">
      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
    </div>
  </div>
</div>