<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados de Tipo de Transação</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@tipo_transacao, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <% if @tipo_transacao.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@tipo_transacao.errors.count, "erros") %> no tipo_transacao, confira abaixo:</h4>

            <ul>
            <% @tipo_transacao.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-inputs col-sm-10">
            <%= f.input :nome, :label => "Descrição da Transação", placeholder: "Descrição da transação" %>
        </div>

        <div class="form-actions col-sm-12">
          <%= f.button :submit, "Confirmar", class: 'btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
