
<%= simple_form_for(@return_code_api) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-input">
    <%= f.input :return_code %>
    <%= f.input :return_description %>
    <%= f.input :error_description %>
    <%= f.input :error_description_pt %>
    <%= f.input :partner_code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
