<div class="container">


  <h3>Códigos de Retorno das APIs</h3>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Código de Retorno</th>
          <th scope="col">Descrição do Retorno</th>
          <th scope="col">Descrição do Erro</th>
          <th scope="col">Descrição do Erro em Português</th>
          <th scope="col">Parceiro</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @return_code_apis.each do |return_code_api| %>
          <tr>
            <td><%= return_code_api.return_code %></td>
            <td><%= return_code_api.return_description %></td>
            <td><%= return_code_api.error_description %></td>
            <td><%= return_code_api.error_description_pt %></td>
            <td><%= return_code_api.partner.name rescue "" %></td>

            <td><%= link_to 'Mostrar', return_code_api %></td>
            <td><%= link_to 'Editar', edit_return_code_api_path(return_code_api) %></td>
            <td><%= link_to 'Apagar', return_code_api, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @return_code_apis, :container => false %>
    </div> 

    <%= link_to new_return_code_api_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>