<div class="col-md-12 scroltable">
	<div class="col-md-12">
	  <h3>Mostra Códigos de Retorno APIs Parceiros</h3>
	</div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row --> 

	<div class="col-md-12">
		<p>
		  <strong>Código de Erro Pagasó:</strong>
		  <%= @return_code_api.codigo_erro_pagaso %>
		</p>		<p>
		  <strong>Return code Parceiro:</strong>
		  <%= @return_code_api.return_code %>
		</p>
		<p>
		  <strong>Descrição do Retorno:</strong>
		  <%= @return_code_api.return_description %>
		</p>
		<p>
		  <strong>Descrição do Erro:</strong>
		  <%= @return_code_api.error_description %>
		</p>
		<p>
		  <strong>Descrição do Erro em Português:</strong>
		  <%= @return_code_api.error_description_pt %>
		</p>
		<p>
		  <strong>Partner:</strong>
		  <%= @return_code_api.partner.name %>
		</p>
		<% if @return_code_api.sucesso %>
		<p>
		  <strong>Este é um retorno de sucesso</strong>
		</p>
		<% end %>
	    <div class="page-header">
	      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
	        <span class="glyphicon glyphicon-list-alt"></span>
	        Voltar
	      <% end %>
	      <%= link_to edit_return_code_api_path(@return_code_api), class: 'btn btn-danger' do %>
	        <span class="glyphicon glyphicon-pencil"></span>
	        Editar
	      <% end %>
	    </div>
	</div>
</div>