<div class="container">

  <h4>Mostra Códigos de Retorno APIs</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row --> 

	<div class="container">

		<p>
		  <strong>Return code:</strong>
		  <%= @return_code_api.return_code %>
		</p>

		<p>
		  <strong>Return description:</strong>
		  <%= @return_code_api.return_description %>
		</p>

		<p>
		  <strong>Error description:</strong>
		  <%= @return_code_api.error_description %>
		</p>

		<p>
		  <strong>Error description pt:</strong>
		  <%= @return_code_api.error_description_pt %>
		</p>

		<p>
		  <strong>Partner:</strong>
		  <%= @return_code_api.partner.name %>
		</p>

	    <div class="page-header">
	      <%= link_to return_code_apis_path, class: 'btn btn-danger' do %>
	        <span class="glyphicon glyphicon-list-alt"></span>
	        Voltar
	      <% end %>
	      <%= link_to edit_return_code_api_path(@return_code_api), class: 'btn btn-danger' do %>
	        <span class="glyphicon glyphicon-pencil"></span>
	        Editar
	      <% end %>
	    </div>
	</div>
</div>