<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@produto, html: { class: "form-vertical", role: "form" }) do |f| %>
        <% if @produto.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@produto.errors.count, "erros") %> no produto, confira abaixo:</h4>
            <ul>
              <% @produto.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-5">
           <%= f.input :description, :label => "Descrição do Produto no Parceiro", placeholder: "Descrição do Produto" %>
        </div>

        <div class="form-input col-sm-3">
          <%= f.label :partner_id, "Parceiro" %>
          <%= f.select :partner_id, Partner.all.collect{|d| [d.name, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
        </div>

        <div class="form-input col-sm-4">
           <%= f.input :categoria, :label => "Categoria: Informe a categoria do produto ZAP (tv ou wifi)", placeholder: "tv ou wifi (deixe em branco se for outra operadora)" %>
        </div>

        <div class="form-input col-sm-12">
           <%= f.input :nome_comercial, :label => "Nome Comercial do Produto para a Pagasó", placeholder: "Nome Comercial do Produto" %>
        </div>

        <div class="form-input col-sm-4">
          <%= f.label :moeda_id %>
          <%= f.select :moeda_id, Moeda.all.collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
        </div>

        <div class="form-input col-sm-4">
          <%= f.label :status_produto_id, "Status do Produto" %>
          <%= f.select :status_produto_id, StatusProduto.all.collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
        </div>

        <div class="form-input col-sm-4">
          <%= f.label :data_vigencia, "Data do início da vigência do produto" %>
          <%= f.date_field :data_vigencia, class:"form-control" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :valor_compra_telemovel, :label => "Valor de compra para revenda pelo TELEMÓVEL", placeholder: "Valor de compra do produto na operadora" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :valor_compra_site,:label => "Valor de compra para revenda pelo SITE", placeholder: "Valor de compra do produto na operadora" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :valor_compra_pos, :label => "Valor de compra do produto para revenda pelo POS", placeholder: "Valor de compra do produto na operadora" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :valor_compra_tef, :label => "Valor de compra do produto para revenda por TEF", placeholder: "Valor de compra do produto na operadora" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.input :mensagem_cupom_venda, :label => "Mensagem cupom de venda", placeholder: "Mensagem a ser impressa no cupom de venda. Funcionalidade para POS ou TEF." %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :produto_id_parceiro, :label => "ID do produto no parceiro", placeholder: "ID do produto no parceiro" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :valor_unitario, :label => "Valor unitário do produto no parceiro" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.label :tipo, "Tipo de produto definido pelo parceiro" %>
          <%= f.select :tipo, [["RECHARGE", "RECHARGE"]], {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.label :subtipo, "Subtipo do produto no parceiro" %>
          <%= f.select :subtipo, [["ADICIONAL", "ADICIONAL"], ["DADOS", "DADOS"], ["PACOTES", "PACOTES"], ["PACOTE + ADICIONAIS", "PACOTE + ADICIONAIS"], ["PLANO MAIS", "PLANO MAIS"], ["SERVIÇOS ADICIONAIS", "SERVIÇOS ADICIONAIS"], ["SMS", "SMS"], ["VOZ", "VOZ"], ["PLANOS BAZZA", "PLANOS BAZZA"], ["AFRICELL VOZ", "AFRICELL VOZ"], ["AFRICELL DADOS", "AFRICELL DADOS"]], {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
        </div>

        <div class="form-actions col-sm-12" style="margin-top: 20px;">
          <%= f.button :button, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-ok"></span>
            Confirmar
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>
