<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>Produtos</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Partner</th>
          <th scope="col">Moeda</th>
          <th scope="col">Status</th>
          <th scope="col">Margem Telemóvel</th>
          <th scope="col">Margem SITE</th>
<!--          <th scope="col">Margem POS</th>
          <th scope="col">Margem TEF</th-->
          <th scope="col">Mensagem cupom venda</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @produtos.each do |produto| %>
        <tr>
          <td><%= produto.description %></td>
          <td><%= produto.partner.name %></td>
          <td><%= "#{produto.moeda_id}/#{produto.moeda.nome}" %></td>       
          <td><%= produto.status_produto.nome %></td>
          <td class="text-right"><%= produto.margem_telemovel %></td>
          <td class="text-right"><%= produto.margem_site %></td>
<!--          <td><%= produto.margem_pos %></td>
          <td><%= produto.margem_tef %></td-->
          <td><%= produto.mensagem_cupom_venda %></td>
          <td><%= link_to 'Mostrar', produto %></td>
          <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
          <td><%= link_to 'Apagar', produto, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to new_produto_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    
    <%= link_to root_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>