<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Detalhes do Produto</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <div class="col-sm-12">
        <dt>ProductID Parceiro:</dt>
        <dd><%= @produto.produto_id_parceiro %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Descrição</dt>
        <dd><%= @produto.description %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Nome Comercial do Produto</dt>
        <dd><%= @produto.nome_comercial %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Parceiro</dt>
        <dd><%= @produto.partner.name %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Moeda:</dt>
        <dd><%= "#{@produto.moeda_id}/#{@produto.moeda.nome}" %></dd>  
      </div>
      <div class="col-sm-12">
        <dt>Status produto:</dt>
        <dd><%= @produto.status_produto.nome %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Valor de compra telemóvel:</dt>
        <dd><%= number_to_currency(@produto.valor_compra_telemovel) %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Valor de compra SITE:</dt>
        <dd><%= number_to_currency(@produto.valor_compra_site) %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Valor de compra POS:</dt>
        <dd><%= number_to_currency(@produto.valor_compra_pos) %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Valor de compra TEF:</dt>
        <dd><%= number_to_currency(@produto.valor_compra_tef) %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Valor Unitário Parceiro:</dt>
        <dd><%= @produto.valor_unitario %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Tipo do Produto no Parceiro:</dt>
        <dd><%= @produto.tipo %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Subtipo do Produto no Parceiro:</dt>
        <dd><%= @produto.subtipo %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Mensagem cupom venda:</dt>
        <dd><%= @produto.mensagem_cupom_venda %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Data de início da vigência:</dt>
        <dd><%= @produto.data_vigencia.strftime("%d/%m/%Y %H:%M:%S") rescue ""%></dd>
      </div>
      <div class="col-sm-12">
        <dt>Data da criação:</dt>
        <dd><%= @produto.created_at.strftime("%d/%m/%Y %H:%M:%S") %></dd>
      </div>
      <div class="col-sm-12">
        <dt>Data da última atualização:</dt>
        <dd><%= @produto.updated_at.strftime("%d/%m/%Y %H:%M:%S") %></dd>
      </div> 
    </dl>
    <div class="col-sm-12 page-header">
      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_produto_path(@produto), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>
