<div class="col-md-12" data-target="toggle.grid">
<div class="card border-simpleform box-shadow mb-4">
  <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
    <div>
      <strong>Dados</strong><br />
    </div>
  </div>
  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      <%= simple_form_for(@master_profile) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :description, :label => "Descrição" %>
        <%= f.button :button, class: 'btn btn-success', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
          <span class="glyphicon glyphicon-ok"></span>
          Confirmar
        <% end %>
      <% end %>
    </div>
  </div>
</div>
