<div class="col-md-12">
	<div class="col-md-12">
    <h3>Perfil Master</h3>
  </div>
  <br>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <br>
  <div class="col-md-12">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Descrição</label>
            <div>
              <input type="text" name="description" value="<%= params[:description] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>        
        </div>
    </form>
  </div>  

  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center">ID do Registo</th>
          <th scope="col">Descrição</th>
          <th scope="col" colspan="3">Ações para o Registo</th>
        </tr>
      </thead>
      <tbody>
        <% @master_profiles.each do |master_profile| %>
          <tr>
            <td class="text-center"><%= master_profile.id %></td>
            <td><%= master_profile.description %></td>
            <td><%= link_to 'Editar', edit_master_profile_path(master_profile) %></td>
            <td><%= link_to 'Apagar', master_profile, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <div class="apple_pagination">
      <%= will_paginate @lancamentos, :container => false %>
    </div>
  </div>
  <div class="col-md-12">
    <%= link_to new_master_profile_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registo
    <% end %>    
    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>