<div class="container">

  <h4>Mostrar EmailHistoricoEnvio</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>Email:</dt>
      <dd><%= @email_historico_envio.email %></dd>
      <dt>Titulo:</dt>
      <dd><%= @email_historico_envio.titulo %></dd>
      <dt>Conteudo:</dt>
      <dd><%= @email_historico_envio.conteudo %></dd>
      <dt>Usuario:</dt>
      <dd><%= @email_historico_envio.usuario %></dd>
      <dt>Venda:</dt>
      <dd><%= @email_historico_envio.venda_id %></dd>
      <dt>Sucesso:</dt>
      <dd><%= @email_historico_envio.sucesso %></dd>
    </dl>

    <div class="page-header">
      <%= link_to email_historico_envios_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Voltar
      <% end %>
      <%= link_to edit_email_historico_envio_path(@email_historico_envio), class: 'btn btn-danger', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>