<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados do Usuário</strong><br>
      </div>
    </div>
  </div>

  <div class="col-md-12 card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">

      <%= simple_form_for(@usuario) do |f| %>
        <% if @usuario.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@usuario.errors.count, "erros") %> no cadastro usuários, confira abaixo:</h4>

            <ul>
            <% @usuario.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-6">
          <%= f.input :nome, :label => "Nome", placeholder: "Informe o nome completo do usuário" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :email, :label => "E-Mail", placeholder: "Informe um e-mail válido" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :login, :label => "Login", disabled: true %>
        </div>

        <% if @adm.admin? || @adm.operador? %>
          <div class="form-input col-sm-6">
            <%= f.label :senha, "Palavra-passe" %>
            <%= f.password_field :senha, class: "form-control", disabled: @usuario.new_record? %>
            <% if @usuario.new_record? %>
              Palavra-passe será definina pelo usuário no primeiro acesso
            <% end %>
          </div>
        <% else %>
            <div class="form-input col-sm-6">
            <br><hr>
            <p>O usuário definirá a senha no primeiro acesso</p>
            <hr>
            </div>
        <% end %>

        <div class="form-input col-sm-12">
          <%= f.label :perfil_usuario_id, "Perfil do Usuário" %>
          <% if @adm.admin? %>
            <%= f.select :perfil_usuario_id, PerfilUsuario.all.reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
          <% elsif @adm.operador? %>
            <%= f.select :perfil_usuario_id, PerfilUsuario.where(admin: false).reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
          <% else %>
            <%= f.select :perfil_usuario_id, PerfilUsuario.where("lower(nome) ilike '%vendedor%'").reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
          <% end %>
        </div>
  
        <div class="form-input col-sm-4">
          <%= f.label :sub_distribuidor_id, :label => "Distribuidor" %>
          <% if @adm.admin? || @adm.operador? %>
              <%= f.select :sub_distribuidor_id, SubDistribuidor.all.reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
          <% else %>
              <%= f.select :sub_distribuidor_id, SubDistribuidor.where("id = '#{usuario_logado.sub_distribuidor_id}'").reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
          <% end %>
        </div>
  
        <div class="form-input col-sm-4">
          <%= f.label :sub_agente_id, :label => "Agente" %>
          <% if @adm.admin? || @adm.operador? %>
              <%= f.select :sub_agente_id, SubAgente.all.reorder("nome_fantasia asc").collect{|d| [d.nome_fantasia, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
          <% else %>
              <%= f.select :sub_agente_id, SubAgente.where("lower(nome_fantasia) ilike '#{usuario_logado.nome}'").reorder("nome_fantasia asc").collect{|d| [d.nome_fantasia, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
          <% end %>
        </div>

        <div class="form-input col-sm-2">
          <%= f.label :status_cliente_id, :label => "Situação do Usuário" %>
          <% if @adm.agente? %>
            <%= f.select :status_cliente_id, StatusCliente.where("lower(nome) ilike '%inativo%'").reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
          <% else %>
            <%= f.select :status_cliente_id, StatusCliente.all.reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
          <% end %>
        </div>

        <div class="form-input col-sm-2">
          <%= f.label :data_adesao, "Data da Adesão" %>
          <%= f.date_field :data_adesao, class:"form-control" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :morada, :label => "Morada", placeholder: "Informe a morada do usuário" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :bairro, :label => "Bairro", placeholder: "Informe o bairro do usuário" %>
        </div>

        <div class="form-input col-sm-4">
          <%= f.label :municipio_id, :label => "Município" %>
          <%= f.select :municipio_id, Municipio.all.reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
        </div>

        <div class="form-input col-sm-4">
          <%= f.label :provincia_id, :label => "Província" %>
          <%= f.select :provincia_id, Provincium.all.reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
        </div>

        <div class="form-input col-sm-4">
          <%= f.input :telefone, :label => "Telefone", placeholder: "Informe o telefone do usuário" %>
        </div>

        <div class="form-input col-sm-2">
          <%= f.input :whatsapp, :label => "WhatsApp", placeholder: "Informe o whatsApp do usuário" %>
        </div>

        <div class="form-input col-sm-3">
          <%= f.label :uni_pessoal_empresa_id, :label => "Tipo" %>
          <%= f.select :uni_pessoal_empresa_id, UniPessoalEmpresa.all.reorder("nome asc").collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
        </div>

        <div class="form-input col-sm-4">
          <%= f.label :industry_id, "Grupo de Atividade Económica" %>
          <%= f.select :industry_id, Industry.all.reorder("descricao_grupo asc").collect{|d| [d.descricao_grupo, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>      
        </div>

        <div class="form-input col-sm-3">
          <%= f.label :master_profile_id, "Empresa Padrão" %>
          <%= f.select :master_profile_id, MasterProfile.all.reorder("description asc").collect{|d| [d.description, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>      
        </div>
      </div>

      <% if @adm.admin? || @adm.operador? %>
        <hr>
        <div class="form-group col-sm-12">
          <%= f.label :acessos, "Grupos", class: "col-sm-5 control-label" %>
          <br><hr>
          <input type="button" value="SELECIONAR TODOS" onclick="checkAcessos()" class="btn btn-success">
          <input type="button" value="DESMARCAR TODOS" onclick="uncheckAcessos()" class="btn btn-danger">
          <label>Ou selecionar os itens individualmente para definir os grupos</label>        
          <br><hr>
          <div class="col-sm-10" style="height: 280px;overflow: scroll;">
            <ul>
              <% Grupo.all.reorder("unaccent(nome) asc").each do |grupo| %>
                <li>
                  <label><%= grupo.nome %></label>
                  <% checked = @usuario.grupo_usuarios.where(grupo_id: grupo.id).count > 0 ? "checked='checked'" : "" %>
                  <input type="checkbox" name="grupos[]" <%= checked %> class="check-acessos" value="<%= grupo.id %>">
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="form-actions col-sm-12">
        <%= f.button :button, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-ok"></span>
          Confirmar
        <% end %>
      </div>
    <% end %>
    <br>
  </div>
</div>