<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="col-md-12 card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">

      <%= simple_form_for(@usuario) do |f| %>
        <% if @usuario.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@usuario.errors.count, "erros") %> no cadastro usu치rios, confira abaixo:</h4>

            <ul>
            <% @usuario.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-6">
          <%= f.input :nome, :label => "Nome", placeholder: "Informe o nome completo do usu치rio" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :email, :label => "E-Mail", placeholder: "Informe um e-mail v치lido" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.label :senha, "Palavra-passe" %>
          <%= f.password_field :senha, class: "form-control" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.label :perfil_usuario_id, "Perfil do Usu치rio" %>
          <%= f.select :perfil_usuario_id, PerfilUsuario.all.collect{|d| [d.nome, d.id]}, {}, required:true, class: "form-control" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.label :sub_agente_id %>
          <%= f.select :sub_agente_id, SubAgente.all.collect{|d| [d.nome_fantasia, d.id]}, {}, required:true, class: "form-control" %>
        </div>
          
        <div class="form-actions col-sm-12">
          <%= f.button :button, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-ok"></span>
            Confirmar
          <% end %>
        </div>
      <% end %>
  </div>
</div>