<div class="container">
  <h3>Usuários</h3>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Nome do Usuário</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Login do Usuário</label>
            <div>
              <input type="text" name="login" value="<%= params[:login] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>E-mail do Usuário</label>
            <div>
              <input type="text" name="email" value="<%= params[:email] %>" class="form-control">
            </div>
          </div>
        </div>
        <% if usuario_logado.admin? || usuario_logado.operador? %>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Administrador</label>
            <div>
              <select name="perfil_admin" id="perfil_admin" class="form-control" style="width100%;max-width: 500px;">
                <option value="" <% if params[:perfil_admin].blank? %> selected="selected" <% end %>>
                  Todos
                </option>
                <option value="true" <% if params[:perfil_admin] == "true" %> selected="selected" <% end %>>
                  Somente Adminstrador
                </option>
                <option value="false" <% if params[:perfil_admin] == "false" %> selected="selected" <% end %>>
                  Outros Perfis
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Operador</label>
            <div>
              <select name="perfil_operador" id="perfil_operador" class="form-control" style="width100%;max-width: 500px;">
                <option value="" <% if params[:perfil_operador].blank? %> selected="selected" <% end %>>
                  Todos
                </option>
                <option value="true" <% if params[:perfil_operador] == "true" %> selected="selected" <% end %>>
                  Somente Operador
                </option>
                <option value="false" <% if params[:perfil_operador] == "false" %> selected="selected" <% end %>>
                  Outros Perfis
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Perfil do Usuário</label>
            <div>
              <select name="perfil_usuario_id" onchange="pgstrans.carregaPerfilUsuario(this)" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% PerfilUsuario.all.each do |perfil_usuario| %>
                  <option value="<%= perfil_usuario.id %>" <% if perfil_usuario.id.to_s == params[:perfil_usuario_id] %> selected="selected" <% end %> ><%= perfil_usuario.nome %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Subagente</label>
            <div>
              <select name="sub_agente_id" onchange="pgstrans.carregaSubAgente(this)" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% SubAgente.all.each do |sub_agente| %>
                  <option value="<%= sub_agente.id %>" <% if sub_agente.id.to_s == params[:sub_agente_id] %> selected="selected" <% end %> ><%= sub_agente.nome_fantasia %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
        </div>
    </form>
  </div>

  <div class="container scroltable">
    <h5>
    Usuários que foram cadastrados pelo Agente ou pelo Administrador
    </h5>
    <table class="table table-hover">
      <thead>
        <tr class="text-left">
          <th scope="col">ID Usuário</th>
          <th scope="col">Dados do Usuário</th>
          <% if usuario_logado.admin? || usuario_logado.operador? %>
              <th scope="col">Admin?</th>
              <th scope="col">Operador?</th>
              <th scope="col">Agente?</th>              
          <% end %>
          <th scope="col">Perfil</th>
          <th scope="col">Subagente e Data da Criação do Usuário</th>
          <% if usuario_logado.admin? || usuario_logado.operador? %>
            <th colspan="4">Ações</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @usuarios.each do |usuario| %>
          <tr>
            <td><%= usuario.id %></td>
            <td>
              Login: <%= usuario.login %><br>
              Nome: <%= usuario.nome %><br>
              E-mail: <%= usuario.email %>
            </td>
            <% if usuario_logado.admin? || usuario_logado.operador? %>
                <td><%= usuario.admin? ? "Sim": "Não" %></td>
                <td><%= usuario.operador? ? "Sim": "Não" %></td>
                <td><%= usuario.agente? ? "Sim": "Não" %></td>
            <% end %>
            <td class="text-left">
               <% if usuario_logado.admin? || usuario_logado.operador? %>
                  <a href="/perfil_usuarios/<%= usuario.perfil_usuario.id %>">
                <% end %>
                <%= usuario.perfil_usuario.nome %>
              </a>
            </td>
            <td>
              <%= "#{usuario.sub_agente_id}/#{usuario.sub_agente.nome_fantasia}" %><br><br>
              <%= usuario.created_at %>
            </td>
            <td>
              <% if usuario_logado.admin? || usuario_logado.operador? %>
                <%= link_to 'Editar', edit_usuario_path(usuario) %><br>
                <% if usuario.logado %>
                  <%= link_to 'Forçar Logout ', "/usuarios/#{usuario.id}/forcar-logout", data: { confirm: 'Confirma?' }%>
                <% end %>
                <br>
                <%= link_to 'Apagar', usuario, method: :delete, data: { confirm: 'Tem Certeza?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @usuarios, :container => false %>
    </div> 

    <% if(usuario_logado.admin? || usuario_logado.operador?) %>
      <%= link_to new_usuario_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-plus"></span>
        Novo Registro
      <% end %>    
    <% end %>  

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>