<div class="container">
  <h3>Usuários</h3>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Nome do Usuário</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>E-mail do Usuário</label>
            <div>
              <input type="text" name="email" value="<%= params[:email] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Administrador</label>
            <div>
              <select name="perfil_admin" id="perfil_admin" class="form-control" style="width100%;max-width: 500px;">
                <option value="" <% if params[:perfil_admin].blank? %> selected="selected" <% end %>>
                  Todos
                </option>
                <option value="true" <% if params[:perfil_admin] == "true" %> selected="selected" <% end %>>
                  Somente Adminstrador
                </option>
                <option value="false" <% if params[:perfil_admin] == "false" %> selected="selected" <% end %>>
                  Outros Perfis
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Operador</label>
            <div>
              <select name="perfil_operador" id="perfil_operador" class="form-control" style="width100%;max-width: 500px;">
                <option value="" <% if params[:perfil_operador].blank? %> selected="selected" <% end %>>
                  Todos
                </option>
                <option value="true" <% if params[:perfil_operador] == "true" %> selected="selected" <% end %>>
                  Somente Operador
                </option>
                <option value="false" <% if params[:perfil_operador] == "false" %> selected="selected" <% end %>>
                  Outros Perfis
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Perfil do Usuário</label>
            <div>
              <select name="perfil_usuario_id" onchange="pgstrans.carregaPerfilUsuario(this)" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% PerfilUsuario.all.each do |perfil_usuario| %>
                  <option value="<%= perfil_usuario.id %>" <% if perfil_usuario.id.to_s == params[:perfil_usuario_id] %> selected="selected" <% end %> ><%= perfil_usuario.nome %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>        
        </div>
    </form>
  </div>

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Admin?</th>
          <th scope="col">Operador?</th>
          <th scope="col">Descrição Perfil Usuário</th>
          <th scope="col">Criado em</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @usuarios.each do |usuario| %>
          <tr>
            <td><%= usuario.id %></td>
            <td><%= usuario.nome %></td>
            <td><%= usuario.email %></td>
            <td><%= usuario.admin? ? "Sim": "Não" %></td>
            <td><%= usuario.operador? ? "Sim": "Não" %></td>
            <td class="text-center">
              <a href="/perfil_usuarios/<%= usuario.perfil_usuario.id %>">
                <%= usuario.perfil_usuario.nome %>
              </a>
            </td>
            <td><%= usuario.created_at %></td>
            <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
            <td><%= link_to 'Apagar', usuario, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @usuarios, :container => false %>
    </div> 

    <%= link_to new_usuario_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>