<div class="col-md-12">
	<div class="col-md-12">
  		<h3>Detalhe do Usuário</h3>
	</div>
  	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row --> 
	<div class="col-md-12">
		<hr>
		  <strong>Nome:</strong>
		  <%= @usuario.nome %>
		<hr>
		  <strong>E-Mail:</strong>
		  <%= @usuario.email %>
		<hr>
		  <strong>Login:</strong>
		  <%= @usuario.login %>
		<hr>
		  <strong>Número para Pagamento por Referência:</strong>
		  <% if @usuario.nro_pagamento_referencia.present? %>
			<%= @usuario.nro_pagamento_referencia %>
		  <% else %>
			Definir
		  <% end %>
		<hr>
		  <strong>Perfil:</strong>
		  <%= @usuario.perfil_usuario.nome %>
		<hr>
		  <strong>Situação:</strong>
		  <%= @usuario.status_cliente.nome %>
		<hr>
		  <strong>Morada:</strong>
		  <%= @usuario.morada %>
		<hr>
		  <strong>Bairro:</strong>
		  <%= @usuario.bairro %>
		<hr>
		  <strong>Município:</strong>
		  <%= @usuario.municipio.nome rescue "" %>
		<hr>
		  <strong>Província:</strong>
		  <%= @usuario.provincia.nome rescue "" %>
		<hr>
		  <strong>Telefone:</strong>
		  <%= @usuario.telefone %>
		<hr>
		  <strong>WhatsApp:</strong>
		  <%= @usuario.whatsapp %>
		<hr>
		  <strong>Data da adesão:</strong>
		  <%= @usuario.data_adesao.strftime("%d/%m/%Y") rescue "" %>
		<hr>
		  <strong>Data do cadastro:</strong>
		  <%= @usuario.created_at %>
		<hr>
		  <strong>Tipo de Estabelecimento:</strong>
		  <%= @usuario.uni_pessoal_empresa.nome rescue "" %>
		<hr>
		  <strong>Grupo de Actvidade Económica:</strong>
		  <%= @usuario.industry.descricao_grupo rescue "" %>
		<hr>
		  <strong>Empresa Padrão:</strong>
		  <%= @usuario.master_profile.id %> - 
		  <%= @usuario.master_profile.description %>
		<hr>
		  <strong>Distribuidor:</strong>
		  <%= @usuario.sub_distribuidor_id %> - 
		  <%= @usuario.sub_distribuidor.nome %>
		<hr>
		  <strong>Agente:</strong>
		  <%= @usuario.sub_agente.id %> - 
		  <%= @usuario.sub_agente.nome_fantasia %>
		<hr>
		  <strong>Grupos de Acesso:</strong>
		  <ul>
				<% @usuario.grupo_usuarios.each do |gu| %>
					<li><%= gu.grupo.id %> - <%= gu.grupo.nome %></li>
				<% end %>
			</ul>
		<hr>
		<div class="page-header">
	      
		  <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
	        <span class="glyphicon glyphicon-list-alt"></span>
	        Voltar
	      <% end %>

	      <%= link_to edit_usuario_path(@usuario), class: 'btn btn-danger' do %>
	        <span class="glyphicon glyphicon-pencil"></span>
	        Editar
	      <% end %>

		  <% if @adm.id == Usuario::ROOT %>
			<% if @usuario.nro_pagamento_referencia.present? %>
				<%= link_to 'javascript:if(confirm("Confirma?")){ window.location.href="/proxy_pay/gerar_referencia?usuario_id=' + @usuario.id.to_s + '" }', class: 'btn btn-success' do %>
					<span class="glyphicon glyphicon-plus"></span>
					Gerar Referência
				<% end %>
			<% end %>
		  <% end %>

	    </div>
	</div>
</div>