<div class="col-md-12">
	<div class="col-md-12">
  		<h3>Detalhe do Usuário</h3>
	</div>
  	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row --> 
	<div class="col-md-12">
		<p>
		  <strong>Nome:</strong>
		  <%= @usuario.nome %>
		</p>
		<p>
		  <strong>E-Mail:</strong>
		  <%= @usuario.email %>
		</p>
		<p>
		  <strong>Login:</strong>
		  <%= @usuario.login %>
		</p>
		<p>
		  <strong>Perfil:</strong>
		  <%= @usuario.perfil_usuario.nome %>
		</p>
		<p>
		  <strong>Situação:</strong>
		  <%= @usuario.status_cliente.nome %>
		</p>
		<p>
		  <strong>Morada:</strong>
		  <%= @usuario.morada %>
		</p>
		<p>
		  <strong>Bairro:</strong>
		  <%= @usuario.bairro %>
		</p>
		<p>
		  <strong>Município:</strong>
		  <%= @usuario.municipio.nome %>
		</p>
		<p>
		  <strong>Telefone:</strong>
		  <%= @usuario.telefone %>
		</p>
		<p>
		  <strong>WhatsApp:</strong>
		  <%= @usuario.whatsapp %>
		</p>
		<p>
		  <strong>Data da adesão:</strong>
		  <%= @usuario.data_adesao.strftime("%d/%m/%Y") rescue "" %>
		</p>
		<p>
		  <strong>Data do cadastro:</strong>
		  <%= @usuario.created_at %>
		</p>
		<p>
		  <strong>Subagente:</strong>
		  <%= @usuario.sub_agente_id %>
		  <%= @usuario.sub_agente.nome_fantasia %>
		</p>
	    <div class="page-header">
	      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
	        <span class="glyphicon glyphicon-list-alt"></span>
	        Voltar
	      <% end %>
	      <%= link_to edit_usuario_path(@usuario), class: 'btn btn-danger' do %>
	        <span class="glyphicon glyphicon-pencil"></span>
	        Editar
	      <% end %>
	    </div>
	</div>
</div>