<div class="container">
  	<h4>Detalhe de Usuário</h4>

  	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row --> 

	<div class="container">
		<p>
		  <strong>Nome:</strong>
		  <%= @usuario.nome %>
		</p>

		<p>
		  <strong>Email:</strong>
		  <%= @usuario.email %>
		</p>

		<p>
		  <strong>Login:</strong>
		  <%= @usuario.login %>
		</p>

		<p>
		  <strong>Perfil:</strong>
		  <%= @usuario.perfil_usuario_id %>
		</p>

		<p>
		  <strong>Morada:</strong>
		  <%= @usuario.morada %>
		</p>

		<p>
		  <strong>Bairro:</strong>
		  <%= @usuario.bairro %>
		</p>

		<p>
		  <strong>Data da criação:</strong>
		  <%= @usuario.created_at %>
		</p>

	    <div class="page-header">
	      <%= link_to usuarios_path, class: 'btn btn-danger' do %>
	        <span class="glyphicon glyphicon-list-alt"></span>
	        Voltar
	      <% end %>
	      <%= link_to edit_usuario_path(@usuario), class: 'btn btn-danger' do %>
	        <span class="glyphicon glyphicon-pencil"></span>
	        Editar
	      <% end %>
	    </div>
	</div>
</div>