<div class="container">

	<h3>Dados do Usuários</h3>
	
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Nome:</strong>
	  <%= @usuario.nome %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @usuario.email %>
	</p>

	<p>
	  <strong>Senha:</strong>
	  <%= @usuario.senha %>
	</p>

	<p>
	  <strong>Perfil:</strong>
	  <%= @usuario.perfil_usuario_id %>
	</p>

	<p>
	  <strong>Perfil:</strong>
	  <%= @usuario.created_at %>
	</p>

	<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
	<%= link_to 'Voltar', usuarios_path %>
</div>