<div class="container scroltable">

  <h4>Lista de Países</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome em Inglês</th>
          <th scope="col">Nome em Português</th>
          <th scope="col">ISO2</th>
          <th scope="col">Bacen</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @countries.each do |country| %>
        <tr>
          <td><%= country.id %></td>
          <td><%= country.name_eng %></td>
          <td><%= country.name_pt %></td>
          <td><%= country.iso2 %></td>
          <td class="text-right"><%= country.bacen %></td>
          <td><%= link_to 'Mostrar', country %></td>
          <td><%= link_to 'Editar', edit_country_path(country) %></td>
          <td><%= link_to 'Apagar', country, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @countries, :container => false %>
    </div>    


    <%= link_to new_country_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-plus"></span>
        Novo Registro
    <% end %>    

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
    <% end %>
  </div>
</div>