<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Detalhe de Dados de País</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <dl class="col-md-12 dl-horizontal">
    <dt>Nome em Inglês:</dt>
    <dd><%= @country.name_eng %></dd>
    <dt>Nome em Português:</dt>
    <dd><%= @country.name_pt %></dd>
    <dt>ISO 2 / Sigla Internacional:</dt>
    <dd><%= @country.iso2 %></dd>
    <dt>Código BACEN:</dt>
    <dd><%= @country.bacen %></dd>
  </dl>
  <div class="col-md-12">
    <%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Voltar
    <% end %>
    <%= link_to edit_country_path(@country), class: 'btn btn-warning' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Editar
    <% end %>
  </div>
</div>
