<br>
<h3>Olá <%= @usuario.nome %></h3>
<hr>
<p>
	Segue o link para alterar a sua palavra-passe: <a href="<%= URL_SITE %>/alterar-senha?token=<%= @token %>" target="_blank"><%= URL_SITE %>/alterar-senha?token=<%= @token %></a>
</p>
<hr>
<p>
	A Pagasó se preocupa muito com a segurança de sua conta. Nós nunca lhe enviaremos e-mails pedindo que informe ou confirme a sua palavra-passe, o seu número de cartão de crédito ou dados de sua conta bancária. Se você receber um e-mail suspeito com um link para atualizar as informações de sua conta, não clique nele. Descarte ou envie para a Pagasó para investigação.
</p>
