<h3>Olá <%= @usuario.nome %></h3>
<p>
	Segue o link para alterar a sua senha: <a href="<%= URL_SITE %>/alterar-senha?token=<%= @token %>" target="_blank"><%= URL_SITE %>/alterar-senha?token=<%= @token %></a>
</p>