<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>LoopLog</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
        <th scope="col">Data</th>
        <th></th>
        <th></th>
        <th scope="col">Dados de envio e retorno</th>
        </tr>
      </thead>

      <tbody>
        <% @loop_logs.each do |loop_log| %>
        <tr>
          <td><%= loop_log.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
          <td><%= link_to 'Mostrar', "/movicel_loops/#{loop_log.movicel_loop_id}/loop_logs/#{loop_log.id}" %></td>
          <td><%= link_to 'Apagar', "/movicel_loops/#{loop_log.movicel_loop_id}/loop_logs/#{loop_log.id}", method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          <td>
            <h1>Envio para movicel</h1>
            <%= raw loop_log.request %>
            <hr>
            <h1>Resposta da movicel</h1>
            <%= raw loop_log.response %>
            <br><br><br><br><br>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @loop_logs, :container => false %>
    </div>

    <%= link_to 'Voltar', movicel_loop_path(@movicel_loop), class: 'btn btn-primary' %>
  </div>
</div>