<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@movicel_loop, html: { class: "form-vertical", role: "form" }) do |f| %>
        <% if @movicel_loop.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@movicel_loop.errors.count, "erros") %> no movicel_loop, confira abaixo:</h4>

            <ul>
            <% @movicel_loop.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-6">
          <%= f.input :usuario, :label => "Usuário", placeholder: "Nome do usuário fornecido pela Movicel" %>
        </div>
        
        <div class="form-input col-sm-6">
          <%= f.input :token, :label => "Token", placeholder: "Token fornecido pela Movicel especialmente para esta tarefa" %>
        </div>
        
        <div class="form-input col-sm-6">
          <%= f.input :uri, :label => "URI", placeholder: "URI fornecida pela Movicel especialmente para esta tarefa" %>
        </div>
        
        <div class="form-input col-sm-6">
          <%= f.input :ambiente, :label => "Ambiente", placeholder: "De acordo com orientações da Movicel, adotar N/A para ambiente" %>
        </div>
        
        <div class="form-input col-sm-6">
          <%= f.input :agente, :label => "Agente", placeholder: "De acordo com orientações da Movicel, adotar N/A para agente" %>
        </div>
        
        <div class="form-input col-sm-6">
          <%= f.input :terminal, :label => "Terminal", placeholder: "Terminal telefónico de testes fornecido pela Movicel" %>
        </div>
        
        <div class="form-input col-sm-6">
          <%= f.input :valor, :label => "Valor do Produto", placeholder: "Valor aleatório para a transação" %>
        </div>
        
        <div class="form-input col-sm-6">
          <%= f.input :repeticao, :label => "Número de Repetições", placeholder: "Número de Repetições" %>
        </div>
        
        <div class="form-input col-sm-6">
          <%= f.input :nropedidoinicio, :label => "Número Inicial do Pedido", placeholder: "O programa somará um a cada nova transação" %>
        </div>
              
        <div class="form-actions col-sm-12">
        <%= f.button :button, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-ok"></span>
          Confirmar
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
