<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>Movicel Loop para obtenção de logs</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Sobre a Transação<br>
          <th colspan="4">Ações para o Registro</th>
        </tr>
      </thead>

      <tbody>
        <% @movicel_loops.each do |movicel_loop| %>
        <tr>
          <td>
            <strong>Detalhes da Conta</strong><br>
            <strong>Usuário: </strong><%= movicel_loop.usuario %><br>
            <strong>Token: </strong><%= movicel_loop.token %><br>
            <strong>URI: </strong><%= movicel_loop.uri %><br>
            <hr>
            <strong>Detalhes do Processamento</strong><br>
            <strong>Ambiente: </strong><%= movicel_loop.ambiente %><br>
            <strong>Agente: </strong><%= movicel_loop.agente %><br>
            <strong>Terminal: </strong><%= movicel_loop.terminal %><br>
            <strong>Valor: </strong><%= movicel_loop.valor %><br>
            <strong>Repetição: </strong><%= movicel_loop.repeticao %><br>
            <strong>Nro. Inicial do Pedido: </strong><%= movicel_loop.nropedidoinicio %><br>
            <strong>Nro. Deste Pedido (Transação): </strong><%= movicel_loop.nropedido %>
          </td>        
          <td><%= link_to 'Processar', "/movicel_loops/#{movicel_loop.id}/processar", method: :post, data: { confirm: 'Tem certeza?' } %></td>
          <td><%= link_to 'Logs', "/movicel_loops/#{movicel_loop.id}/loop_logs" %></td>
          <td><%= link_to 'Mostrar', movicel_loop %></td>
          <td><%= link_to 'Editar', edit_movicel_loop_path(movicel_loop) %></td>
          <td><%= link_to 'Apagar', movicel_loop, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

      <%= link_to new_movicel_loop_path, class: 'btn btn-success', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-plus"></span>
        Novo Registo
      <% end %>

      <%= link_to root_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Voltar
      <% end %>

  </div>
</div>