<div class="container">

  <h4>Mostrar MovicelLoop</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>Usuário:</dt>
      <dd><%= @movicel_loop.usuario %></dd>
      <dt>Token:</dt>
      <dd><%= @movicel_loop.token %></dd>
      <dt>URI:</dt>
      <dd><%= @movicel_loop.uri %></dd>
      <dt>Ambiente:</dt>
      <dd><%= @movicel_loop.ambiente %></dd>
      <dt>Agente:</dt>
      <dd><%= @movicel_loop.agente %></dd>
      <dt>Terminal:</dt>
      <dd><%= @movicel_loop.terminal %></dd>
      <dt>Valor:</dt>
      <dd><%= @movicel_loop.valor %></dd>
      <dt>Repetição:</dt>
      <dd><%= @movicel_loop.repeticao %></dd>
      <dt>Nro. Inicial do Pedido:</dt>
      <dd><%= @movicel_loop.nropedidoinicio %></dd>
      <dt>Nro. deste pedido (transação):</dt>
      <dd><%= @movicel_loop.nropedido %></dd>
      <dt>Request log:</dt>
      <dd><%= @movicel_loop.request %></dd>
      <dt>Response log:</dt>
      <dd><%= @movicel_loop.response %></dd>
      <dt>Data da criação:</dt>
      <dd><%= @movicel_loop.created_at %></dd>
      <dt>Data da última utilização:</dt>
      <dd><%= @movicel_loop.updated_at %></dd>
    </dl>

    <div class="page-header">
      <%= link_to movicel_loops_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_movicel_loop_path(@movicel_loop), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>