<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>Log</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container scroltable">
    <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Responsável</th>
            <th>Data criação</th>
            <th>Titulo</th>
            <th>Dados alterados</th>
          </tr>
        </thead>

        <tbody>
          <% @logs.each do |log| %>
            <tr>
              <td><%= log.responsavel %></td>
              <td><%= log.created_at.strftime("%d/%m/%Y %H:%M") %></td>
              <td><%= log.titulo %></td>
              <td>
                <ul>
                  <% log.responsavel_obj_compara.each do |key,value| %>
                  <li><b><%= key %>:</b> <%= raw value %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <div class="apple_pagination">
        <%= will_paginate @log_alteracaos, :container => false %>
      </div>
  </div>
</div>