<div class="col-md-12">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <h4>Log do Sistema</h4>
  </div>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12 scroltable">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Nome do Usuário Responsável</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Título/Modelo</label>
            <div>
              <input type="text" name="titulo" value="<%= params[:titulo] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data da Criação do Registro / Evento (DE)</label>
            <div>
              <input type="date" name="created_at_de" value="<%= params[:created_at_de] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data da Criação do Registro / Evento (ATÉ)</label>
            <div>
              <input type="date" name="created_at_ate" value="<%= params[:created_at_ate] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Parte de texto que esteja contido em dados alterados</label>
            <div>
              <input type="text" name="dados_alterados" value="<%= params[:dados_alterados] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-info">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>        
      </div>
    </form>
  </div>
  <div class="col-md-12 scroltable">
    <% if @busca %>
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Responsável</th>
            <th>Data criação</th>
            <th>Título/Modelo</th>
            <th>Dados Alterados</th>
          </tr>
        </thead>

        <tbody>
          <% @logs.each do |log| %>
            <tr>
              <td><%= log.responsavel %></td>
              <td><%= log.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
              <td><%= log.titulo %></td>
              <td>
                <ul>
                  <% log.responsavel_obj_compara.each do |key,value| %>
                  <li><b><%= key %>:</b> <%= raw value %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <div class="apple_pagination">
        <%= will_paginate @logs, :container => false %>
      </div>
    <% else %>
      <h1 style="text-align:center">Insira um filtro de busca para listar os logs</h1>
    <% end %>
  </div>
</div>