<div class="container">

  <h4>Mostrar Log</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>Titulo:</dt>
      <dd><%= @log.titulo %></dd>
      <dt>Responsavel:</dt>
      <dd><%= @log.responsavel %></dd>
      <dt>Dados alterados:</dt>
      <dd><%= @log.dados_alterados %></dd>
    </dl>

    <div class="page-header">
      <%= link_to logs_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Voltar
      <% end %>
      <%= link_to edit_log_path(@log), class: 'btn btn-warning', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>