<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Lista Canais de Venda</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome do Canal de Venda</th>
          <th scope="col">Carragamento Mínimo KZ</th>
          <th scope="col">Dispositivo</th>
          <th colspan="3">Ações para o Registo</th>
        </tr>
      </thead>

      <tbody>
        <% @canal_vendas.each do |canal_venda| %>
        <tr>
          <td><%= canal_venda.id %></td>
          <td style="width: 200px"><%= canal_venda.nome %></td>
          <td style="width: 180px" align="right"><%= canal_venda.carregamento_minimo %></td>
          <td><%= canal_venda.dispositivo.nome %></td>
          <td><%= link_to 'Mostrar', canal_venda %></td>
          <td><%= link_to 'Editar', edit_canal_venda_path(canal_venda) %></td>
          <td><%= link_to 'Apagar', canal_venda, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @canal_vendas, :container => false %>
    </div> 

    <%= link_to new_canal_venda_path, class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registo
    <% end %>    

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>