<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@venda, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <% if @venda.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@venda.errors.count, "erros") %> no venda, confira abaixo:</h4>

            <ul>
            <% @venda.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-12">
          <%= f.label :product_id, "Produto no Pagasó", class: "col-sm-12" %>
          <%= f.text_field :product_id, class: "form-control" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :produto_id_parceiro, "Produto no Parceiro", class: "col-sm-12" %>
          <%= f.text_field :produto_id_parceiro, class: "form-control" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :product_nome, "Nome do Produto", class: "col-sm-12" %>
          <%= f.text_field :product_nome, class: "form-control" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :agent_id, "Agente", class: "col-sm-12" %>
          <%= f.text_field :agent_id, class: "form-control" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :store_id, "Store/Loja:", class: "col-sm-12" %>
          <%= f.text_field :store_id, class: "form-control" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :seller_id, "Seller/Vendedor:", class: "col-sm-12" %>
          <%= f.text_field :seller_id, class: "form-control" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :terminal_id, "Terminal:", class: "col-sm-12" %>
          <%= f.text_field :terminal_id, class: "form-control" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :valor_original, "Valor:", class: "col-sm-12" %>
          <%= f.text_field :valor_original, class: "form-control" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :desconto_aplicado, "Lucro:", class: "col-sm-12" %>
          <%= f.text_field :desconto_aplicado, class: "form-control" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :value, "Custo:", class: "col-sm-12" %>
          <%= f.text_field :value, class: "form-control" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :customer_number, "Customer Number/MSISDN:", class: "col-sm-12" %>
          <%= f.text_field :customer_number, class: "form-control" %>
        </div>

        <div class="form-input col-sm-12">
          <%= f.label :status, "Situação:", class: "col-sm-12" %>
          <%= f.text_field :status, class: "form-control" %>
        </div>

        <div class="form-actions col-sm-12">
          <br>
          <%= f.button :button, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-ok"></span>
            Confirmar
          <% end %>
        </div>
        <br>
        <br>

      <% end %>
    </div>
  </div>
</div>
