<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 25%">Dados</th>
      <th scope="col" style="width: 25%">Cliente</th>
      <th scope="col">Produto</th>
      <th scope="col"  style="text-align: center">Valor</th>
      <th scope="col"  style="text-align: center">Lucro</th>
      <th scope="col"  style="text-align: center">Custo</th>
      <th colspan="3">Ação</th>
    </tr>
  </thead>

  <tbody>
    <% 
    valor_original_total = 0
    valor_desconto_total = 0
    valor_total = 0 
    %>
    <% @vendas.each do |venda| %>
    <tr>
      <td>
        <b>ID da Venda:</b> <%= venda.id %> <b>- Login Usuário:</b> <%= venda.usuario.login %><br>
        <b>ID Interno do Usuário:</b> <%= venda.usuario_id %><br>
        <b>Usuário:</b> <%= venda.usuario.nome %><br>
        <b>Parceiro:</b> <%= venda.partner.name %><br>
        <% if venda.partner_id == Partner.zaptv.id %>
          <b>Categoria:</b> <%= venda.categoria.upcase %><br>
        <% end %>
        <b>Data da Venda:</b> <%= venda.created_at.strftime("%d/%m/%Y %H:%M:%S") %><br>
        <b>Situação:</b> <%= venda.status_desc.error_description_pt %> <%= " - #{venda.lancamento.nome}" rescue "" %><br>
      </td>
      <td>
        <% if venda.customer_number.present? %>
          <b>Número do Cliente:</b> <%= venda.customer_number %><br>
        <% end %>
        <% if venda.smartcard.present? %>
          <b>Smartcard:</b> <%= venda.smartcard %>
        <% end %>

        <% if usuario_logado.admin? || usuario_logado.operador? %>
          <b>Conta corrente ID</b> <a href="/conta_correntes/<%= venda.movimentacoes_conta_corrente.id rescue "" %>" target="_blank"><%= venda.movimentacoes_conta_corrente.id rescue "" %></a><br>
        <% end %>
      </td>
      <td>
        <% if usuario_logado.admin? || usuario_logado.operador? %>
          <a href="/produtos/<%= venda.product_id %>" target="_blank">
        <% end %>
          <%= venda.product_id %>
        </a>
        <hr>
        <%= venda.product_nome %>
        <hr>
        <%= venda.product.subtipo %>
      </td>
      <td style="width:110px" style="text-align: center"><%= number_to_currency(venda.valor_original) %></td>
      <% if venda&.status_desc&.sucesso %>
        <td style="width:110px" style="text-align: center">
          <%= number_to_currency(venda.desconto_aplicado) %><br>
          <% porcentagem = (venda.desconto_aplicado.to_f / venda.valor_original.to_f * 100) 
          unless porcentagem.nan? %>
            <%= number_to_currency(porcentagem, :unit => "", :precision => 3) %>%
          <% end %>
        </td>
        <td style="width:110px" style="text-align: center"><%= number_to_currency(venda.value) %></td>
      <% else %>
        <td style="width:110px" style="text-align: center"></td>
        <td style="width:110px" style="text-align: center"></td>
      <% end %>
      <td>
        <% if usuario_logado.admin? || usuario_logado.operador? %>
          <%= link_to 'Detalhes', venda, class: "btn btn-warning", style:"width:100px" %><br><br>
          <%= link_to 'Grupo Acesso', "/controle-acessos/#{venda.class}/#{venda.id}/grupos", class: "btn btn-warning", style:"width:100px" %>
        <% end %>
      </td>
      <% 
      valor_original_total += venda.valor_original
      valor_desconto_total += venda.desconto_aplicado 
      valor_total += venda.value 
      %>
    </tr>
    <% end %>
    <tfoot>
      <tr>
        <td style="text-align: center"></td>
        <td style="text-align: center"></td>
        <td style="text-align: center"><b>Total Página:</b></td>
        <td style="width:110px" style="text-align: center">
          <b><%= number_to_currency(valor_original_total) %></b>
        </td>    
        <td style="width:110px" style="text-align: center">
          <b>
            <%= number_to_currency(valor_desconto_total) %>
          </b>
        </td>
        <td style="width:110px" style="text-align: center">
          <b><%= number_to_currency(valor_total) %></b>
        </td>        
        <td style="text-align: center"></td>
      </tr>
    </tfoot>
  </tbody>
</table>

<div id="resumo_vendas">
  Carregando resumo ...
  <br>
  <br>
  <script>
    $(document).ready(function(){
      var params = window.location.href.split("?")[1]
      $.ajax({
        type: "GET",
        url: "/vendas_resumo?" + params,
        success: function(data){
          $("#resumo_vendas").html(data);
        }
      });
      $(".modal_loader").hide();
    });
  </script>
</div>

<div class="apple_pagination">
  <%= will_paginate @usuarios, :container => false %>
</div>