<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 25%">Dados</th>
      <th scope="col" style="width: 25%">Agente</th>
      <th scope="col">Produto</th>
      <th scope="col">Valor</th>
      <th scope="col">Lucro</th>
      <th scope="col">Custo</th>
      <th colspan="3">Ação</th>
    </tr>
  </thead>

  <tbody>
    <% 
    valor_original_total = 0
    valor_desconto_total = 0
    valor_total = 0 
    %>
    <% @vendas.each do |venda| %>
    <tr>
      <td>
        <b>ID da Venda:</b> <%= venda.id %> <b>Login Usuário:</b> <%= venda.usuario.login %><br>
        <b>ID Interno do Usuário</b> <%= venda.usuario_id %><br>
        <b>Usuário:</b> <%= venda.usuario.nome %><br>
        <b>Parceiro:</b> <%= venda.partner.name %><br>
        <b>Data da Venda:</b> <%= venda.created_at.strftime("%d/%m/%Y %H:%M:%S") %><br>
        <b>Status:</b> <%= venda.status_desc.error_description_pt %><br>
      </td>
      <td>
        <b>Customer Number /<br>Smartcard /<br> Device Number ou<br>MSIDN:</b> <%= venda.client_msisdn %>
      </td>
      <td>
        <% if usuario_logado.admin? || usuario_logado.operador? %>
          <a href="/produtos/<%= venda.product_id %>" target="_blank">
        <% end %>
          <%= venda.product_id %>
        </a>
        <hr>
        <%= venda.product_nome %>
      </td>
      <td style="width:110px" align="right"><%= number_to_currency(venda.valor_original) %></td>
      <td style="width:110px" align="right">
        <%= number_to_currency(venda.desconto_aplicado) %><br>
        <% porcentagem = (venda.desconto_aplicado.to_f / venda.valor_original.to_f * 100) 
        unless porcentagem.nan? %>
          <%= number_to_currency(porcentagem, :unit => "") %>%
        <% end %>
      </td>
      <td style="width:110px" align="right"><%= number_to_currency(venda.value) %></td>
      <td>
        <% if usuario_logado.admin? || usuario_logado.operador? %>
          <%= link_to 'Detalhes', venda, class: "btn btn-warning", style:"width:100px" %><br><br>
          <%= link_to 'Grupo Acesso', "/controle-acessos/#{venda.class}/#{venda.id}/grupos", class: "btn btn-warning", style:"width:100px" %>
        <% end %>
      </td>
      <% 
      valor_original_total += venda.valor_original
      valor_desconto_total += venda.desconto_aplicado 
      valor_total += venda.value 
      %>
    </tr>
    <% end %>
    <tfoot>
      <tr>
        <td align="right"></td>
        <td align="right"></td>
        <td align="right"><b>Total:</b></td>
        <td style="width:110px" align="right">
          <b><%= number_to_currency(valor_original_total) %></b>
        </td>    
        <td style="width:110px" align="right">
          <b>
            <%= number_to_currency(valor_desconto_total) %>
          </b>
        </td>
        <td style="width:110px" align="right">
          <b><%= number_to_currency(valor_total) %></b>
        </td>        
        <td align="right"></td>
      </tr>
    </tfoot>
  </tbody>
</table>

<h4>
  Total de recargas ou transações: <strong><%= number_to_currency(Venda.total_acesso(@adm, @vendas_graficos), :unit => "KZ") %></strong>
</h4>
<h4>
  Total de lucro: <strong><%= number_to_currency(Venda.total_lucros_acesso(@adm, @vendas_graficos), :unit => "KZ") %></strong>
</h4>

<div class="apple_pagination">
  <%= will_paginate @usuarios, :container => false %>
</div>