<div class="col-md-12">
  <div class="col-md-12">
    <h3>Relatório de Vendas por Dia</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12" style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data Inicial da Venda</label>
            <div>
              <input type="date" name="data_inicio" value="<%= params[:data_inicio] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data Final da Venda</label>
            <div>
              <input type="date" name="data_fim" value="<%= params[:data_fim] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Parceiro</label>
            <div>
              <select name="parceiro_id" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% Partner.all.reorder(name: :asc).each do |partner| %>
                  <option value="<%= partner.id %>" <% if partner.id.to_s == params[:parceiro_id] %> selected="selected" <% end %> ><%= partner.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Status Parceiro</label>
            <div>
              <select name="status_parceiro_id" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% StatusParceiro.all.reorder(nome: :asc).each do |status_parceiro| %>
                  <option value="<%= status_parceiro.id %>" <% if status_parceiro.id.to_s == params[:status_parceiro_id] %> selected="selected" <% end %> ><%= status_parceiro.nome %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Status do Usuário</label>
            <div>
              <select name="status" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% StatusCliente.all.each do |status| %>
                  <option value="<%= status.id %>" <% if params[:status].to_s == status.id.to_s %> selected="selected" <% end %>><%= status.nome %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Tipo Transação</label>
            <div>
              <select name="return_code" class="form-control">
                <option value="">Todos</option>
                <option value="">Pagamentos de Faturas DSTV</option>
                <option value="">Alterações de Pacotes de Produtos ou Planos de Cobrança DSTV</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Status da Venda</label>
            <div>
              <select name="return_code" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <option value="sucesso" <% if params[:return_code] == "sucesso" %> selected="selected" <% end %>>Todos com sucesso</option>
                <% Partner.where(status_parceiro_id: StatusParceiro::ATIVO_TEMPORARIAMENTE_INDISPONIVEL).each do |partner| %>
                  <optgroup label="<%= partner.name %>">
                    <% ReturnCodeApi.where(partner_id: partner.id).each do |ret| %>
                      <option value="<%= ret.id %>" <% if ret.id.to_s == params[:return_code] %> selected="selected" <% end %> ><%= ret.partner.name %> - <%= ret.sucesso ? "[SUCESSO] - " : "" %><%= ret.error_description_pt %></option>
                    <% end %>
                  </optgroup>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-success">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
        </div>
      </div>
    </form>
  </div>

  <div class="scroltable col-md-12">
    <h4>
      Total de Ocorrências: <strong><%= number_to_currency(@vendas_total, :precision => 0, :unit => "") %></strong>
    </h4>
    <hr>
    
    <!-- Grafico de barras -->
    <!--div class="container scroltable" style="overflow:hidden">
      <div style="width: 100%">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load("current", {packages:['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ["Data", "Valor", { role: "style" }],
              <% @vendas.each do |venda| 
                venda = OpenStruct.new venda %>
                ["<%= venda.data_venda.to_datetime.strftime("%d/%m/%Y") %>", 
                <%= venda.valor.round(2) %>,
                "#4169E1"],
              <% end %>
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                            { calc: "stringify",
                              sourceColumn: 1,
                              type: "string",
                              role: "annotation" },
                            2]);

            var options = {
              bar: {groupWidth: "95%"},
              legend: { position: "none" },
            };
            var chart = new 
            google.visualization.ColumnChart(document.getElementById("columnchart_values"));
            chart.draw(view, options);
        }
        </script>
        <div id="columnchart_values" style="height: 100%"></div>
      </div>
    </div>
    <hr-->

    <table class="table table-hover">
      <thead>
        <tr>
          <th style="text-align:center" scope="col">Data da Venda</th>
          <th style="text-align:right" scope="col">Valor</th>
          <th style="text-align:right" scope="col">Lucro</th>
          <th style="text-align:right" scope="col">Custo</th>
        </tr>
      </thead>

      <tbody>
        <% 
        valor_original_total = 0
        valor_desconto_total = 0
        valor_total = 0 
        %>
        <% @vendas.each do |venda| 
          venda = OpenStruct.new venda
        %>
        <tr>
          <td style="text-align:center" ><%= venda.data_venda.to_datetime.strftime("%d/%m/%Y") %></td>
          <td align="right"><%= number_to_currency(venda.valor) %></td>
          <td align="right">
            <%= number_to_currency(venda.lucro) %><br>
            <% porcentagem = (venda.lucro.to_f / venda.valor.to_f * 100) %>
          </td>
          <td align="right"><%= number_to_currency(venda.custo) %></td>
          <% 
            valor_original_total += venda.valor
            valor_desconto_total += venda.lucro 
            valor_total += venda.custo 
          %>
        </tr>
        <% end %>
        <tfoot>
          <tr>
            <td align="right"><b>Total:</b></td>
            <td align="right">
              <b><%= number_to_currency(valor_original_total) %></b>
            </td>    
            <td align="right">
              <b>
                <%= number_to_currency(valor_desconto_total) %>
              </b>
            </td>
            <td align="right">
              <b><%= number_to_currency(valor_total) %></b>
            </td>        
          </tr>
        </tfoot>
      </tbody>
    </table>
    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>

<% if @adm.id == Usuario::ROOT %>
<!--
SQL QUERY BUILDER
-----------------------------------------------------------------------------------------------------------------------------------------
<%= raw @sql %>
-----------------------------------------------------------------------------------------------------------------------------------------
-->
<% end %>
