<div class="col-md-12">
  <div class="col-md-12">
    <br>
    <h3>Relatório de Vendas - Consolidado por Dia</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12" style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data Inicial da Venda</label>
            <div>
              <input type="date" name="data_inicio" value="<%= params[:data_inicio] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data Final da Venda</label>
            <div>
              <input type="date" name="data_fim" value="<%= params[:data_fim] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Parceiro</label>
            <div>
              <select name="parceiro_id" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% Partner.all.reorder(name: :asc).each do |partner| %>
                  <option value="<%= partner.id %>" <% if partner.id.to_s == params[:parceiro_id] %> selected="selected" <% end %> ><%= partner.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Situação do Parceiro</label>
            <div>
              <select name="status_parceiro_id" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% StatusParceiro.all.reorder(nome: :asc).each do |status_parceiro| %>
                  <option value="<%= status_parceiro.id %>" <% if status_parceiro.id.to_s == params[:status_parceiro_id] %> selected="selected" <% end %> ><%= status_parceiro.nome %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Quantidade por página</label>
            <div>
              <select name="per_page" class="form-control">
                <option value="" <% if params[:per_page].blank? %> selected="selected" <% end %>>[Selecione]</option>
                <% [31, 40, 50, 100, 200, 300, 400, 1000, 2000, 3000].each do |per_page| %>
                  <option value="<%= per_page %>" <% if @per_page.to_s == per_page.to_s %> selected="selected" <% end %>><%= per_page %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Situação do Usuário</label>
            <div>
              <select name="status" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% StatusCliente.all.each do |status| %>
                  <option value="<%= status.id %>" <% if params[:status].to_s == status.id.to_s %> selected="selected" <% end %>><%= status.nome %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Lançamentos</label>
            <div>
              <select name="lancamento_id" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% Lancamento.all.each do |lancamento| %>
                  <option value="<%= lancamento.id %>" <% if lancamento.id.to_s == params[:lancamento_id] %> selected="selected" <% end %> ><%= lancamento.nome %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Situação da Venda</label>
            <div>
              <select name="return_code" class="form-control">
                <option value="">Todos</option>
                <option value="sucesso" <% if params[:return_code] == "sucesso" || !params.has_key?(:return_code) %> selected="selected" <% end %>>Todos com sucesso</option>
                <% Partner.where(status_parceiro_id: StatusParceiro::ATIVO_TEMPORARIAMENTE_INDISPONIVEL).each do |partner| %>
                  <optgroup label="<%= partner.name %>">
                    <% ReturnCodeApi.where(partner_id: partner.id).each do |ret| %>
                      <option value="<%= ret.id %>" <% if ret.id.to_s == params[:return_code] %> selected="selected" <% end %> ><%= ret.partner.name %> - <%= ret.sucesso ? "[SUCESSO] - " : "" %><%= ret.error_description_pt %></option>
                    <% end %>
                  </optgroup>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-success">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
        </div>
      </div>
    </form>
  </div>

  <% if @vendas_total.present? %>
    <!-- Grafico de barras -->
    <div style="float:left;overflow:hidden;width:100%;clear:both;margin-bottom:20px">
      <% if @vendas_data.present? %>
        <h2>Total geral de vendas no período<h2>
        <div style="width: 100%; overflow:auto">
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
            <% if @grafico_dia %>
              google.charts.load('current', {'packages':['line']});
              google.charts.setOnLoadCallback(drawChart);

              function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Data');
                data.addColumn('number', 'Valor');

                var dados = []
                <% @vendas_data.each do |venda| 
                  venda = OpenStruct.new venda %>
                  dados.push(['<%= venda.data_venda %>', <%= venda.valor_original.round(2) %>])
                <% end %>
                
                data.addRows(dados);

                var chart = new google.charts.Line(document.getElementById('columnchart_values'));
                chart.draw(data, google.charts.Line.convertOptions({
                  legend: { position: "none" },
                }));
              }
            <% else %>
              google.charts.load("current", {packages:['corechart']});
              google.charts.setOnLoadCallback(drawChart);
              function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ["Data", "Valor", { role: "style" }],
                <% @vendas_data.each do |venda| 
                  venda = OpenStruct.new venda %>
                  ["<%= venda.data_venda %>", 
                  <%= venda.valor_original.round(2) %>,
                  "#4169E1"],
                <% end %>
                ]);

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,
                              { calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation" },
                              2]);
                var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                chart.draw(view, {
                  bar: {groupWidth: "95%"},
                  legend: { position: "none" },
                });
              }
            <% end %>
          </script>
          <div id="columnchart_values" style="height: 100%"></div>
        </div>
      <% end %>
    </div>
    <hr>

  
    <div class="scroltable col-md-12">
        <h4>
          Total de Ocorrências: <strong><%= number_to_currency(@vendas_total, :precision => 0, :unit => "") %></strong>
        </h4>
        <hr>

        <table class="table table-hover">
          <thead>
            <tr>
              <th style="text-align:center" scope="col">Data da Venda</th>
              <th style="text-align:right" scope="col">Valor</th>
              <th style="text-align:right" scope="col">Lucro</th>
              <th style="text-align:right" scope="col">Custo</th>
            </tr>
          </thead>

          <tbody>
            <% 
            valor_original_total = 0
            valor_desconto_total = 0
            valor_total = 0 
            %>
            <% @vendas.each do |venda| 
              venda = OpenStruct.new venda
            %>
            <tr>
              <td style="text-align:center" ><%= venda.data_venda.to_datetime.strftime("%d/%m/%Y") %></td>
              <td align="right"><%= number_to_currency(venda.valor_original) %></td>
              <td align="right">
                <%= number_to_currency(venda.desconto_aplicado) %><br>
                <% porcentagem = (venda.desconto_aplicado.to_f / venda.valor_original.to_f * 100) 
                unless porcentagem.nan? %>
                  <%= number_to_currency(porcentagem, :unit => "", :precision => 3) %>%
                <% end %>
              </td>
              <td align="right"><%= number_to_currency(venda.value) %></td>
              <% 
                valor_original_total += venda.valor_original
                valor_desconto_total += venda.desconto_aplicado 
                valor_total += venda.value 
              %>
            </tr>
            <% end %>
            <tfoot>
              <tr>
                <td align="right"><b>Total da página:</b></td>
                <td align="right">
                  <b><%= number_to_currency(valor_original_total) %></b>
                </td>    
                <td align="right">
                  <b>
                    <%= number_to_currency(valor_desconto_total) %>
                  </b>
                </td>
                <td align="right">
                  <b><%= number_to_currency(valor_total) %></b>
                </td>        
              </tr>
            </tfoot>
          </tbody>
        </table>

        <%= render "/shared/paginate", path: "/vendas/consolidado", records: @vendas, :per_page => @per_page %>

        <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Voltar
        <% end %>
      </div>
    </div>
    <% if @adm.id == Usuario::ROOT %>
      <!--
      SQL QUERY BUILDER
      -----------------------------------------------------------------------------------------------------------------------------------------
      <%= raw @sql %>
      -----------------------------------------------------------------------------------------------------------------------------------------
      -->
      <% end %>
    <% else %>
      <div style="height: 100px; text-align:center;font-size: 20px; color: #856404; padding: 20px;">
        Informe os parâmetros de busca
      </div>
  <% end %>
</div>