<div class="container">
  <h4>Vendas</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container" style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Log transação Ex: (Request_ID, saleTimestamp)</label>
            <div>
              <input type="text" name="log" value="<%= params[:log] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Status</label>
            <div>
              <select name="return_code" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% ReturnCodeApi.all.each do |ret| %>
                  <option value="<%= ret.return_code %>" <% if ret.return_code == params[:return_code] %> selected="selected" <% end %> ><%= ret.error_description_pt %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data Inicial</label>
            <div>
              <input type="date" name="data_inicio" value="<%= params[:data_inicio] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data Final</label>
            <div>
              <input type="date" name="data_fim" value="<%= params[:data_fim] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Usuário</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Parceiro</label>
            <div>
              <select name="parceiro_id" onchange="pgstrans.carregaProdutosPorParceiro(this)" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% Partner.all.each do |partner| %>
                  <option value="<%= partner.id %>" <% if partner.id.to_s == params[:parceiro_id] %> selected="selected" <% end %> ><%= partner.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Produto</label>
            <div>
              <select name="produto_id" id="produto_id" class="form-control">
                <option value="" selected="selected">Todos</option>
                <% if params[:parceiro_id].present? %>
                  <% Produto.where(partner_id: params[:parceiro_id]).each do |produto| %>
                    <option value="<%= produto.id %>" <% if produto.id.to_s == params[:produto_id] %> selected="selected" <% end %> ><%= produto.description %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Agente</label>
            <div>
              <input type="text" name="agente" value="<%= params[:agente] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Store</label>
            <div>
              <input type="text" name="store" value="<%= params[:store] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Seller</label>
            <div>
              <input type="text" name="seller" value="<%= params[:seller] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Valor</label>
            <div>
              <input type="text" name="valor" value="<%= params[:valor] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Client MSISDN / Nro.Cartão</label>
            <div>
              <input type="text" name="client_msisdn" value="<%= params[:client_msisdn] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-success">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
        </div>
      </div>
    </form>
  </div>

  <div class="container scroltable" style="width: 100%;overflow: scroll;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Usuário</th>
          <th scope="col">Parceiro</th>
          <th scope="col">Data da Venda</th>
          <th scope="col">Status</th>
          <th scope="col">Product</th>
          <th scope="col">Agent</th>
          <th scope="col">Store</th>
          <th scope="col">Seller</th>
          <th scope="col">Terminal</th>
          <th scope="col">Value</th>
          <th scope="col">Client MSIDDN / Nro.Cartão</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @vendas.each do |venda| %>
        <tr>
          <td><%= venda.id %></td>
          <td><%= venda.usuario.nome %></td>
          <td><%= venda.partner.name %></td>
          <td><%= venda.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <%#= venda.updated_at.strftime("%d/%m/%Y %H:%M") %>
          <td><%= venda.status_desc.error_description_pt %></td>
          <td>
            <%= venda.product_id %>
            <hr>
            <%= venda.product_nome %>
          </td>
          <td><%= venda.agent_id %></td>
          <td><%= venda.store_id %></td>
          <td><%= venda.seller_id %></td>
          <td><%= venda.terminal_id %></td>
          <td><%= venda.value %></td>
          <td><%= venda.client_msisdn %></td>
          <td><%= link_to 'Mostrar', venda %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @usuarios, :container => false %>
    </div>

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>