<div>
  <%= render :partial => 'shared/menu' %>

  <div class="card" style="margin-top: 5px;">
    <div class="card-header" style="text-align: center;font-size: 20px;font-weight: bold;">
      VENDAS
    </div>
    <div class="card-body recarga">
      <div class="container" style="margin-top:10px">
        <dl class="dl-horizontal">
          <dt>Produto:</dt>
          <dd><%= @venda.product_id %></dd>
          <dt>Agente:</dt>
          <dd><%= @venda.agent_id %></dd>
          <dt>Loja:</dt>
          <dd><%= @venda.store_id %></dd>
          <dt>Seller/Vendedor:</dt>
          <dd><%= @venda.seller_id %></dd>
          <dt>Terminal:</dt>
          <dd><%= @venda.terminal_id %></dd>
          <dt>Valor KZ:</dt>
          <dd><%= @venda.value %></dd>
          <dt>Client MSISDN/Telemóvel/Nro.Cartão:</dt>
          <dd><%= @venda.client_msisdn %></dd>
          <dt>Situação:</dt>
          <dd><%= @venda.status %></dd>
          <dt>Request send:</dt>
          <dd><%= @venda.request_send %></dd>
          <dt>Response get:</dt>
          <dd><%= @venda.response_get %></dd>
          <dt>Status do processamento na operadora:</dt>
          <dd><%= @venda.status_movicel %></dd>
        </dl>

        <div class="page-header">
          <%= link_to vendas_resumido_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>