<div>
  <%= render :partial => 'shared/menu' %>

  <div class="card" style="margin-top: 5px;">
    <div class="card-header" style="text-align: center;font-size: 20px;font-weight: bold;">
      VENDAS
    </div>
    <form action="" method="get" id="formApuracao">
      <div class="card-body recarga">
        <div class="container" style="margin-top:10px">
          <!-- <div class="row" style="padding:10px">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Log transação Ex: (Request_ID, saleTimestamp)</label>
                <div>
                  <input type="text" name="log" value="<%= params[:log] %>" class="form-control">
                </div>
              </div>
            </div> -->
            <!-- <div class="col-sm-6">
              <div class="form-group">
                <label>Status</label>
                <div>
                  <select name="return_code" class="form-control">
                    <option value="" selected="'selected'">Todos</option>
                    <% ReturnCodeApi.all.each do |ret| %>
                      <option value="<%= ret.return_code %>" <% if ret.return_code == params[:return_code] %> selected="selected" <% end %> ><%= ret.error_description_pt %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div> -->
            <div class="col-sm-2">
              <div class="form-group">
                <label>Data Inicial</label>
                <div>
                  <input type="date" name="data_inicio" value="<%= params[:data_inicio] %>" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Data Final</label>
                <div>
                  <input type="date" name="data_fim" value="<%= params[:data_fim] %>" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Parceiro</label>
                <div>
                  <select name="parceiro_id" onchange="pgstrans.carregaProdutosPorParceiro(this)" class="form-control">
                    <option value="" selected="'selected'">Todos</option>
                    <% Partner.all.each do |partner| %>
                      <option value="<%= partner.id %>" <% if partner.id.to_s == params[:parceiro_id] %> selected="selected" <% end %> ><%= partner.name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <label>Produto</label>
                <div>
                  <select name="produto_id" id="produto_id" class="form-control">
                    <option value="" selected="selected">Todos</option>
                    <% if params[:parceiro_id].present? %>
                      <% Produto.where(partner_id: params[:parceiro_id]).each do |produto| %>
                        <option value="<%= produto.id %>" <% if produto.id.to_s == params[:produto_id] %> selected="selected" <% end %> ><%= produto.description %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Agente</label>
                <div>
                  <input type="text" name="agente" value="<%= params[:agente] %>" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Store/Loja</label>
                <div>
                  <input type="text" name="store" value="<%= params[:store] %>" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Seller/Vendedor</label>
                <div>
                  <input type="text" name="seller" value="<%= params[:seller] %>" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Valor KZ maior que</label>
                <div>
                  <input type="text" name="valor" value="<%= params[:valor] %>" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Customer Number/MSISDN</label>
                <div>
                  <input type="text" name="client_msisdn" value="<%= params[:client_msisdn] %>" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div style="float: right;margin-right:10px">
              <input type="submit" value="Buscar" class="btn btn-success">
            </div>
          </div>
        </div>
      </form>

      <% if Venda.total(@adm) > 0 %>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load("current", {packages:["corechart"]});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Operadora', 'Vendas'],
              <% Partner.where(status_parceiro_id: 1).each do |partner| %>
                ['<%= partner.name %>',  <%= partner.total_vendas(@adm) %>],
              <% end %>
            ]);

            var options = {
              title: 'Volume de Vendas',
              is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('grafico_vendas'));
            chart.draw(data, options);
          }
        </script>
        <div id="grafico_vendas" style="width: 100%; height: 500px;"></div>
      <% end %>

      <div class="container scroltable" style="width: 100%;overflow: scroll;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Usuário</th>
              <th scope="col">Parceiro</th>
              <th scope="col">Data</th>
              <th scope="col">Situação</th>
              <th scope="col">Produto</th>
              <th scope="col">Agente</th>
              <th scope="col">ID da Loja</th>
              <th scope="col">ID do Vendedor</th>
              <th scope="col">Terminal</th>
              <th scope="col">Customer Number/MSISDN</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>

          <tbody>
            <% valor_total = 0 %>
            <% @vendas.each do |venda| %>
            <tr>
              <td><%= venda.usuario.nome %></td>
              <td><%= venda.partner.name %></td>
              <td><%= venda.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
              <td><%= venda.status_desc.error_description_pt %></td>
              <td align="right"><%= venda.product_id %></td>
              <td align="right"><%= venda.agent_id %></td>
              <td align="right"><%= venda.store_id %></td>
              <td align="right"><%= venda.seller_id %></td>
              <td align="right"><%= venda.terminal_id %></td>
              <td align="right"><%= venda.client_msisdn %></td>
              <td style="width:110px" align="right"><%= number_to_currency(venda.value) %></td>              
              <% valor_total += venda.value %>
            </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td align="right"></td>
              <td align="right"></td>
              <td align="right"></td>
              <td align="right"></td>
              <td align="right"></td>
              <td align="right"><b>Total:</b></td>
              <td style="width:110px" align="right">
                <b><%= number_to_currency(valor_total) %></b>
              </td>              
            </tr>
          </tfoot>
        </table>

        <h2>
          Total de vendas ou recargas efetuadas com sucesso: <%= number_to_currency(Venda.total(@adm), :unit => "KZ") %>
        </h2>

        <div class="apple_pagination">
          <%= will_paginate @usuarios, :container => false %>
        </div>
      </div>
    </div>
  </div>
</div>