<div class="container">

  <h4>Detalhes da Venda</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>ID:</dt>
      <dd><%= @venda.id %></dd>
      <dt>Produto:</dt>
      <dd><%= @venda.product_id %></dd>
      <dt>Agente:</dt>
      <dd><%= @venda.agent_id %></dd>
      <dt>Store/Loja:</dt>
      <dd><%= @venda.store_id %></dd>
      <dt>Seller/Vendedor:</dt>
      <dd><%= @venda.seller_id %></dd>
      <dt>Terminal:</dt>
      <dd><%= @venda.terminal_id %></dd>
      <dt>Valor KZ:</dt>
      <dd><%= @venda.value %></dd>
      <dt>Client MSISDN/Nro.Cartão:</dt>
      <dd><%= @venda.client_msisdn %></dd>
      <dt>Situação:</dt>
      <dd><%= @venda.status %></dd>
      <dt>Request send:</dt>
      <dd><%= @venda.request_send %></dd>
      <dt>Response get:</dt>
      <dd><%= @venda.response_get %></dd>
      <dt>Status do processamento na operadora:</dt>
      <dd><%= @venda.status_movicel %></dd>
      <dt>Data criação:</dt>
      <dd><%= @venda.created_at.strftime("%d/%m/%Y %H:%M") %></dd>
      <dt>Data atualizaçao:</dt>
      <dd><%= @venda.update_at.strftime("%d/%m/%Y %H:%M") %></dd>

      <% if @venda.partner.slug.to_s.downcase == "unitel" %>
        <hr>
        <dt>Id transação Unitel:</dt>
        <dd><%= @venda.response_get_parse["idTransaction"] rescue "" %></dd>
      <% end %>
    </dl>

    <div class="page-header">
      <%= link_to vendas_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>

      <% if @venda.partner.slug.downcase == "zaptv" && @venda.status != "7000" %>
        <%= link_to venda_reverter_venda_zaptv_path(@venda), class: 'btn btn-danger', "data-confirm"=>"Tem Certeza?", "data-method"=>"delete" do %>
          Reverter
        <% end %>
      <% end %>

      <% if @venda.partner.slug.downcase == "zaptv" && @venda.status != "7000" %>
        <%= link_to venda_reverter_venda_zaptv_path(@venda), class: 'btn btn-danger', "data-confirm"=>"Tem Certeza?", "data-method"=>"delete" do %>
          Reverter
        <% end %>
      <% end %>
    </div>
  </div>
</div>