<% if @venda.partner.id == Partner.ende.id %>
  <% infos = Ende.informacoes_parse(@venda.response_get, EndeUniqNumber.find(@venda.request_id)) %>
<% end %>

<div class="col-md-12">
  <div class="col-md-12">
    <h3>Detalhes da Venda</h3>
  </div>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>ID da Venda:</dt>
      <dd><%= @venda.id %></dd>
      <dt>Produto no Pagasó:</dt>
      <dd>
        <% if @venda.product_id.present? %>
          <a href="/produtos/<%= @venda.product_id %>" target="_blank">
            <%= @venda.product_id %>
          </a>
        <% else %>
            <%= "#{@venda.lancamento.nome}" rescue "" %>
        <% end %>
      </dd>
      <dt>Nome do Parceiro:</dt>
      <dd>
        <%= @venda.partner.name %>
      </dd>    
      <dt>Produto no Parceiro:</dt>
      <dd>
        <%= @venda.produto_id_parceiro %>
      </dd>
      <dt>Nome do Produto:</dt>
      <dd>
        <%= @venda.product_nome %>
      </dd>
      <dt>Valor:</dt>
      <dd><%= number_to_currency(@venda.valor_original) %></dd>
      <dt>Lucro:</dt>
      <dd>
        <%= number_to_currency(@venda.desconto_aplicado) %><br>
        <% porcentagem = (@venda.desconto_aplicado.to_f / @venda.valor_original.to_f * 100) 
        unless porcentagem.nan? %>
          <%= number_to_currency(porcentagem, :unit => "") %>%
        <% end %>
      </dd>
      <dt>Custo:</dt>
      <dd><%= number_to_currency(@venda.value) %></dd>

      <% if @venda.partner.id == Partner.ende.id %>
        <% infos.each do |info|%>
          <% if info["availCredit"].present? %>
            <dt>Saldo Pagasó ENDE:</dt>
            <dd><%= number_to_currency(info["availCredit"]["value"], :precision => 2, :unit => Ende.akz_parse(info["availCredit"]["symbol"])) %></dd>
          <% end %>
        <% end %>
      <% end %>

      <% if @venda.customer_number.present? %>
        <dt>Número do Cliente:</dt>
        <dd><%= @venda.customer_number %></dd>
      <% end %>
      <% if @venda.smartcard.present? %>
        <dt>Smartcard:</dt>
        <dd><%= @venda.smartcard %></dd>
      <% end %>
      <dt>Situação:</dt>
      <dd><%= @venda.status_desc.error_description_pt %> - <strong><%= "#{@venda.lancamento.nome}" rescue "" %></strong></dd>

      <% if @venda.error_message.present? %>
      <dt>Mensagem de erro:</dt>
      <dd><%= @venda.error_message %></strong></dd>
      <% end %>

      <% if @venda.log_error_text.present? %>
      <dt>Log Error Text:</dt>
      <dd><%= @venda.log_error_text %></strong></dd>
      <% end %>
      
      <% if @venda.partner.id == Partner.ende.id %>
        <% infos.each do |info|%>
          <%= render "/ende/venda_recibo", info: info, title: "Recibo de Venda de Crédito", venda: @venda %>
        <% end %>
      <% end %>

      <% if usuario_logado.admin? %>
        <br>
        <dt>Request send:</dt>
        <dd><%= @venda.request_send %></dd>
        <br>
        <dt>Response get:</dt>
        <dd><%= @venda.response_get %></dd>
      <% end %>
      
      <dt>Status do processamento na operadora:</dt>
      <dd><%= @venda.status_movicel %></dd>
      <dt>Data criação:</dt>
      <dd><%= @venda.created_at.strftime("%d/%m/%Y %H:%M:%S") %></dd>
      <dt>Data atualizaçao:</dt>
      <dd><%= @venda.updated_at.strftime("%d/%m/%Y %H:%M:%S") %></dd>
      <% if @venda.partner.slug.to_s.downcase == "unitel" %>
        <hr>
        <dt>Id transação Unitel:</dt>
        <dd><%= @venda.response_get_parse["idTransaction"] rescue "" %></dd>
      <% end %>
    </dl>

    <div class="page-header">
      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>

      <% if @venda.partner.slug.downcase == "zaptv" && @venda.status != "7000" %>
        <%= link_to venda_reverter_venda_zaptv_path(@venda), class: 'btn btn-danger', "data-confirm"=>"Tem Certeza?", "data-method"=>"delete" do %>
          Reverter
        <% end %>
      <% end %>
    </div>
  </div>
</div>