<div class="col-md-12">
  <div class="col-md-12">
    <h3>Detalhes da Venda</h3>
  </div>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>ID da Venda:</dt>
      <dd><%= @venda.id %></dd>
      <dt>Produto no Pagasó:</dt>
      <dd>
        <% if @venda.product_id.present? %>
          <a href="/produtos/<%= @venda.product_id %>" target="_blank">
            <%= @venda.product_id %>
          </a>
        <% else %>
            <%= "#{@venda.lancamento.nome}" rescue "" %>
        <% end %>
      </dd>
      <dt>Produto no Parceiro:</dt>
      <dd>
        <%= @venda.produto_id_parceiro %>
      </dd>
      <dt>Nome do Produto:</dt>
      <dd>
        <%= @venda.product_nome %>
      </dd>
      <dt>Valor:</dt>
      <dd><%= number_to_currency(@venda.valor_original) %></dd>
      <dt>Lucro:</dt>
      <dd>
        <%= number_to_currency(@venda.desconto_aplicado) %><br>
        <% porcentagem = (@venda.desconto_aplicado.to_f / @venda.valor_original.to_f * 100) 
        unless porcentagem.nan? %>
          <%= number_to_currency(porcentagem, :unit => "") %>%
        <% end %>
      </dd>
      <dt>Custo:</dt>
      <dd><%= number_to_currency(@venda.value) %></dd>
      <% if @venda.customer_number.present? %>
        <dt>Número do Cliente:</dt>
        <dd><%= @venda.customer_number %></dd>
      <% end %>
      <% if @venda.smartcard.present? %>
        <dt>Smartcard:</dt>
        <dd><%= @venda.smartcard %></dd>
      <% end %>
      <dt>Situação:</dt>
      <dd><%= @venda.status_desc.error_description_pt %> - <strong><%= "#{@venda.lancamento.nome}" rescue "" %></strong></dd>
      
      <% if @venda.partner.id == Partner.ende.id %>
        <% 
        xml = @venda.response_get.gsub(/===.*?</, "<").gsub(/>===.*/, ">")
        data = Nokogiri::XML(xml)
        data.children.children.children.children.each do |children|
        %>
          <dt><%= children.name %>:</dt>
          <dd>
            <% if children.attributes["name"].present? %>
              <b>name: </b> <%= children.attributes["name"].value %><br>
            <% end %>
            <% if children.attributes["address"].present? %>
              <b>address: </b> <%= children.attributes["address"].value %><br>
            <% end %>
            <% if children.attributes["taxRef"].present? %>
              <b>taxRef: </b> <%= children.attributes["taxRef"].value %><br>
            <% end %>
            <% if children.attributes["type"].present? %>
              <b>Type: </b> <%= children.attributes["type"].value %><br>
            <% end %>
            <% if children.attributes["ean"].present? %>
              <b>Ean: </b> <%= children.attributes["ean"].value %><br>
            <% end %>
            <% if children.attributes["dateTime"].present? %>
              <b>DateTime: </b> <%= children.attributes["dateTime"] %><br>
            <% end %>
            <% if children.attributes["availCredit"].present? %>
              <b>availCredit: </b> <%= children.attributes["availCredit"] %><br>
            <% end %>
            <% if children.attributes["contactNo"].present? %>
              <b>contactNo: </b> <%= children.attributes["contactNo"] %><br>
            <% end %>
            <% if children.attributes["accNo"].present? %>
              <b>accNo: </b> <%= children.attributes["accNo"] %><br>
            <% end %>
            <% if children.attributes["locRef"].present? %>
              <b>locRef: </b> <%= children.attributes["locRef"] %><br>
            <% end %>
            <% if children.attributes["utilityType"].present? %>
              <b>utilityType: </b> <%= children.attributes["utilityType"] %><br>
            <% end %>
            <% if children.attributes["daysLastPurchase"].present? %>
              <b>daysLastPurchase: </b> <%= children.attributes["daysLastPurchase"] %><br>
            <% end %>
            <% if children.attributes["receiptNo"].present? %>
              <b>receiptNo: </b> <%= children.attributes["receiptNo"] %><br>
            <% end %>
            <% if children.attributes["uniqueNumber"].present? %>
              <b>UniqueNumber: </b> <%= children.attributes["uniqueNumber"] %><br>
            <% end %>
            <% if children.attributes["krn"].present? %>
              <b>krn: </b> <%= children.attributes["krn"] %><br>
            <% end %>
            <% if children.attributes["ti"].present? %>
              <b>ti: </b> <%= children.attributes["ti"] %><br>
            <% end %>
            <% if children.attributes["sgc"].present? %>
              <b>sgc: </b> <%= children.attributes["sgc"] %><br>
            <% end %>
            <% if children.attributes["unitOfMeasurement"].present? %>
              <b>unitOfMeasurement: </b> <%= children.attributes["unitOfMeasurement"] %><br>
            <% end %>
            <% if children.attributes["msno"].present? %>
              <b>msno: </b> <%= children.attributes["msno"] %><br>
            <% end %>
            <% if children.attributes["tt"].present? %>
              <b>tt: </b> <%= children.attributes["tt"] %><br>
            <% end %>
            <% if children.attributes["siUnit"].present? %>
              <b>siUnit: </b> <%= children.attributes["siUnit"] %><br>
            <% end %>
            <% if (children.children rescue nil).present? %>
              <% children.children.each do |children1| %>
                <b>name:</b> <%= children1.name %><br>
                <% if children1.attributes["value"].present? %>
                  <b>value:</b> <%= children1.attributes["value"].value %><br>
                <% end %>
                <% if children1.attributes["symbol"].present? %>
                  <b>symbol:</b> <%= children1.attributes["symbol"].value %><br>
                <% end %>

                <% children1.children.each do |children2| %>
                  <b>name:</b> <%= children2.name %><br>
                  <% if children2.attributes["value"].present? %>
                    <b>value:</b> <%= children2.attributes["value"].value %><br>
                  <% end %>
                  <% if children2.attributes["symbol"].present? %>
                    <b>symbol:</b> <%= children2.attributes["symbol"].value %><br>
                  <% end %>

                  <% children2.children.each do |children3| %>
                    <b>name:</b> <%= children3.name %><br>
                    <% if children3.attributes["value"].present? %>
                      <b>value:</b> <%= children3.attributes["value"].value %><br>
                    <% end %>
                    <% if children3.attributes["symbol"].present? %>
                      <b>symbol:</b> <%= children3.attributes["symbol"].value %><br>
                    <% end %>

                    <% children3.children.each do |children4| %>
                      <b>name:</b> <%= children4.name %><br>
                      <% if children4.attributes["value"].present? %>
                        <b>value:</b> <%= children4.attributes["value"].value %><br>
                      <% end %>
                      <% if children4.attributes["symbol"].present? %>
                        <b>symbol:</b> <%= children4.attributes["symbol"].value %><br>
                      <% end %>
                    <% end %>
                    
                  <% end %>
                  
                <% end %>
              <% end %>
            <% end %>
            <% if (children.children rescue nil).present? %>
              <%= children.children.text %><br>
            <% end %>
          </dd>
        <% end %>
      <% end %>
      
      <% if @adm.id == Usuario::ROOT %>
        <dt>Request send:</dt>
        <dd><%= @venda.request_send %></dd>
        <dt>Response get:</dt>
        <dd><%= @venda.response_get %></dd>
      <% end %>
      
      <dt>Status do processamento na operadora:</dt>
      <dd><%= @venda.status_movicel %></dd>
      <dt>Data criação:</dt>
      <dd><%= @venda.created_at.strftime("%d/%m/%Y %H:%M:%S") %></dd>
      <dt>Data atualizaçao:</dt>
      <dd><%= @venda.updated_at.strftime("%d/%m/%Y %H:%M:%S") %></dd>
      <% if @venda.partner.slug.to_s.downcase == "unitel" %>
        <hr>
        <dt>Id transação Unitel:</dt>
        <dd><%= @venda.response_get_parse["idTransaction"] rescue "" %></dd>
      <% end %>
    </dl>

    <div class="page-header">
      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>

      <% if @venda.partner.slug.downcase == "zaptv" && @venda.status != "7000" %>
        <%= link_to venda_reverter_venda_zaptv_path(@venda), class: 'btn btn-danger', "data-confirm"=>"Tem Certeza?", "data-method"=>"delete" do %>
          Reverter
        <% end %>
      <% end %>
    </div>
  </div>
</div>