<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <h3>Sequência de Vendas Unitel</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12 scroltable">
    <table class="table table-hover">
      <thead>
        <tr>
        <th scope="col">Sequência da Venda</th>
        <th scope="col">Data da Transação</th>
        <th scope="col">ID da Venda</th>
        <th colspan="3">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @unitel_sequences.each do |unitel_sequence| %>
        <tr>
          <td><%= unitel_sequence.sequence_id %></td>
          <td><%= unitel_sequence.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td><a href="/vendas/<%= unitel_sequence.venda.id %>"><%= unitel_sequence.venda.id %></a></td>
          <td><%= link_to 'Mostrar', unitel_sequence %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @unitel_sequences, :container => false %>
    </div> 

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>

  </div>
</div>