<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <h3>Sequência de Vendas Unitel</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12" style="margin-top:10px">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data Inicial da Transação</label>
            <div>
              <input type="date" name="data_inicio" value="<%= params[:data_inicio] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Data Final da Transação</label>
            <div>
              <input type="date" name="data_fim" value="<%= params[:data_fim] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Sequência da Venda</label>
            <div>
              <input type="text" name="sequence_id" value="<%= params[:sequence_id] %>" class="form-control">
            </div>
          </div>
        </div>        
        <div class="col-sm-3">
          <div class="form-group">
            <label>ID da Venda</label>
            <div>
              <input type="text" name="venda_id" value="<%= params[:venda_id] %>" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">
          <input type="submit" value="Buscar" class="btn btn-success">
          <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Voltar
          <% end %>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-12 scroltable">
    <h4>
      Quantidade de Transações: <strong><%= number_to_currency(@unitel_sequences_total, :precision => 0, :unit => "") %></strong>
    </h4>
    <hr>

    <table class="table table-hover">
      <thead>
        <tr>
        <th scope="col" class="text-center">Sequência da Venda</th>
        <th scope="col" class="text-center">Data da Transação</th>
        <th scope="col" class="text-center">ID Transação Unitel</th>
        <th scope="col" class="text-center">ID da Venda</th>
        <th colspan="3">Ações para o Registo</th>
        </tr>
      </thead>

      <tbody>
        <% @unitel_sequences.each do |unitel_sequence| %>
        <tr>
          <td class="text-center"><%= unitel_sequence.sequence_id %></td>
          <td class="text-center"><%= unitel_sequence.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td class="text-center"><%= unitel_sequence.venda.response_get_parse["idTransaction"] rescue "" %></td>
          <td class="text-center"><a href="/vendas/<%= unitel_sequence.venda.id %>"><%= unitel_sequence.venda.id %></a></td>
          <td><%= link_to 'Mostrar', unitel_sequence %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @unitel_sequences, :container => false %>
    </div> 

    <%= link_to backoffice_index_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>

  </div>
</div>