<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Sequência de Venda Unitel</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Sequência da Venda:</dt>
      <dd><%= @unitel_sequence.sequence_id %></dd>
      <dt><div class="col-md-12 scroltable">
      <% if @unitel_sequence.venda_id.present? %>
        <div class="col-md-12">Detalhe da Venda:</dt>
        <dd>
          <a href="/vendas/<%= @unitel_sequence.venda_id %>"><%= @unitel_sequence.venda_id %></a>
        </dd>
      <% else %>
        <div class="col-md-12">Erro:</dt>
        <dd>
          <%= @unitel_sequence.log %>
        </dd>
      <% end %>
    </dl>

    <div class="page-header">
      <%= link_to unitel_sequences_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
    </div>
  </div>
</div>