<div class="container">

  <h4>Mostrar UnitelSequence</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>Sequence:</dt>
      <dd><%= @unitel_sequence.sequence_id %></dd>
      <dt>Venda:</dt>
      <dd>
        <a href="/vendas/<%= @unitel_sequence.venda.id %>"><%= @unitel_sequence.venda.id %></a>
      </dd>
    </dl>

    <div class="page-header">
      <%= link_to unitel_sequences_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
    </div>
  </div>
</div>