<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Backoffice
                <small>Área Restrita</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %></li>
                <li class="active">Administrador</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                     <h3 class="panel-title"><span class="label label-danger">Usuários / Clientes</span></h3>
                </div>
                <div class="panel-body">
                    <span><%= link_to 'Matriz de Usuários', matrix_users_path %></span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><%= link_to 'Perfil Master', master_profiles_path %></li>
                    <li class="list-group-item"><%= link_to 'Subdistribuidores', sub_distribuidors_path %></li>
                    <li class="list-group-item"><%= link_to 'Subagentes', sub_agentes_path %></li>
                    <li class="list-group-item"><%= link_to 'Perfil de Usuários', perfil_usuarios_path %></li>
                    <li class="list-group-item"><%= link_to 'Usuários', usuarios_path %></li>
                    <li class="list-group-item"><%= link_to 'Status Clientes / Usuários', status_clientes_path %></li>
                    <li class="list-group-item"><%= link_to 'Unipessoal / Empresa', uni_pessoal_empresas_path %></li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="label label-danger">Parceiros / Produtos</span></h3>
                </div>
                <div class="panel-body">
                    <span><%= link_to 'Parceiros', partners_path %></span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><%= link_to 'Produtos', produtos_path %></li>
                    <li class="list-group-item"><%= link_to 'Status de Parceiros', status_parceiros_path %></li>
                    <li class="list-group-item"><%= link_to 'Status de Produtos', status_produtos_path %></li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="label label-danger">Remuneração / Margem</span></h3>
                </div>
                <div class="panel-body">
                    <span><%= link_to 'Remuneração Clientes', remuneracaos_path %></span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                     <h3 class="panel-title"><span class="label label-success">Transações</span></h3>
                </div>
                <div class="panel-body">
                    <span><%= link_to 'Tipos de Transações', tipo_transacaos_path %></span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><%= link_to 'Vendas', vendas_path %></li>
                    <li class="list-group-item"><%= link_to 'Return Codes', return_code_apis_path %></li>
                    <li class="list-group-item"><%= link_to 'Sequência de Vendas Unitel', unitel_sequences_path %></li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="label label-success">Conta Corrente</span></h3>
                </div>
                <div class="panel-body">
                    <span><%= link_to 'Conta Corrente', conta_correntes_path %></span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><%= link_to 'Lista de Bancos', bancos_path %></li>
                    <li class="list-group-item"><%= link_to 'Tipos de Lançamentos', lancamentos_path %></li>
                    <li class="list-group-item"><%= link_to 'Status de Alegações de Pagamentos', status_alegacao_pagamentos_path %></li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="label label-success">Tabelas Auxiliares</span></h3>
                </div>
                <div class="panel-body">
                    <span><%= link_to 'Ramos de Atividade', industries_path %></span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><%= link_to 'Dispositivos', dispositivos_path %></li>
                    <li class="list-group-item"><%= link_to 'Canais de Venda', canal_vendas_path %></li>
                    <li class="list-group-item"><%= link_to 'Países', countries_path %></li>
                    <li class="list-group-item"><%= link_to 'Províncias', provincia_path %></li>
                    <li class="list-group-item"><%= link_to 'Municípios', municipios_path %></li>
                    <li class="list-group-item"><%= link_to 'Moedas', moedas_path %></li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
