<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Backoffice
                <small>Área Restrita</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %></li>
                <li class="active">Serviços</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                     <h3 class="panel-title"><span class="label label-danger">Usuários / Clientes</span></h3>
                </div>
                <div class="panel-body">
                    <% if PerfilUsuario.tem_acesso?(usuario_logado, :MatrixUsersController, :index) %>
                    <span><%= link_to 'Matriz de Usuários', matrix_users_path %></span>
                    <% end %>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :MasterProfilesController, :index) %>
                        <%= link_to 'Perfil Master', master_profiles_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :SubDistribuidorsController, :index) %>
                        <%= link_to 'Subdistribuidores', sub_distribuidors_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :SubAgentesController, :index) %>
                        <%= link_to 'Subagentes', sub_agentes_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :PerfilUsuariosController, :index) %>
                        <%= link_to 'Perfis de Usuários', perfil_usuarios_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :UsuariosController, :index) %>
                        <%= link_to 'Usuários', usuarios_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :StatusClientesController, :index) %>
                        <%= link_to 'Situação de Clientes / Usuários', status_clientes_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :UniPessoalEmpresasController, :index) %>
                        <%= link_to 'Unipessoal / Empresa', uni_pessoal_empresas_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="label label-danger">Parceiros / Produtos</span></h3>
                </div>
                <div class="panel-body">
                    <% if PerfilUsuario.tem_acesso?(usuario_logado, :PartnersController, :index) %>
                    <span><%= link_to 'Parceiros', partners_path %></span>
                    <% end %>
                </div>
                <ul class="list-group">
                    
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :ProdutosController, :index) %>
                        <%= link_to 'Produtos', produtos_path %>
                        <% end %>
                    </li>
                    
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :StatusParceirosController, :index) %>
                        <%= link_to 'Situação de Parceiros', status_parceiros_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="label label-danger">Remuneração / Margem</span></h3>
                </div>
                <div class="panel-body">
                    <% if PerfilUsuario.tem_acesso?(usuario_logado, :RemuneracaosController, :index) %>
                    <span><%= link_to 'Remuneração Clientes', remuneracaos_path %></span>
                    <% end %>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                     <h3 class="panel-title"><span class="label label-success">Transações</span></h3>
                </div>
                <div class="panel-body">
                    <% if PerfilUsuario.tem_acesso?(usuario_logado, :TipoTransacaosController, :index) %>
                    <span><%= link_to 'Tipos de Transações', tipo_transacaos_path %></span>
                    <% end %>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :VendasController, :index) %>
                        <%= link_to 'Vendas', vendas_path %>
                        <% end %>
                    </li>

                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :ReturnCodeApisController, :index) %>
                        <%= link_to 'Return Codes', return_code_apis_path %>
                        <% end %>
                    </li>

                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :UnitelSequencesController, :index) %>
                        <%= link_to 'Sequência de Vendas Unitel', unitel_sequences_path %>
                        <% end %>
                    </li>

                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :ParametrosController, :index) %>
                        <%= link_to 'Parâmetros de Integração', parametros_path %>
                        <% end %>
                    </li>

                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="label label-success">Conta Corrente</span></h3>
                </div>
                <div class="panel-body">
                    <% if PerfilUsuario.tem_acesso?(usuario_logado, :ContaCorrentesController, :index) %>
                    <span><%= link_to 'Conta Corrente', conta_correntes_path %></span>
                    <% end %>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :BancosController, :index) %>
                        <%= link_to 'Lista de Bancos', bancos_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :LancamentosController, :index) %>
                        <%= link_to 'Tipos de Lançamentos', lancamentos_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :StatusAlegacaoPagamentosController, :index) %>
                        <%= link_to 'Situação de Alegações de Pagamentos', status_alegacao_pagamentos_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="label label-success">Tabelas Auxiliares</span></h3>
                </div>
                <div class="panel-body">
                    <% if PerfilUsuario.tem_acesso?(usuario_logado, :IndustriesController, :index) %>
                    <span><%= link_to 'Ramos de Atividade', industries_path %></span>
                    <% end %>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :DispositivosController, :index) %>
                        <%= link_to 'Dispositivos', dispositivos_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :CanalVendasController, :index) %>
                        <%= link_to 'Canais de Venda', canal_vendas_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :CountriesController, :index) %>
                        <%= link_to 'Países', countries_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :ProvinciaController, :index) %>
                        <%= link_to 'Províncias', provincia_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :MunicipiosController, :index) %>
                        <%= link_to 'Municípios', municipios_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <% if PerfilUsuario.tem_acesso?(usuario_logado, :MoedasController, :index) %>
                        <%= link_to 'Moedas', moedas_path %>
                        <% end %>
                    </li>
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
