<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">

      <%= simple_form_for(@matrix_user) do |f| %>
        <% if @matrix_user.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@matrix_user.errors.count, "erros") %> na matriz de usuários, confira abaixo:</h4>

            <ul>
            <% @matrix_user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-6">
          <%= f.label :usuario_id, "Usuário" %>
          <%= f.select :usuario_id, Usuario.all.collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.label :master_profile, "Perfil Principal" %>
          <%= f.select :master_profile, MasterProfile.all.collect{|d| [d.description, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.label :sub_distribuidor, "Subdistribuidor" %>
          <%= f.select :sub_distribuidor, SubDistribuidor.all.collect{|d| [d.nome, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>   
        </div>

        <div class="form-input col-sm-6">
          <%= f.label :sub_agente, "Subagente" %>
          <%= f.select :sub_agente, SubAgente.all.collect{|d| [d.nome_fantasia, d.id]}, {:include_blank => "[Selecione]"}, required:true, class: "form-control" %>      
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :filial %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :pdv, :label => "PDV" %>
        </div>

        <div class="form-actions col-sm-12">
          <%= f.button :button, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-ok"></span>
            Confirmar
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>
