<div class="container scroltable">

  <h3>Matriz de Usuários</h3>

   <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
 
 <p class="text-left">Lista da relação e da hierarquia dos clientes em relação ao serviço de venda.</p>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Usuário</th>
          <th scope="col">Master Profile</th>
          <th scope="col">Subdistribuidor</th>
          <th scope="col">Subagente</th>
          <th scope="col">Filial</th>
          <th scope="col">PDV</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @matrix_users.each do |matrix_user| %>
          <tr>
            <td>
              <%= matrix_user.usuario.nome rescue "" %>
            </td>
            <td>
              <%= "#{matrix_user.master_profile}/#{matrix_user.master_profile_obj.description}" %>
            </td>
            <td>
              <%= "#{matrix_user.sub_distribuidor}/#{matrix_user.sub_distribuidor_obj.nome}" %>
            </td>
            <td>
              <%= "#{matrix_user.sub_agente}/#{matrix_user.sub_agente_obj.nome_fantasia}" %>
            </td>
            <td><%= matrix_user.filial %></td>
            <td><%= matrix_user.pdv %></td>
            <td><%= link_to 'Mostrar', matrix_user %></td>
            <td><%= link_to 'Editar', edit_matrix_user_path(matrix_user) %></td>
            <td><%= link_to 'Apagar', matrix_user, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to new_matrix_user_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Registro
    <% end %>    

    <%= link_to root_path, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>
