<div class="container">
  <p id="notice"><%= notice %></p>

  <h4>Matriz de Usuários</h4>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Usuário</th>
        <th scope="col">Master Profile</th>
        <th scope="col">Sub Distribuidor</th>
        <th scope="col">Sub Agente</th>
        <th scope="col">Filial</th>
        <th scope="col">PDV</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @matrix_users.each do |matrix_user| %>
        <tr>
          <td>
            <%= matrix_user.user_id %>
          </td>
          <td>
            <%= "#{matrix_user.master_profile} / #{matrix_user.master_profile_obj.description}" %>
          </td>
          <td>
            <%= "#{matrix_user.sub_distribuidor} / #{matrix_user.sub_distribuidor_obj.nome}" %>
          </td>
          <td>
            <%= "#{matrix_user.sub_agente} / #{matrix_user.sub_agente_obj.nome_fantasia}" %>
          </td>
          <td><%= matrix_user.filial %></td>
          <td><%= matrix_user.pdv %></td>
          <td><%= link_to 'Mostrar', matrix_user %></td>
          <td><%= link_to 'Editar', edit_matrix_user_path(matrix_user) %></td>
          <td><%= link_to 'Apagar', matrix_user, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo Registro', new_matrix_user_path %> |
  <%= link_to 'Voltar', root_path %>
</div>