<div class="col-sm-12">
  <div class="col-sm-12">
    <h3>Matriz de Usuários</h3>
  </div>
  <br>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-sm-12">
    <form action="" method="get" id="formApuracao">
      <div class="row" style="padding:10px">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Nome do Usuário</label>
            <div>
              <input type="text" name="nome" value="<%= params[:nome] %>" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Login</label>
            <div>
              <input type="text" name="login" value="<%= params[:login] %>" class="form-control">
            </div>
          </div>
        </div>    
        <div class="col-sm-5">
          <div class="form-group">
            <label>Perfil Usuário</label>
            <div>
              <select name="perfil_usuario_id" onchange="pgstrans.carregaMasterProfile(this)" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% PerfilUsuario.all.reorder("nome asc").each do |perfil_usuario| %>
                  <option value="<%= perfil_usuario.id %>" <% if perfil_usuario.id.to_s == params[:perfil_usuario_id] %> selected="selected" <% end %> ><%= perfil_usuario.nome %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Distribuidor</label>
            <div>
              <select name="sub_distribuidor_id" onchange="pgstrans.carregaSubDistribuidor(this)" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% SubDistribuidor.all.reorder("nome asc").each do |sub_distribuidor| %>
                  <option value="<%= sub_distribuidor.id %>" <% if sub_distribuidor.id.to_s == params[:sub_distribuidor_id] %> selected="selected" <% end %> ><%= sub_distribuidor.nome %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Agente</label>
            <div>
              <select name="sub_agente_id" onchange="pgstrans.carregaSubAgente(this)" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% SubAgente.all.reorder("nome_fantasia asc").each do |sub_agente| %>
                  <option value="<%= sub_agente.id %>" <% if sub_agente.id.to_s == params[:sub_agente_id] %> selected="selected" <% end %> ><%= sub_agente.nome_fantasia %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Empresa Padrão</label>
            <div>
              <select name="master_profile_id" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% MasterProfile.all.reorder("description asc").each do |master_profile| %>
                  <option value="<%= master_profile.id %>" <% if master_profile.id.to_s == params[:master_profile_id] %> selected="selected" <% end %> ><%= master_profile.description %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Grupo de Acesso</label>
            <div>
              <select name="grupo_id" class="form-control">
                <option value="" selected="'selected'">Todos</option>
                <% Grupo.all.reorder("unaccent(nome) asc").each do |grupo| %>
                  <option value="<%= grupo.id %>" <% if grupo.id.to_s == params[:grupo_id] %> selected="selected" <% end %> ><%= grupo.nome %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div style="float: right;margin-right:10px">

          <%= button_tag(type: 'submit', class: "btn btn-info", value: "Buscar", style: "width: 150px;text-align: center;margin-right: 0px;") do %>
              <span class="glyphicon glyphicon-search"></span> Buscar
          <% end %>

          <%= link_to backoffice_index_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
            <span class="glyphicon glyphicon-arrow-left"></span>
            Voltar
          <% end %>

        </div>
    </form>
  </div>  
  <div class="col-sm-12">
    <h4>
      Total de ocorrências: <%= @usuarios.count %> registo(s)
    </h4>
    <hr>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Usuário</th>
          <th scope="col">Empresa Padrão</th>
          <th scope="col">Distribuidor/Empresa</th>
          <th scope="col">Agente</th>
          <th scope="col">Hierarquia de Acesso aos Dados</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @usuarios.each do |usuario| %>
          <tr>
            <td>
              <b>Login: </b><%= usuario.login rescue "" %><br>
              <b>Nome: </b><%= usuario.nome rescue "" %><br>
              <b>Perfil: </b><%= usuario.perfil_usuario.nome rescue "" %>
            </td>
            <td>
              <%= usuario.master_profile.description %>
            </td>
            <td>
              <%= usuario.sub_distribuidor.nome %>
            </td>
            <td>
              <%= usuario.sub_agente.nome_fantasia %>
            </td>
            <td>
              <ul>
                <% usuario.grupo_usuarios.each do |gu| %>
                  <li><%= "#{gu.grupo.grupo_pai.nome} -> " rescue "" %><%= gu.grupo.nome %></li>
                <% end %>
              </ul>
            </td>
            <td><%= link_to 'Mostrar', usuario %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-sm-12">
    <div class="apple_pagination">
      <%= will_paginate @usuarios, :container => false %>
    </div> 

    <%= link_to backoffice_index_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Voltar
    <% end %>
  </div>
</div>
