<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @matrix_user.user_id %>
</p>

<p>
  <strong>Master profile:</strong>
  <%= @matrix_user.master_profile %>
</p>

<p>
  <strong>Sub dist:</strong>
  <%= @matrix_user.sub_dist %>
</p>

<p>
  <strong>Sub agent:</strong>
  <%= @matrix_user.sub_agent %>
</p>

<p>
  <strong>Filial:</strong>
  <%= @matrix_user.filial %>
</p>

<p>
  <strong>Pdv:</strong>
  <%= @matrix_user.pdv %>
</p>

<%= link_to 'Edit', edit_matrix_user_path(@matrix_user) %> |
<%= link_to 'Back', matrix_users_path %>
