<div class="container">

  <h4>Detalhe da Matriz do Usuário</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    <p id="notice"><%= notice %></p>

      <p>
        <strong>ID:</strong>
        <%= @matrix_user.usuario.id rescue "" %>
      </p>

      <p>
        <strong>Usuário:</strong>
        <%= @matrix_user.usuario.nome rescue "" %>
      </p>

      <p>
        <strong>Master Profile:</strong>
        <%= "#{@matrix_user.master_profile}/#{@matrix_user.master_profile_obj.description}" %>
      </p>

      <p>
        <strong>Sub Distribuidor:</strong>
        <%= "#{@matrix_user.sub_distribuidor}/#{@matrix_user.sub_distribuidor_obj.nome}" %>
      </p>

      <p>
        <strong>Sub Agente:</strong>
        <%= "#{@matrix_user.sub_agente}/#{@matrix_user.sub_agente_obj.nome_fantasia}" %>
      </p>

      <p>
        <strong>Filial:</strong>
        <%= @matrix_user.filial %>
      </p>

      <p>
        <strong>PDV:</strong>
        <%= @matrix_user.pdv %>
      </p>

      <%= link_to edit_matrix_user_path(@matrix_user), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-edit"></span>
        Editar
      <% end %>


      <%= link_to matrix_users_path, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
  </div>
</div>
