<div class="col-md-12" data-target="toggle.grid">
  <div class="card border-simpleform box-shadow mb-4">
    <div class="card-header text-simpleform d-flex align-items-center justify-content-between">
      <div>
        <strong>Dados</strong><br />
      </div>
    </div>
  </div>

  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap align-items-center justify-content-between">
      
      <%= simple_form_for(@dispositivo, html: { class: "form-vertical", role: "form" }) do |f| %>
        <% if @dispositivo.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@dispositivo.errors.count, "erros") %> no dispositivo, confira abaixo:</h4>

            <ul>
            <% @dispositivo.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input col-sm-6">
          <%= f.input :nome, placeholder: "Descrição do dispositivo" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :marca, placeholder: "Marca" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :modelo, placeholder: "Modelo" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :numero_serie, :label => "Número de Série", placeholder: "Número de série" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :macaddr, :label => "MAC Address", placeholder: "MAC Address do dispositivo" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :imei, :label => "IMEI 1", placeholder: "IMEI 1" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :imei2, :label => "IMEI 2", placeholder: "IMEI 2" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :rated, :label => "RATED Power", placeholder: "Potência" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :screensize, :label => "Tamanho de Ecrã", placeholder: "Tamanho de Ecrã" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :so, :label => "Sistema Operativo", placeholder: "Sistema Operativo" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :ram_rom, :label => "RAM / ROM", placeholder: "RAM / ROM" %>
        </div>

        <div class="form-input col-sm-6">
          <%= f.input :conectividade, :label => "Conectividade", placeholder: "Conectividade" %>
        </div>        

        <div class="form-actions col-sm-12">
          <%= f.button :button, class: 'btn btn-danger' do %>
            <span class="glyphicon glyphicon-ok"></span>
            Confirmar
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

