<h4>Dados de Dispositivo</h4>

<!-- Page Heading/Breadcrumbs -->
<%= render :partial => 'shared/header_backoffice' %>
<!-- /.row -->

<dl class="dl-horizontal">
  <dt>ID:</dt>
  <dd><%= @dispositivo.id %></dd>
  <dt>Nome:</dt>
  <dd><%= @dispositivo.nome %></dd>
  <dt>Marca:</dt>
  <dd><%= @dispositivo.marca %></dd>
  <dt>Modelo:</dt>
  <dd><%= @dispositivo.modelo %></dd>
  <dt>Número série:</dt>
  <dd><%= @dispositivo.numero_serie %></dd>
  <dt>Macaddr:</dt>
  <dd><%= @dispositivo.macaddr %></dd>
  <dt>IMEI:</dt>
  <dd><%= @dispositivo.imei %></dd>
</dl>

<div class="page-header">
  <%= link_to dispositivos_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_dispositivo_path(@dispositivo), class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</div>