<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Detalhes do Dispositivo</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <dl class="dl-horizontal">
    <dt>ID:</dt>
    <dd><%= @dispositivo.id %></dd>
    <dt>Nome:</dt>
    <dd><%= @dispositivo.nome %></dd>
    <dt>Marca:</dt>
    <dd><%= @dispositivo.marca %></dd>
    <dt>Modelo:</dt>
    <dd><%= @dispositivo.modelo %></dd>
    <dt>Número série:</dt>
    <dd><%= @dispositivo.numero_serie %></dd>
    <dt>MACAddr:</dt>
    <dd><%= @dispositivo.macaddr %></dd>
    <dt>IMEI 1:</dt>
    <dd><%= @dispositivo.imei %></dd>
    <dt>IMEI 2:</dt>
    <dd><%= @dispositivo.imei2 %></dd>
    <dt>RATED / Potência:</dt>
    <dd><%= @dispositivo.rated %></dd>
    <dt>Tamanho de Ecrã:</dt>
    <dd><%= @dispositivo.screensize %></dd>
    <dt>Sistema Operativo:</dt>
    <dd><%= @dispositivo.so %></dd>
    <dt>RAM / ROM:</dt>
    <dd><%= @dispositivo.ram_rom %></dd>
    <dt>Conectividade:</dt>
    <dd><%= @dispositivo.conectividade %></dd>
  </dl>

  <div class="col-md-12 page-header">
    <%= link_to dispositivos_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Voltar
    <% end %>
    <%= link_to edit_dispositivo_path(@dispositivo), class: 'btn btn-warning' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Editar
    <% end %>
  </div>
</div>